<div class="well">
  
  <%= form_for(@template) do |f| %>
    <% if @template.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>
        <ul>
        <% @template.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  


<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field"> 
		<div class="span2">Societe : </div><%= f.text_field :company ,{ :class => 'required'}%><span class="req" />
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="span2">Adresse : </div><%= f.text_field :adress %>
    </div>
  </div>
</div>
 
<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field"> 
		<div class="span2">Ville : </div><%= f.text_field :city %>
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="span2">Code postal : </div><%= f.text_field :zip %>
    </div>
  </div>
</div>
    
<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field"> 
		<div class="span2">Pays :</div> <%= f.text_field :country %>
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="span2">Téléphone :</div><%= f.text_field :tel %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field"> 
		<div class="span2">Fax :</div> <%= f.text_field :fax %>
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="span2">Site internet :</div> <%= f.text_field :web %>
    </div>
  </div>
</div>
    
<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field"> 
		<div class="span2">E-mail :</div> <%= f.text_field :email %>
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="span2">Infos sur le capital :</div> <%= f.text_field :capital %>
    </div>
  </div>
</div>
    

<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field"> 
		<div class="span2">APE :</div> <%= f.text_field :ape %>
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="span2">SIRET :</div> <%= f.text_field :company_registration_number %>
    </div>
  </div>
</div>
    

<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field"> 
		<div class="span2">N°TVA :</div> <%= f.text_field :vat %>
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="span2">Taux TVA (%) :</div> <%= f.text_field :vat_rate ,{ :class => 'required'}%><span class="req" />
    </div>
  </div>
</div>

<br>	

<% if @template.attach.exists? %>     
<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field">
		<div class="field"><div class="span2">Logo : </div><%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + @template.attach_file_name, @template.attach.url, :target => '_blank' %></div>	
	</div>
  </div>
  <div>
      <div class="field"> 
		<div class="field"><div class="span2">Nouveau logo : </div><%= f.file_field :attach, :style=>'width: 20em;' %></div>
    </div>
  </div>  
</div>
<% else %>
<div class="row-fluid">
  <div class="span5 offset1">
	<div class="field">
		<div class="field"><div class="span2">Logo : </div><%= f.file_field :attach, {:style=>'width: 20em;', :class => 'required' } %></div>
	</div>
  </div>
</div>
<% end %>

      <br />
  	
	<div class="field">
    <% if !@template.id.nil? %>
		<div class="span9"> Créé par : <%= @template.author.full_name %>, le </strong><%= @template.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% if !@template.updated_by.nil? %>
			<div class="span9"> Dernièrement modifié par : <%= @template.editor.full_name %>, le <%= @template.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% else %>
		<% end %>
		
	<% end %>
	</div>
	  
	<hr /> 


    
  <div class="row">
    <%= if !@template.id.nil? then f.button 'Modifier le modèle', :type => :submit, :class =>"btn btn-primary",:id =>"template_validate_form" else f.button 'Créer un modèle', :type => :submit, :class =>"btn btn-primary",:id =>"template_validate_form" end%>
    <%= if !@template.id.nil? then link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, @template, :title => "Supprimer le modèle", :confirm => 'Confirmer la suppression ?', :class=>"pull-right btn", :method => :delete end %> 

  </div>    
    
    
  <% end %>
</div>
