<%= render 'title', :locals => { :title => @title }%>
<div class="container-fluid">
  <table class="table table-bordered table-striped">
   <thead> 
    <tr>
        <th><center>#</center></th>
        <th><center>Societe</center></th>
        <th><center>Éditer</center></th>
    </tr>
   </thead>
  <tbody> 
  <% @templates.each do |template| %>
    <tr>
      <td class="text-center"><%= template.id %></td>
      <td class="text-center"><%= template.company %></td>
      <td class="text-center"><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_quotation_template_path(template),{:title => "Éditer le modèle", :class=>"btn"} %></center></td>      
    </tr>
  <% end %>
  </tbody>
  </table>
  
  <br />
  
  <%= paginate @templates %> 
  
</div>
