<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">
  
  <table class="table table-bordered table-striped">
   <thead> 
    <tr>
        <th>Id</th>
        <th>Societe</th>
        <th>Éditer</th>
    </tr>
   </thead>
   
  <tbody> 
  <% @templates.each do |template| %>
    <tr>
      <td><%= template.id %></td>
      <td><%= template.company %></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_quotationTemplate_path(template),{:title => "Éditer le modèle"} %></td>      
    </tr>
  <% end %>
  </tbody>
  </table>
  
  <br />
  
  <%= paginate @templates %> 
  
</div>
