<%= form_for(@tache, :html => { :class => "well "}) do |f| %>
  <% if @tache.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tache.errors.count, "error") %> prohibited this tache from being saved:</h2>

      <ul>
      <% @tache.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    
      <div class="span2"> Compte : </div>
      <%= f.collection_select :compte_id, Compte.order('societe ASC').all, :id, :societe, {:include_blank => true} %>
      <span class="label label-info" id="tache_notice"  style="display: none; margin-left: 2em;"><i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant</span>
    
  </div> 


 



  <div class="field" id="nameContacts">
    <%= render :partial => 'contacts' %>
  </div>
  
  <div class="field">
    <div class="span2"> Affectée à : </div> <%= f.collection_select :user_id, User.all, :id, :nom_complet %> <%= check_box_tag :mail, "yes"%> Envoyer un email à ce collaborateur
  </div>
  
  <div class="field">
    <div class="span2">Description : </div> <%= f.text_area :notes , :display_with => :simple_format, :rows => "5", :style=>'width: 30em;'%>
  </div>

  <div class="field">
    <div class="span2"> Statut : </div> <%= f.select :statut, Tache::STATUTS %>
  </div>
  
  <div class="field">
    <div class="span2"> Echéance :  </div> <%= f.text_field :echeance %>
  </div>  
  
  <div class="field">
    <div class="span2">Pièce jointe :</div>  <%= if @tache.fichier_joint.exists? then link_to image_tag('glyphicons/glyphicons_036_file.png') + ' ' + @tache.fichier_joint_file_name, @tache.fichier_joint.url, :target => '_blank' end%>
                                             <%= f.file_field :fichier_joint, :style=>'width: 20em;' %>
 
       
  </div>
  <br />
  <div class="field">
    <div class="span2"><%= check_box_tag :generate, "yes" %> Infos de l'événement</div>
  </div>
  <br />
  
  <div id="tache_values" style="display: none;">
  <div class="row">
    <div class="span12">
      Type de l'évènement : <br /> <%= collection_select :type, :id ,Type.order('libelle'),:id, :type_complet, {:style =>"width: 100%"}%>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      Notes de l'évènement : <br /> <%= text_area_tag :notes , nil,:display_with => :simple_format, :rows => "5", :style=>'width: 30em;'%>
    </div>
  </div>
  </div>
  <br /><br />
  
  <div class="row">
      <div class="span2">
      <%= link_to image_tag("glyphicons/glyphicons_221_unshare.png"), :back %>
      </div>
      <%= f.submit :class =>"btn btn-primary"%>     
  </div>

<% end %>
