<%= render 'filter', :locals => { :filter => @filter }%>
<%= render 'titre', :locals => { :titre => @titre }%>

<div class="container-fluid">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Statut</th>
        <th>Compte</th>
        <th>Description</th>
        <th>Contact</th>
        <th>Échéance</th>
        <th>Collaborateur</th>
        <th>Éditer</th>      
      </tr>
    </thead>
    <tbody>
      <% @taches.each do |tache| %>
      <tr>
        <td><%= tache.id %></td>
        <td>
          <% if tache.statut == "A faire"%>
            <span class="badge badge-important">
          <% elsif tache.statut == "En cours"%>
            <span class="badge badge-warning">
          <% elsif tache.statut == "Terminé"%>
            <span class="badge badge-success">
          <% elsif tache.statut == "Annulé"%>
            <span class="badge badge-inverse">
          <% else %>
            <span class="badge badge-info">
          <% end %>
          <%= tache.statut %></span>
        </td>
        <td><%= if !tache.compte.nil? then link_to tache.compte.societe , compte_evenements_url(tache.compte),{:title => "Afficher les évenements"} end%></td>
        <td class="descrip"><%= truncate(tache.notes, :length => 300, :separator => ' ')%></td>
        <td><%= if !tache.contact.nil? then link_to tache.contact.nom_complet, edit_contact_path(tache.contact),{:title => "Éditer le contact"}  end%></td>
        <td><%= tache.echeance.split('/').reverse!.join('/') %></td>
        <td><%= if !tache.user.nil? then tache.user.nom_complet end%></td>
        <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_tach_path(tache) ,{:title => "Éditer la tâche"}  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <br />
  
  <%= paginate @taches %> 

</div>
