<%= render 'titre', :locals => { :titre => @titre }%>

<div class="container-fluid">
  
  <table class="table table-bordered table-striped">
   <thead> 
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Editer</th>
      <th>Supp.</th> 
    </tr>
   </thead>
   
  <tbody> 
  <% @origines.each do |origine| %>
    <tr>
      <td><%= origine.nom %></td>
      <td><%= truncate(origine.description, :length => 300, :separator => ' ')%></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_origine_path(origine) %></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), origine, :title => "Supprimer l'origine", :confirm => 'Confirmer la suppression ?', :method => :delete %></td>   
      
    </tr>
  <% end %>
  </tbody>
  </table>
  
  <br />
  
  <%= paginate @origines %> 
  
</div>
