<div class="container-fluid" style="margin-top: 1em;">
  
  <table class="table table-bordered table-striped">
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Voir</th>
      <th>Editer</th>
    </tr>
  
  <% @origines.each do |origine| %>
    <tr>
      <td><%= origine.nom %></td>
      <td><%= truncate(origine.description, :length => 300, :separator => ' ')%></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_029_notes_2.png"), origine %></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_origine_path(origine) %></td>
    </tr>
  <% end %>
  </table>
  
  <br />
  
  <%= paginate @origines %> <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_origine_path %>
  
</div>
