<div class="container-fluid">
  
  <div class="page-header">
    <h2>Édition du compte utilisateur</h2>
  </div>
  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put , :class => "well"}) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">Login : <br />
    <%= f.email_field :email , :disabled => true%>
    <a id="profil_mdp" class="btn btn-success btn-small" data-toggle="modal" href="#edit_profile_modal" style="margin-bottom: 8px;">Modifier mon mot de passe</a>
    </div>
    
    <div class="field">Prénom : <br />
    <%= f.text_field :prenom %></div>

    <div class="field">Nom : <br />
    <%= f.text_field :nom %></div>
       
    <div class="field">Tél fixe : <br />
    <%= f.text_field :tel %></div>
    
    <div class="field">Tél mobile : <br />
    <%= f.text_field :mobile %></div>
    
    <div class="modal hide fade" id="edit_profile_modal">
      
      <div class="modal-header">
        <button type="button" class="close" id="profil_annuler" data-dismiss="modal">×</button>
        <h3>Modification du mot de passe</h3>
      </div>
      
      <div class="modal-body">
        <div class="span3">
          Nouveau mot de passe : <br />
          <%= f.password_field :password, {:id => "pwd", :autocomplete => "off"} %>
        </div>
        
        <div class="span3">
          Confirmer mot de passe : <br />
        <%= f.password_field :password_confirmation , :id => "pwd_confirm"%>
        </div>
  
        
        <div class="span3">
          Mot de passe actuel : (obligatoire)<br />
          <%= f.password_field :current_password, :id => "c_pwd" %>
        </div>
      
      </div>
      
      <div class="modal-footer">
        <a href="#" id="profil_annuler" class="btn" data-dismiss="modal">Annuler </a>
        <a href="#" id="profil_valider" class="btn btn-primary" data-dismiss="modal">Valider</a>
      </div>
      
  </div>
  
  <div class="field">
    <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back ,{:title => "Retour"} %>
    <%= f.submit "Modifier", :class =>"btn btn-primary" , :style =>"margin-left: 122px;"%>
  </div>
  
  <% end %>

</div>
