<div class="container-fluid" style="margin-top: 1em;">
  
     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1>Utilisateurs enregistrés</h1></div>
		       <% if current_user.has_role? :admin %>
    <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_user_path ,{:title => "Créer un utilisateur", :class=>"btn pull-right"} %>
    <% end %>
         
		</div>
	 </div>
  <p>
    <h3>Utilisateurs actifs : <%= @all_reals_user_count %> </h3>

  </p>
  <% if @users.length > 0 %>
  </br>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">Nom</th>
        <th class="text-center">Login / e-mail</th>
        <th class="text-center">Rôles</th>
        <% if current_user.has_role?(:super_user) or current_user.has_role?(:admin) %>
			    <% if current_user.has_role?(:admin) %><th class="text-center">État</th><% end %>
			    <th class="text-center">Éditer</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |u| %>
      <tr>
        <td class="text-center"><strong><%= u.full_name %></strong></td>
        <td class="text-center"><%= mail_to u.email %></td>
        <td class="text-center">
	<% if u.roles.length > 0 %>
	  <% if u.roles[0].name == 'admin' %>
	  <span class="badge badge-important"> <%= t('app.roles.admin') %> </span>
	  <% end %>
	  <% if u.roles[0].name == 'super_user' %>
	  <span class="badge badge-warning"> <%= t('app.roles.super_user') %> </span>
	  <% end %>
	<% else %>
	 <span class="badge badge-info"> Utilisateur </span>
	<% end %>
	</td>
        <% if current_user.has_role?(:admin) %>
          <% if u.enabled? %>
            <td class="text-center"><span class="label label-success">Activé</span></td>
          <% else %>
            <td class="text-center"><span class="label label-inverse">Désactivé</span></td>
          <% end %>
        <% end %>
        <% if current_user.has_role?(:super_user) or current_user.has_role?(:admin) %>
        <td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_user_path(u) ,{:title => "Éditer #{u.full_name}"} %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>
