<div class="container-fluid">
  <div class="page-header">
    <h2> Création de compte utilisateur</h2>
  </div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "well"}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>
  
 
  <div><%= f.label :prenom %> <i></i>
  <%= f.text_field :prenom %></div>

  <div><%= f.label :nom %> <i></i>
  <%= f.text_field :nom %></div>
  
  <div><%= f.submit "Créer", :class =>"btn btn-primary" %></div>
  <br />
  <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back %>
<% end %>

<%#= render "links" %>
</div>
