<div class="container-fluid" style="margin-top: 1em;">
  
     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1>Nouvel Utilisateur</h1></div>
		     <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back ,{:title => "Retour", :class =>"pull-right btn"} %>
		</div>
	 </div>

<%= form_for(@user, :as => resource_name, :url => users_path, :html => { :method => :post,:class => "well" }) do |f| %>
  <%= devise_error_messages! %>

  
  <div class="field"> 
	<div class="span3"> Adresse e-mail (Login) : </div>  <%= f.email_field :email, { :required => 'required', :style=>'width: 20em;'} %><span class="req" />
  </div>

  <div class="field"> 
	<div class="span3"> Mot de passe : </div>  <%= f.password_field :password, { :required => 'required', :style=>'width: 20em;' } %><span class="req" />
  </div>  

  <div class="field"> 
	<div class="span3"> Confirmation du mot de passe : </div>  <%= f.password_field :password_confirmation, { :required => 'required', :style=>'width: 20em;' } %><span class="req" />
  </div>

  <div class="field"> 
	<div class="span3"> Prénom : </div>  <%= f.text_field :forename, { :required => 'required', :style=>'width: 20em;' } %><span class="req" />
  </div>  
  
  <div class="field"> 
	<div class="span3"> Nom de famille : </div>  <%= f.text_field :surname, { :required => 'required', :style=>'width: 20em;' } %><span class="req" />
  </div> 


  <% if !@first_creation %>
	<div>
      <label for="user[enabled]" class="checkbox">
        <input type="checkbox" checked="checked" name="user[enabled]" id="user[enabled]" value="1" />Compte Activé
      </label>
	</div>
     <% if !@user.has_role?(:super_user) and current_user.has_role?(:super_user) or current_user.has_role?(:admin) %>
  <div>
     <label for="super" class="checkbox">
		   <%= check_box_tag('super', 1, @user.has_role?(:super_user),{ :class => 'checkbox' }) %>Droits "Super Utilisateur"
     </label>
  </div>
    <% end %>
  <% end %>
  <br />
  <div><%= f.submit "Créer", :class =>"btn btn-primary" %></div>
  <br />
<% end %>
</div>
