<div class="container-fluid" style="margin-top: 1em;">
  
     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1>Nouvel Utilisateur</h1></div>
			<%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, :back ,{:title => "Retour", :class =>"pull-right"} %>
		</div>
	 </div>

<%= form_for(@user, :as => resource_name, :url => users_path, :html => { :method => :post,:class => "well" }) do |f| %>
  <%= devise_error_messages! %>

  
  <div class="field"> 
	<div class="span2"> Adresse e-mail (Login) : </div>  <%= f.email_field :email, { :required => 'required', :style=>'width: 20em;'} %><span class="req" />
  </div>

  <div class="field"> 
	<div class="span2"> Mot de passe : </div>  <%= f.password_field :password, { :required => 'required', :style=>'width: 20em;' } %><span class="req" /> <%= t('devise.passwords.minimum_length') %>
  </div>  

  <div class="field"> 
	<div class="span2"> Confirmation : </div>  <%= f.password_field :password_confirmation, { :required => 'required', :style=>'width: 20em;' } %><span class="req" />
  </div>

  <div class="field"> 
	<div class="span2"> Prénom : </div>  <%= f.text_field :forename, { :required => 'required', :style=>'width: 20em;' } %><span class="req" />
  </div>  
  
  <div class="field"> 
	<div class="span2"> Nom de famille : </div>  <%= f.text_field :surname, { :required => 'required', :style=>'width: 20em;' } %><span class="req" />
  </div> 


     <% if !@first_creation %>
	  <% if current_user.has_role?(:admin) %>
	       <div class="field"> 
		    <div class="span2"> Droits d'accès : </div> <%= select_tag(:role, options_for_select(Role.list_all))  %> <span class="req" />
	       </div>
	  <% end %>
	  <div>
	       <label for="user[enabled]" class="checkbox">
	       <input type="checkbox" checked="checked" name="user[enabled]" id="user[enabled]" value="1" />Compte Activé
	       </label>
	  </div>
     <% end %>
     
  <br />
  <div><%= f.submit "Créer", :class =>"btn btn-primary" %></div>
  <br />
<% end %>
</div>
