<%= render 'title', :locals => { :title => @title, :link => @link }%>

<div class="container-fluid">
 
 
 <!-- FILTER -->
 <% if @all_import_accounts!=0 %>
  <%= form_tag(import_accounts_path, method: :GET) do %>
  <div class="row row-fluid">
	 <div>
	  <%= label_tag :anomaly, "#{t('app.fields.anomaly')} :", :class => "top"  %>
	  <!--@select store value of selected anomaly -->
	  <%= select_tag "anomaly", options_for_select(ImportAccount::ANOMALIES.collect{|v| v[1]},@select), { :include_blank => "#{t('app.default.all')}", :class =>"filter_statut"}  %>
	 </div>
        <%= submit_tag "#{t('app.actions.filter')}", :class =>"btn"%>
  </div>
 <% end %>
<% end %>
 <!-- END FILTER --> 

 
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
	<th class="text-center"><%= t('app.fields.company') %></th>
	<th class="text-center"><%= t('app.fields.adress') %></th>	  
	<th class="text-center"><%= t('app.fields.category') %></th>
	<th class="text-center"><%= t('app.fields.origin') %></th>
	<th class="text-center"><%= t('app.fields.phone') %></th>
	<th class="text-center"><%= t('app.fields.web') %></th>
	<th class="text-center"><%= t('app.fields.anomaly') %></th>
	<th class="text-center"><%= t('app.actions.actions') %></th>        
    </tr>
    </thead>
	<tbody>
  <% @import_accounts.each do |account| %>
  <tr class="<%='error' if account.anomaly!='-' %>">

        <% if !account.company.nil? %>
                <% then %>
                        <td class="text-center"><%= account.company %></td>
                <% else %>
                        <td class="text-center">-</td>
        <% end %>

        <% if !account.full_adress.blank? %>
                <% then %>
                        <td class="text-center"><%= account.full_adress %></td>
                <% else %>
                        <td class="text-center">-</td>
        <% end %>

        <% if !account.category.nil? %>
                <% then %>
                        <td class="text-center"><%= account.category %></td>
                <% else %>
                        <td class="text-center">-</td>
        <% end %>
        
	<% if !account.origin.blank? %>
                <% then %>
                        <td class="text-center"><%= account.origin.name %></td>
                <% else %>
                        <td class="text-center">-</td>
        <% end %>


        <% if !account.tel.blank? %>
                <% then %>
                        <td class="text-center"><%= account.tel %></td>
                <% else %>
                        <td class="text-center">-</td>
        <% end %>

        <% if !account.web.blank? then %>
                <%
                url = account.web
                        if !url[/http:\/\//].nil?
                                url = url[7..url.length]
                        elsif !url[/https:\/\//].nil?
                                url = url[8..url.length]
                        end
                %>
                        <td class="text-center"><%= link_to url, account.web, :target => "_blank" %></td>
        <% else %>
                        <td class="text-center">-</td>
        <% end %>
        
          <td class="text-center"><%= account.anomaly %></td>

	
        <td class="text-center ">
	  <%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_import_account_path(account, :anomaly=>@select ) ,{:title => "#{t('link.edit', article:t('app.default.define_article_male'), model:t('app.model.Account'))}" } %>

	  <%= link_to '<i class="fa fa-trash fa-2x action-icon"></i>'.html_safe,
			import_account_path(account,:anomaly=>@select),
			:title => "#{t('app.actions.destroy')} #{t('app.default.define_article_male')} #{t('app.model.Account')}",
			:confirm => "#{t('app.message.confirm.delete_before_import',model: t('app.model.Account'))} #{t('app.message.confirm.delete')}",
			:method => :delete %>
	  
	</td>
	
  </tr>
  <% end %>
  </tbody>
  </table>
  
  <% if !@import_accounts.empty? %>
    <div style="float:left;margin-right: 5px">
    <%= button_to "#{t('views.button.import',models:t('title.accounts'))}", {action: "importing_accounts"}, {class: "btn btn-primary", id: "import_validate_form"} %>
  </div>

    <%= button_to "#{t('app.actions.recalculate_duplicates')}", recalculate_duplicates_accounts_path, {class: "btn"} %>
    

  <% end %>

  <%= paginate @import_accounts %>
</div>

