<!DOCTYPE html>
<html>
  <head>
    <meta content="multipart/alternative"; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
    <div class="container-fluid">
  
      <div class="page-header">
        <h2>Mise à jour de la tâche n°<%= @task.id %></h2>
      </div>
      
      <div class="well">
        <p>Bonjour, <%= @user.full_name %></p>
        <p>
          CRM SIGIRE vous informe que les données d'une tâche vous étant affectée ont été modifiées.<br/>
        </p>
        <p><h4> Informations : </h4>
          <% if !@task.account.nil? %>
            <strong> Compte : </strong><%= @task.account.company %>
            <br />
          <% end %>
          
          <% if !@task.contact.nil? %>
            <strong> Contact : </strong><%= @task.contact.full_name %>
            <br />
          <% end %>
          
          <strong> Statut : </strong><%= @task.statut %><br />
          
          <% if !@task.term.blank? %>
          <strong> Echéance : </strong> <%= @task.term.split('/').reverse!.join('/') %>
          <% end %> 
        </p>
        <p>
          <h4>Sujet</h4>
          <%= @task.title %>
        </p>
        <p><h4> Description : </h4>
          <%= truncate(@task.notes, :length => 150, :separator => ' ')%>
        </p>
        <p>
          Pour obtenir d'avantages d'informations sur cette tâche, veuillez cliquer sur ce lien : <%= link_to "Fiche de la tâche", @url %> <%#= taches_url(:host => "http://192.168.0.67:3000") %>.
        </p>
        
      </div>
      
    </div>
    
  </body>
</html>
