<%= form_for @webmail_connection, :url => {:action => "create" }, :html => {:class => "nifty_form"} do |f| %>
		<div class="field">
			<div class="span2">
				Login :
			</div>
			<%= f.text_field :login %>
		</div>

		<div class="field">
			<div class="span2">
				Mot de passe :
			</div>
			<%= f.text_field :password %>
		</div>

		<div class="field">
			<div class="span2">
				Serveur POP :
			</div>
			<%= f.text_field :server %>
		</div>

		<div class="field">
			<div class="span2">
				Port :
			</div>
			<%= f.text_field :port %>
		</div>

		<div class="field">
			<div class="span2">
				Type d'évènement :
			</div>
			<%= f.text_field :type_event_id %>
		</div>
		<%= f.submit "Creer cette connexion" %>
	<% end %>

