<div class="container-fluid">
  <div class="field">
    <label class="checkbox">
      <%= check_box_tag :generate, "yes" %>
      Filtrer les contrats
    </label>
  </div>
</div>

<div id="task_value" class="container-fluid" style= "display: none;">
  <%= form_tag(account_contracts_path, method: :GET) do %>
    <div class="row row-fluid">
      <div class="">
        <%= label_tag :by_description_like,  t('app.fields.content') + " :", :class => "top" %>
	<%= text_field_tag "by_description_like", params[:by_description_like] %>
      </div>
    <div class="">
      <%= label_tag :by_category_id, "Catégorie :", :class => "top"  %>
      <%= select_tag "by_category_id",options_from_collection_for_select( ContractCategory.all, :id, :name, params[:contract_category]), { :include_blank => "Toutes", :class =>"filter_statut" }   %>
    </div>
<div>
<%= submit_tag "Filtrer", :class =>"btn "%>
</div>
</div>
<% end %>
</div>
