
<%= form_for(@contract, :html => { :class => "well "}) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this origin from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <div class="span2">Nom :</div><%= f.text_field :name,{ :class => 'required'} %><span class="req" />
  </div>
  
        <!-- Account field -->

		      <div class="field">
			      <div class="span2">Compte :</div>
				    <p>
					    <%= text_field_tag(nil, (@contract.account.company unless @contract.account.nil?),{:class => 'typeahead-account-search', :type => 'search', :autocomplete => :off, 'data-field' => 'account_id', :placeholder => 'Rechercher', :id => 'account_search_field'}) %>
					    <%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
					    <span class="label label-info" id="task_notice"  style="display: none; margin-left: 2em;">
							  <i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
					    </span>
				    </p>
				    <%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id' } %>
		      </div>
  <div class="field">
    <div class="span2">Description :</div>
    <%= f.text_area :description, :display_with => :simple_format, :rows => "5", :style=>'width: 30em;' %>
  </div>

    <div class="field">
        <div class="span2">Date de signature initiale :</div>
				<p><%= f.text_field :date_initial %></p>
      </div>
	
      <div class="field">
        <div class="span2">Date de début de validité :</div>
				<p><%= f.text_field :date_begin %></p>
      </div>
    
      <div class="field">
        <div class="span2">Date de fin de validité :</div>
				<p><%= f.text_field :date_end %></p>
      </div>

  <div class="field">
    <div class="span2"> Catégorie : </div> <%= f.collection_select :contract_category_id, ContractCategory.order('name ASC').all, :id, :name, :include_blank => true %>
  </div> 
  
          <br />
  	
	<div class="field">
    <% if !@contract.id.nil? %>
		<div class="span9"> Créé par : <%= @contract.author.full_name %>, le </strong><%= @contract.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% if !@contract.updated_by.nil? %>
			<div class="span9"> Dernièrement modifié par : <%= @contract.editor.full_name %>, le <%= @contract.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% else %>
		<% end %>
		
	<% end %>
	</div>
	  
	<hr />
  
   <div class="row">
    <%= if !@contract.id.nil? then f.button "Modifier le contrat", :type => :submit, :class =>"btn btn-primary",:id =>"contract_validate_form" else f.button 'Créer un contrat', :type => :submit, :class =>"btn btn-primary",:id =>"contract_validate_form" end%>
    <%= if !@contract.id.nil? then link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, @contract, :title => "Supprimer l'activité", :confirm => 'Confirmer la suppression ?', :class=>"pull-right btn", :method => :delete end %> 
    </div>
  </div>
<% end %>
