<div class="container-fluid">
  
  <table class="table table-bordered table-striped">
   <thead> 
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Description</th>
      <th class="text-center">Compte</th>
      <th class="text-center">Date de début</th>
      <th class="text-center">Date de fin</th>
      <th class="text-center">Éditer</th>
    </tr>
   </thead>
   
  <tbody> 
  <% @contracts.each do |contract| %>
    <tr>
      <td class="text-center"><%= contract.name %></td>
      <td class="text-center"><%= truncate(contract.description, :length => 300, :separator => ' ')%></td>
      <% if !contract.account.nil? %>
        <td class="text-center"><%= link_to contract.account.company , account_events_url(contract.account),{ :title => "#{t('app.model.Event')}".html_safe + " : " + contract.account.company } %></td>
      <% else %>
      <td class="text-center">-</td>
      <% end %>
      <% if !contract.account.nil? %>
        <td class="text-center"><%= contract.date_begin %></td>
      <% else %>
      <td class="text-center">-</td>
      <% end %>
      <% if !contract.account.nil? %>
        <td class="text-center"><%= contract.date_end %></td>
      <% else %>
      <td class="text-center">-</td>
      <% end %>
      <td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_contract_path(contract),{:title => "Éditer le contrat"} %></td>   
    </tr>
  <% end %>
  </tbody>
  </table>
  
  <br />
  
  <%= paginate @contracts %> 
  
</div>