<%= form_for(@relation, :html => { :class => "well "}) do |f| %>
  <% if @relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% @relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span2">Nom : </div>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <div class="span2"> Compte : </div>
      <%= f.collection_select :account1_id, Account.order('company ASC').all, :id, :company, {:include_blank => true} %>
  </div>
  <div class="field">
    <div class="span2"> Compte lié : </div>
      <%= f.collection_select :account2_id, Account.order('company ASC').all, :id, :company, {:include_blank => true} %>
  </div>
  
  <div class="field">
    <%= f.submit 'Créer une Relation', :class =>"btn btn-primary"%>
	<%= if !@relation.id.nil? then  link_to image_tag("glyphicons/glyphicons_016_bin.png"), @relation,:title => "Supprimer le compte", :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete end %>
  </div>
<% end %>
