<div class="row row-fluid">
  <div class="field full">
    <div class="span2"><%= label_tag(:contact_id, t('app.model.Contact') + t('app.fields.colon')) %></div>
    <p>
      <% if contacts.nil? %>
        <% if !@task.account.nil? %>
          <%= collection_select :task, :contact_id, Contact.where(:account_id => @task.account.id).order(:surname),:id, :full_name, {:include_blank => !@task.mandatory_contact_setting?}, {:id => 'contact_id'} %>
          <% if @task.mandatory_contact_setting? then %> <span class="req"/></span><% end %>
        <% else %>
          <%= collection_select  :task, :contact_id, Contact.where(:account_id => 0), :id, :full_name, {:include_blank => !@task.mandatory_contact_setting?}, { :id => 'contact_id'} %>
          <% if @task.mandatory_contact_setting? then %> <span class="req"/></span><% end %>
        <% end %>
      <% else %>
        <%= collection_select  :task, :contact_id, contacts , :id, :full_name, {:include_blank => !@task.mandatory_contact_setting?}, { :id => 'contact_id'} %>
        <% if @task.mandatory_contact_setting? then %> <span class="req"/></span><% end %>
      <% end %>
      <%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
    </p>
  </div>
</div>
