<%= form_for(@task, :html => { :class => "well "}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    
      <div class="span2"> Compte : </div>
      <!-- <%= f.collection_select :account_id, Account.order('company ASC').all, :id, :company, {:include_blank => true} %> -->
      <p><input type="search" class="typeahead-search-account not-links" id="task_account_id" /><span class="label label-info" id="task_notice"  style="display: none; margin-left: 2em;"><i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant</span></p>
      
    
  </div> 


 



  <div class="field" id="nameContacts">
    <%= render :partial => 'contacts' %>
  </div>
  
  <div class="field">
    <div class="span2"> Affectée à : </div> <%= f.collection_select :user_id, User.all, :id, :full_name %> <%= check_box_tag :mail, "yes"%> Envoyer un email à ce collaborateur
  </div>
  
  <div class="field">
	  <div class="span2">Description : </div> <%= f.text_area :notes , { :class => 'required', :display_with => :simple_format, :rows => "5", :style=>'width: 30em;'} %>
  </div>

  <div class="field">
    <div class="span2"> Statut : </div> <%= f.select :statut, Task::STATUTS %>
  </div>
  
  <div class="field">
    <div class="span2"> Echéance :  </div> <%= f.text_field :term %>
  </div>  
  
  <div class="field">
    <div class="span2">Pièce jointe :</div>  <%= if @task.attach.exists? then link_to image_tag('glyphicons/glyphicons_036_file.png') + ' ' + @task.attach_file_name, @task.attach.url, :target => '_blank' end%>
                                             <%= f.file_field :attach, :style=>'width: 20em;' %>
 
       
  </div>
  <br />
  <div class="field">
    <div class="span2"><%= check_box_tag :generate, "yes" %> Infos de l'événement</div>
  </div>
  <br />
  
  <div id="task_values" style="display: none;">
  <div class="row">
    <div class="span12">
      Type de l'évènement : <br /> <%= collection_select :event_type, :id ,EventType.order('label'),:id, :full_type, {:style =>"width: 100%"}%>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      Notes de l'évènement : <br /> <%= text_area_tag :notes , nil,:display_with => :simple_format, :rows => "5", :style=>'width: 30em;'%>
    </div>
  </div>
  </div>
  <br /><br />
    
  <div class="row">
	  <%= if !@task.id.nil? then f.submit 'Modifier cette Tâche', :class =>"btn btn-primary" else f.submit 'Créer une Tâche', :class =>"btn btn-primary" end %>

      <%= if !@task.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), @task, :title => "Supprimer la tâche" , :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete end %>    
  </div>

<% end %>
