<!-- begin form task --><% colon = t('app.fields.colon') %>
<%= form_for(@task, :html => { :class => "well "}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Account field -->
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><label for="account-search"><%= t('app.model.Account') + colon %></label></div>
				<p>
					<%= text_field_tag(nil, (@task.account.nil? ? '' : @task.account.company),{:id => 'account-search', :type => 'search', :autocomplete => :off}) %>
					<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
					<span class="label label-info" id="task_notice"  style="display: none; margin-left: 2em;">
							<i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
					</span>
				</p>
				<%= f.text_field :account_id, { :style => 'display: none; visible: hidden;', :id => 'account_id' } %>
		</div>
	</div>
	<!-- Contact field -->
  <div class="field" id="nameContacts">
    <%= render :partial => 'contacts' %>
  </div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:user_id, t('app.fields.assigned') + colon) %></div>
			<p>
			<%= f.collection_select :user_id, @users, :id, :full_name, { :selected => (@task.user.nil?() ? current_user.id : @task.user.id) } %>
			<label for="task_mail" class="checkbox right-field">
				<%= check_box_tag(:mail, :yes, false, { :id => 'task_mail' }) %>
				Envoyer un Mail à ce collaborateur
			</label>
			</p>
		</div>
	</div>
	<!-- SUBJECT -->
	<div class="row row-fluid">
	  <div class="field full">
			<div class="span2"><%= f.label(:title, t('app.fields.subject') + colon) %></div>
			<p><%= f.text_field(:title, { :required => 'required' }) %><span class="req" /></p>
		</div>
	</div>
	<!-- DESCRIPTION -->
  <div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:notes, t('app.fields.description') + colon) %></div>
			<%= f.text_area :notes, :rows => "5", :style => 'width: 80%;' %>
		</div>
	</div>
	<!-- STATUT -->
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:statut, t('app.fields.statut') + colon) %></div>
			<p><%= f.select :statut, Task::STATUTS %></p>
		</div>
	</div>
	<!-- PRIORITY -->
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:priority, t('app.fields.priority') + colon) %></div>
			<p><% @task.priority = 1 if @task.priority.nil? %>
				<select name="task[priority]" id="task_priority">
					<% Task::PRIORITIES.each_with_index do |value, index| %>
						<option value="<%= index %>"<%= ' selected=selected' if @task.priority == index %>><%= value %></option>
					<% end %>
				</select>
			</p>
		</div>
	</div>
	<!-- TERM -->
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:term, t('app.fields.term') + colon) %></div>
			<p><%= f.text_field :term %></p>
		</div>
	</div>
<% if @task.attach.exists? %> 
  <div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= label_tag(nil, t('app.fields.present_attach')) %></div>
			<%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + @task.attach_file_name, @task.attach.url, :target => '_blank' %>
		</div>
  </div>
<% end %>
  <div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:attach, (@task.attach.exists?() ? t('app.fields.update_attach') : t('app.fields.attach')) + colon) %></div>
			<%= f.file_field :attach %>
		</div>
	</div>
  <div class="row row-fluid">
		<div class="field full">
			<label class="checkbox">
				<%= check_box_tag :generate, "yes" %> Infos de l'événement
			</label>
		</div>
  </div>
  <div id="task_values" style="display: none;">
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><label for="event_type_id"><%= t('app.model.EventType') + colon %></label></div> 
				<%= collection_select :event_type, :id ,EventType.order('label'),:id, :full_type, {:include_blank => true }%>
			</div>	
		</div>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label(:notes, t('app.fields.description') + colon) %></div>
				<%= text_area_tag :notes, nil, :rows => '5' %>
			</div>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="field full">
		<% if !@task.id.nil? %>
			<p class="block">Créée par : <strong><%= @task.author.full_name %></strong>, le <strong><%= @task.created_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
			<% if !@task.modified_by.nil? %>
			<p class="block">Dernièrement modifiée par : <strong><%= @task.editor.full_name %></strong>, le <strong><%= @task.updated_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
			<% end %>
		<% end %>
		</div>
	</div>
	<hr />
  <div class="row row-fluid">
	  <%= if !@task.id.nil? then f.submit 'Modifier cette Tâche', :class =>"btn btn-primary" else f.submit 'Créer une Tâche', :class =>"btn btn-primary" end %>
		<%= if !@task.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), @task, :title => "Supprimer la tâche" , :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete end %>    
  </div>
<% end %>
<!-- end form task -->
