<%= render 'title', :locals => { :title => @title }%>

<!-- FILTER -->

  <div class="container-fluid">
    <div class="field">
      <label class="checkbox">
        <%= check_box_tag :generate, "yes" %>
        Filtrer les Tâches
      </label>
    </div>
  </div>

<div id="task_value" class="container-fluid" style= "display: none;">
  <%= form_for(:filter, :url => { :action => 'filter' } , :html => {:method => :get} ) do |f| %>
      <div class="row row-fluid">
		<div class="">
			<%= f.label :statut, "Statut :", :class => "top" %>
			<%= f.select :statut, Task::STATUTS_A_FILTRER, {:include_blank => "Tous", :selected => @statut_filter}, :class => "filter_statut" %>
		</div>
		<div class="">
			<%= f.label :filter_priority, "Priorité :", :class => "top" %>
			<select name="filter[priority]" id="filter_priority" class="filter_priority">
			<option value="">Tous</option>
			<% Task::PRIORITIES.each_with_index do |value, index| %>
            <option value="<%= index %>"
			<%= if @priority_filter == index then ' selected=selected' end %>><%= value %></option>
			<% end %>
        </select>
		</div>
		<div class="">
			<%= f.label :user_email, "Collaborateur :", :class => "top" %>
			<%= f.collection_select :user_email, User.all_reals, :email, :full_name, {:include_blank => "Tous", :selected => @email_filter} , :class =>"filter_statut"%>
		</div>
		<div>
        <%= f.submit "Filtrer", :class =>"btn "%>
		</div>
	  </div>
   <% end %>
</div>
<!-- END FILTER -->
<% if Task.all.length > 0 %>
<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Statut</th>
        <th class="text-center">Priorité</th>
        <th class="text-center">Compte</th>
        <th class="text-center">Sujet</th>
        <th class="text-center">Contact</th>
        <th class="text-center">Échéance</th>
        <th class="text-center">Collaborateur</th>
        <th class="text-center">Éditer</th>        
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
  <%
	if task.priority == 3
	  attr = ' class="bold error"'.html_safe
	elsif task.priority == 2 
	  attr = ' class="error"'.html_safe
	elsif task.priority == 0
	  attr = ' class="info"'.html_safe
	else
	  attr = ''
	end %>
	  <tr<%= attr %>>

		<td class="text-center"><%= task.id %></td>
        <td class="text-center">
          <% if task.statut == "A faire"%>
            <span class="badge badge-important">
          <% elsif task.statut == "En cours"%>
            <span class="badge badge-warning">
          <% elsif task.statut == "Terminé"%>
            <span class="badge badge-success">
          <% elsif task.statut == "Annulé"%>
            <span class="badge badge-inverse">
          <% else %>
            -
          <% end %>
			<%= task.statut %>
		  </span>
        </td>
		<% if !task.priority.blank? %>
			<td class="text-center"><%= Task::PRIORITIES[task.priority] %></td>
		<% else %>
			<td class="text-center">-</td>
		<% end %>
		
		<% if !task.account.nil? %>
			<td class="text-center"><%= link_to task.account.company , account_events_url(task.account),{:title => "Afficher les évenements"} %></td>
		<% else %>
			<td class="text-center">-</td>
		<% end %>
		<% if !task.title.blank? %>
			<td class="text-center"><%= link_to truncate(task.title, :length => 75, :separator => ' '), edit_task_path(task),{:title => "Éditer la tâche"} %></td>
		<% else %>
			<td class="text-center">-</td>
		<% end %>

		<% if !task.contact.nil? %>
			<td class="text-center"><%= link_to task.contact.full_name, edit_contact_path(task.contact),{:title => "Éditer le contact"}  %></td>
		<% else %>
			<td class="text-center">-</td>
		<% end %>		

		<% if !task.term.blank? %>
			<% if task.term.to_date == Date.today %>
				<td class="text-center"><span class="label label-info"><%= task.term.split('/').reverse!.join('/') %></span></td>
			<% else %>
				<% if task.term.to_date < Date.today %>
					<td class="text-center"><span class="label label-important"><%= task.term.split('/').reverse!.join('/') %></span></td>
				<% else %>
					<td class="text-center"><%= task.term.split('/').reverse!.join('/') %></td>
				<% end %>
			<% end %>
		<% else %>
			<td class="text-center">-</td>
		<% end %>

		<% if !task.user.nil? %>	
			<td class="text-center"><%= task.user.full_name %></td>
		<% else %>
			<td class="text-center">-</td>
		<% end %>

		<td class="text-center">
		  <%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_task_path(task) ,{:title => "Éditer la tâche", :class =>"btn"}  %>
		</td>
	  </tr>
	<% end %>
	
    </tbody>
  </table>
  <%= paginate @tasks %>
</div>
<% else %>
	<div> Rien à afficher </div>
<% end %>

