<%= render 'title', :locals => { :title => @title }%>
<%= render 'filter' %>

<% if Task.all.length > 0 %>
    <div class="container-fluid">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Statut</th>
                    <th class="text-center">Priorité</th>
                    <th class="text-center">Compte</th>
                    <th class="text-center">Sujet</th>
                    <th class="text-center">Contact</th>
                    <th class="text-center">Échéance</th>
                    <th class="text-center">Collaborateur</th>
                    <th class="text-center">Actions</th>        
                </tr>
            </thead>
            <tbody>
                <% @tasks.each do |task| %>
                    <%
	                    if task.priority == 3
	                      attr = ' class="bold error"'.html_safe
	                    elsif task.priority == 2 
	                      attr = ' class="error"'.html_safe
	                    elsif task.priority == 0
	                      attr = ' class="info"'.html_safe
	                    else
	                      attr = ''
	                    end 
                    %>
	                <tr<%= attr %>>

                        <td class="text-center">
                            <% if task.statut == "A faire"%>
                                <span class="badge badge-important">
                            <% elsif task.statut == "En cours"%>
                                <span class="badge badge-warning">
                            <% elsif task.statut == "Terminé"%>
                                <span class="badge badge-success">
                            <% elsif task.statut == "Annulé"%>
                                <span class="badge badge-inverse">
                            <% else %>
                                -
                            <% end %>
			                <%= task.statut %>
		                    </span>
                        </td>
                        <%# Récupération de la priorité %>
		                <% if !task.priority.blank? %>
			                <td class="text-center"><%= Task::PRIORITIES[task.priority] %></td>
		                <% else %>
			                <td class="text-center">-</td>
		                <% end %>
		                
		                <%# Récupération du compte %>
		                <% if !task.account.nil? %>
			                <td class="text-center"><%= link_to task.account.company , account_events_url(task.account),{:title => "Afficher les évenements"} %></td>
		                <% else %>
			                <td class="text-center">-</td>
		                <% end %>
		                
		                <%# Récupération du titre %>
		                <% if !task.title.blank? %>
			                <td class="text-center"><%= link_to truncate(task.title, :length => 75, :separator => ' '), edit_task_path(task),{:title => "Éditer la tâche"} %></td>
		                <% else %>
			                <td class="text-center">-</td>
		                <% end %>

                        <%# Récupération du contact %>
		                <% if !task.contact.nil? %>
			                <td class="text-center"><%= link_to task.contact.full_name, edit_contact_path(task.contact),{:title => "Éditer le contact"}  %></td>
		                <% else %>
			                <td class="text-center">-</td>
		                <% end %>		

                        <%# Récupération du terme %>
		                <% if !task.term.blank? %>
			                <% if task.term.to_date == Date.today %>
				                <td class="text-center"><span class="label label-info"><%= task.term.split('/').reverse!.join('/') %></span></td>
			                <% else %>
				                <% if task.term.to_date < Date.today %>
					                <td class="text-center"><span class="label label-important"><%= task.term.split('/').reverse!.join('/') %></span></td>
				                <% else %>
					                <td class="text-center"><%= task.term.split('/').reverse!.join('/') %></td>
				                <% end %>
			                <% end %>
		                <% else %>
			                <td class="text-center">-</td>
		                <% end %>
                        
                        <%# Récupération de l'utilisateur' %>
		                <% if !task.user.nil? %>	
			                <td class="text-center"><%= task.user.full_name %></td>
		                <% else %>
			                <td class="text-center">-</td>
		                <% end %>

		                <td class="text-center">
                      <%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_task_path(task) ,{:title => "Éditer la tâche" }  %>
		                </td>
	                </tr>
	            <% end %>
            </tbody>
        </table>
	<%= paginate @tasks %>
    </div>
    <% end %>

</div>
