<%= form_for(@produit, :html => { :class => "well "}) do |f| %>
  <% if @produit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
      <% @produit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span2"><%= f.label :nom %></div>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <div class="span2"><%= f.label :description %></div>
    <%= f.text_area :description, :display_with => :simple_format, :rows => "5", :style=>'width: 30em;' %>
  </div>
   <div class="row">
    <div class="span2"> <%= f.submit :class =>"btn btn-primary",:id =>"produit_validate_form"%> </div>
    <div class="pull-right ">
      <%= if !@produit.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), @produit, :title => "Supprimer le tag", :confirm => 'Confirmer la suppression ?', :method => :delete end %> 
    </div>
  </div>
<% end %>
