<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
      <div class="row-fluid">
         <div class="span9">
         <h3>Extraction des contacts</h3>
         </div>
          <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back ,{:title => "Retour", :class=>"pull-right btn"} %>
      </div>
   </div>
</div>
<div class="container-fluid" style= "background-color: #D8D8D8; margin-top: 0em; ">
  <%= form_tag({:controller => "extractions", :action => "contacts", format: :csv}, :method => "get") do %>

      <div>
        <% @accounts = Account.order('company ASC').all %>
        <h6>Comptes : </h6><%= select_tag :account, options_from_collection_for_select(@accounts, "id", "company", "city"), {:include_blank => true, :multiple => :false, :size => 5, :class =>"span3"}%>
      </div>      
      
      <div>
        <h6>Code Postal commence par : </h6><%= text_field_tag :zip, nil,  {:class=>"span3"} %>
      </div>

      <div>
        <h6>Pays : </h6><%= text_field_tag :country, nil,  {:class=>"span3"} %>
      </div>
      
      <div>
        <% @tags = Tag.order('name ASC').all %>
        <h6>Tags du contact: </h6><%= select_tag :tags, options_from_collection_for_select(@tags, "id", "name"), {:include_blank => true, :multiple => :true, :size => 5, :class =>"span3 filter_statut"}%>
      </div>
         
      <div>
         <h6>Genres : </h6><%= select_tag 'categories[]', options_for_select(Account::CATEGORIES), {:include_blank => true, :multiple => :true, :size => 5, :class =>"span3"}%>
      </div>      

      <div>
        <% @origins = Origin.order('name ASC').all %>
        <h6>Origins : </h6><%= select_tag :origins, options_from_collection_for_select(@origins, "id", "name"), {:include_blank => true, :multiple => :true, :size => 5, :class =>"span3"}%>
      </div>      
 
      <div>
        <% @users = User.order('surname ASC').all %>
        <h6>Suivis par : </h6><%= select_tag :user, options_from_collection_for_select(@users, "id", "full_name"), {:include_blank => true, :size => 5, :class =>"span3 filter_coll"}%>
      </div>
      
      
      <div style="margin-top: 18px;">
        <%= submit_tag "Extraire", :class =>"btn "%>
      </div>
    
  <% end %>
</div>


