<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
      <div class="row-fluid">
         <div class="span9">
         <h1>Extraction des Comptes</h1>
         </div>
          <%= link_to '<i class="fa fa-arrow-circle-left fa-3x"></i>'.html_safe, :back ,{:title => "Retour", :class=>"pull-right"} %>
      </div>
   </div>
</div>
<div class="container-fluid">

<div id="task_value" class="container-fluid">
  <%= form_tag( { controller: :accounts, format: :csv }, { method: :get } ) do %>

      <div class="row row-fluid">
		<div class="">
			<%= label_tag :company, "Société :", :class => "top" %>
      <%= text_field_tag 'company' %>
		</div>
		<div class="">
			<%= label_tag :contact, "Contact :", :class => "top" %>
      <%= text_field_tag 'contact' %>
		</div>
		<div class="">
			<%= label_tag :phone, "Téléphone :", :class => "top" %>
      <%= text_field_tag 'phone' %>
		</div>
		<div>
        <%= submit_tag "Extraire", :class =>"btn btn-primary"%>
		</div>
	  </div>
   <% end %>
</div>  
</div>
