<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
      <div class="row-fluid">
         <div class="span9">
         <h1>Extraction des Contacts</h1>
         </div>
          <%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, :back ,{:title => "Retour", :class=>"pull-right"} %>
      </div>
   </div>
</div>
<div class="container-fluid">
<div class="well">
  <%= form_tag({:controller => "extractions", :action => "contacts", format: :csv}, :method => "post") do %>

<div id="task_value" class="container-fluid">
  <%= form_tag( { controller: :contacts, format: :csv }, { method: :get } ) do %>
  <div class="row row-fluid">
    <div class="">
      <%= label_tag :by_account_company_like, "Société :", :class => "top" %>
      <%= text_field_tag :by_account_company_like %>
    </div>
    <div class="">
      <%= label_tag :by_full_name_like, "Contact :", :class => "top" %>
      <%= text_field_tag :by_full_name_like %>
    </div>
    <div class="">
      <%= label_tag :by_tel_like, "Téléphone :", :class => "top" %>
      <%= text_field_tag :by_tel_like %>
    </div>
    <div>
      <%= submit_tag "Extraire", :class =>"btn btn-primary"%>
    </div>
  </div>
  <% end %>
</div>  
