<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
      <div class="row-fluid">
         <div class="span9">
         <h1>Extraction des Comptes</h1>
         </div>
          <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back ,{:title => "Retour", :class=>"pull-right btn"} %>
      </div>
   </div>
</div>

<div class="container-fluid">
<div class="well">
  <%= form_tag({:controller => "extractions", :action => "accounts", format: :csv}, :method => "get") do %>

	<!-- ZIP -->
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2">
				Code Postal :
			</div>
			<%= text_field_tag :zip, nil, :placeholder => 'Tous les codes postaux...' %>
		</div>
	</div>

	<!-- COUNTRY -->
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2">
				Pays :
			</div>
			<%= text_field_tag :country, nil,  :placeholder => 'Tous les pays...' %>
		</div>
	</div>

	<!-- TAGS -->
	<% if @tags.length > 0 %>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2">
					Tags :
				</div>
				<% @tags.each do |t| %>
					<label for="tags_tag_<%=t.id%>" class="checkbox">
						<input type="checkbox" name="tags[tag_<%=t.id%>]" id="tags_tag_<%=t.id%>" value="1" /><%= t.name %>
					</label>
				<% end %>
			</div>
		</div>
	<% end %>

	<!-- CATEGORIES -->
	<% if @categories.length > 0 %>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2">
					Categories :
				</div>
				<% @categories.each_with_index do |c, index| %>
					<label for="categories_category_<%= index %>" class="checkbox">
						<input type="checkbox" checked="checked" name="categories[category_<%= index %>]" id="categories_category_<%= index %>" value="1" /><%= c %>
					</label>
				<% end %>
			</div>
		</div>
	<% end %>	

	
	<!-- ORIGINES -->
	<% if @origins.length > 0 %>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2">
					Origines :
				</div>
				<% @origins.each do |o| %>
					<label for="origins_origin_<%=o.id%>" class="checkbox">
						<input type="checkbox" name="origins[origin_<%=o.id%>]" id="origins_origin_<%=o.id%>" value="1" /><%= o.name %>
					</label>
				<% end %>
			</div>
		</div>
	<% end %>
  
	<!-- USERS -->
	<% if @users.length > 0 %>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2">
					Collaborateur :
				</div>
				<% @users.each do |u| %>
					<label for="users_user_<%=u.id%>" class="checkbox">
						<input type="checkbox" name="users[user_<%=u.id%>]" id="users_user_<%=u.id%>" value="1" /><%= u.full_name %>
					</label>
				<% end %>
			</div>
		</div>
	<% end %>
	
    <hr /> 
	
 	<!-- BUTTON -->           
      <div style="margin-top: 18px;">
        <%= submit_tag "Extraire en CSV", :class =>"btn btn-primary"%>
      </div>
    
  <% end %>
</div>
</div>