<%= form_for(@compte, :html => { :class => "well "}) do |f| %>
  <% if @compte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compte.errors.count, "error") %> prohibited this compte from being saved:</h2>

      <ul>
      <% @compte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <div class="span2"> Société : </div> <%= f.text_field :societe , :style=>'width: 30em;'  %>
  </div>
  
  <div class="field">
    <div class="span2"> Adresse : </div> <%= f.text_field :adresse1, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
    <div class="span2"> Adresse (suite) : </div> <%= f.text_field :adresse2, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
    <div class="span2"> CP : </div> <%= f.text_field :cp, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
   <div class="span2">Ville : </div> <%= f.text_field :ville, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
   <div class="span2"> Pays : </div> <%= f.text_field :pays, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
   <div class="span2"> Tel : </div> <%= f.text_field :tel, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
   <div class="span2"> Fax : </div> <%= f.text_field :fax, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
   <div class="span2"> E-mail : </div> <%= f.text_field :email, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
   <div class="span2"> Site web : </div> <%= f.text_field :web, :style=>'width: 30em;' %>
  </div>  
  
  <div class="field">
    <div class="span2"> Origine : </div> <%= f.collection_select :origine_id, Origine.order('nom ASC').all, :id, :nom %>
  </div>
  
  <div class="field">
    <div class="span2"> Genre : </div> <%= f.select :genre, Compte::GENRES%>
  </div>

  <div class="field">
    <div class="span2"> Tag(s) associé(s) : </div>
    <%= select_tag :display_compte_produit, options_from_collection_for_select(@compte.produits.order('nom ASC').all, "id", "nom"), {:size => 6, :multiple => true} %>
    <a id="compte_ajout_button" class="btn btn-success btn-mini" data-toggle="modal" href="#compte_produit_modal" style="margin-bottom: 1em; margin-left: 2em;">Modifier Tag</a>
  </div>
  
  <div class="modal hide fade" id="compte_produit_modal" style="width: 900px; margin-left: -450px;">
    <%= render "modal_produits" %>
  </div>
  
  <div class="field">
    <div class="span2"> Code comptable : </div> <%= f.text_field :code_compta, :style=>'width: 30em;' %>
  </div>
  
  <div class="field">
    <div class="span2"> Utilisateur : </div> <%= f.collection_select :user_id, User.all, :id, :nom_complet %>
  </div>
  
  <div class="field">
    <div class="span2">Notes : </div> <%= f.text_area :notes , :display_with => :simple_format, :rows => "5", :style=>'width: 30em;'%>
  </div>

<br>
  
  <div class="row">
    <div class="span2"> <%= f.submit :class =>"btn btn-primary",:id =>"compte_validate_form"%> </div>
    <div class="pull-right ">
      <%= if !@compte.id.nil? then  link_to image_tag("glyphicons/glyphicons_016_bin.png"), @compte,:title => "Supprimer le compte", :confirm => 'Confirmer la suppression ?', :method => :delete end %>
    </div>
  </div>
 

<% end %>
