<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span3">
           <h3>Liste des Tags</h3>
         </div>
         <div class="pull-right">
         </div>
       </div>
     </div>

         
</div>


<div class="container-fluid">
          <div>
          <%= form_tag({:controller => "comptes", :action => "add_produit", :compte_id => @compte.id}, :method => "post") do %>
            <% @produits = Produit.order('nom ASC').all %>
            <%= select_tag :produit_id, options_from_collection_for_select(@produits, "id", "nom") %>
            <%= submit_tag("Affecter") %>
          <% end %>
          </div>
          
	<% if @compte.produits.blank? %>
		<h4> Aucun tag n'est rattaché à ce compte </h4>
	<% else %>
        


<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Voir</th>
  </tr>
  </thead>
  <tbody>
<% @produits = @compte.produits.order('nom').page(params[:page]) %>

<% @produits.each do |produit| %>
  <tr>
    <td style="width: 15em;"><%= link_to produit.nom, produit %></td>
    <td><%= truncate(produit.description, :length => 600, :separator => ' ') %></td>
    <td><%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), :controller => "comptes", :action => "delete_produit", :compte_id => @compte.id, :produit_id => produit.id %></td>
<% end %>
  </tbody>
</table>

  <br />
  
  <%= paginate @produits %>
  
  
<% end %>
</div>