<%= render 'filter', :locals => { :filter => @filter }%>

<div class="container-fluid" style="margin-top: 1em;">
  
  <table class="table table-bordered table-striped">
    <tr>
      <th>Id</th>
      <th>Soci&eacute;t&eacute;</th>
      <th>Ville</th>    
      <th>Genre</th>
      <th>Téléphone</th>
      <th>Éditer</th>       
    </tr>
  
  <% @comptes.each do |compte| %>
    <tr>
      <td><%= compte.id %></td>
      <td><%= link_to compte.societe, compte_evenements_url(compte) %></td>
      <td><%= compte.ville %></td>    
      <td><%= compte.genre %></td>
      <td><%= compte.tel %></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_compte_path(compte) %></td>
    </tr>
  <% end %>
  </table>
  <%= paginate @comptes %> <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_compte_path %>

</div>

