<%= form_for(@origin, :html => { :class => "well "}) do |f| %>
  <% if @origin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@origin.errors.count, "error") %> prohibited this origin from being saved:</h2>

      <ul>
      <% @origin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span2"><%= f.label :name %></div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div class="span2"><%= f.label :description %></div>
    <%= f.text_area :description, :display_with => :simple_format, :rows => "5", :style=>'width: 30em;' %>
  </div>
   <div class="row">
    <div class="span2"> <%= f.submit :class =>"btn btn-primary",:id =>"origin_validate_form"%> </div>
    <div class="pull-right ">
      <%= if !@origin.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), @origin, :title => "Supprimer l'origin", :confirm => 'Confirmer la suppression ?', :method => :delete end %> 
    </div>
  </div>
<% end %>
