<div id="bloc-login">
  <div id="logo">
  <%= image_tag("logo-login.png") %>
  </div>
  
  <div id="login">

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    
      <div class="field" >
          <div align="center"><h3>Mot de passe oublié ?</h3>
          </div>
          <br /><br />
          <div align="right">Email : <%= f.email_field :email %> </div>
          <br /><br />
          <div class="pull-right">
            <%= f.submit "M'envoyer les instructions", :class =>"btn btn-primary" %>
          </div>
          <div class="pull-left"><br /><%= render "links" %></div>
      </div>
      
    <% end %>
  </div>
  
</div>
