
<pre>
<%= link_to image_tag("glyphicons/glyphicons_020_home.png"), edit_compte_path(@compte),{:title => "Éditer le compte"} %> <i>(<%= @compte.genre %>)</i>
<b><%= @compte.societe %></b>
<% if @compte.adresse1 != "" %>
Adresse : <%= @compte.adresse1 %>
<% end %>
<% if @compte.adresse2 != "" %>
<%= @compte.adresse2 %>
<% end %>
<% if @compte.ville != "" %>
Ville : <%= @compte.ville %>
<% end %>
<% if @compte.cp != "" %>
CP : <%= @compte.cp %>
<% end %>
<% if @compte.tel != "" %>
Tél : <%= @compte.tel %>
<% end %>
<% if @compte.fax != "" %>
Fax : <%= @compte.fax %>
<% end %>
<% if @compte.email != "" %>
<%= mail_to(@compte.email) %>
<% end %>
<%= if !(@compte.web).nil?  then link_to @compte.web, @compte.web, :target => "_blank"  end %>
</pre>

<hr>
  
<pre>
<% @compte.contacts.classe_par_nom.each do |contact| %>
<div style="background-color: #FAFAFA;">
<% if contact.civilite == "Mme"%>
<%= link_to image_tag("glyphicons/glyphicons_035_woman.png"), edit_contact_path(contact),{:title => "Éditer le contact"} %> <% if contact.fonction != "" %> <i>(<%= contact.fonction %>)</i> <% end %>
<% elsif contact.civilite == "M." %>
<%= link_to image_tag("glyphicons/glyphicons_034_old_man.png"), edit_contact_path(contact),{:title => "Éditer le contact"} %> <% if contact.fonction != "" %> <i>(<%= contact.fonction %>)</i> <% end %>
<% end %> 
<b><%= contact.civilite %> <%= contact.nom %> <%= contact.prenom %></b>
<% if contact.tel != "" %>
Tél : <%= contact.tel %>
<% end %>
<% if contact.fax != "" %>
Fax : <%= contact.fax %>
<% end %>
<% if contact.mobile != "" %>
Mobile : <%= contact.mobile %>
<% end %>
<% if contact.email != "" %>
<%= mail_to(contact.email) %>
<% end %>
</div>
<% end %><hr>
<%= form_for ( [@compte, @compte.contacts.new]) do |f| %>
<div class = ""><%=image_tag("glyphicons/glyphicons_006_user_add.png")%></div>
  <div class = "pull-right">Prénom <%= f.text_field :prenom ,  :style=>'width: 13em;' %></div>
  <div class = "pull-right">Nom <%= f.text_field :nom,  :style=>'width: 13em;'  %></div>
  <div class = "pull-right"><%= f.select :civilite, Contact::CIVILITES, { }, { :style => 'width: 13em;'} %></div>
  <div class = "pull-right">Tél <%= f.text_field :tel,  :style=>'width: 13em;' %></div>
  <div class = "pull-right">Fax <%= f.text_field :fax ,  :style=>'width: 13em;'%></div>
  <div class = "pull-right">Mobile <%= f.text_field :mobile,  :style=>'width: 13em;' %></div>
  <div class = "pull-right">E-Mail <%= f.text_field :email ,  :style=>'width: 13em;'%></div>
  <div class = "pull-right">Fonction <%= f.text_field :fonction ,  :style=>'width: 13em;'%></div>
  <%= f.hidden_field :compte_id %>
  <div class = "actions"><%= f.submit %></div>
<% end %>
</pre>
  
