<pre>
  <%= link_to image_tag("glyphicons/glyphicons_020_home.png"), edit_account_path(@account),{:title => "Éditer le compte"} %> <i>(<%= @account.category %>)</i>
  <b>
    <%= @account.company unless @account.company.blank? %>
  </b>
  <%= @account.adress1 unless @account.adress1.blank? %>
  <%= @account.adress2 unless @account.adress2.blank? %>
  <%= @account.zip unless @account.zip.blank? %> <%= @account.city unless @account.city.blank? %>
  <%= "Tél : " + @account.tel unless @account.tel.blank? %>
  <%= "Fax : " + @account.fax unless @account.fax.blank? %>
  <%= mail_to(@account.email) unless @account.email.blank?%>
  <%= link_to(@account.web, @account.web, :target => "_blank") unless @account.web.blank?%>
</pre>
<hr>
  <% @account.contacts.order_by_surname.each do |contact| %>
  <div class="contact-container">
    <% if contact.title == "Mme"%>
      <%= link_to image_tag("glyphicons/glyphicons_035_woman.png"), edit_contact_path(contact),{:title => "Éditer le contact"} %> <% if !contact.job.blank? then %> <i class="contact-job">(<%= contact.job %>)</i><% end %>
    <% elsif contact.title == "M." %>
      <%= link_to image_tag("glyphicons/glyphicons_034_old_man.png"), edit_contact_path(contact),{:title => "Éditer le contact"} %><% if !contact.job.blank? then %><i class="contact-job"> (<%= contact.job %>)</i><% end %>
    <% end %>
    
    <p>
      <b><%= contact.title %> <%= contact.full_name %></b>
    </p>
    <p>
      <% if !contact.tel.blank? %>
        Tél : <%= contact.tel %><br />
      <% end %>
      <% if !contact.fax.blank? %>
        Fax : <%= contact.fax %><br />
      <% end %>
      <% if !contact.mobile.blank? %>
        Mobile : <%= contact.mobile %><br />
      <% end %>
      <% if contact.email != "" %>
        <%= mail_to(contact.email) %><br />
      <% end %>
    </p>
  </div>
<% end %><hr>
<%= form_for ( [@account, @account.contacts.new]) do |f| %>
<div class = ""><%=image_tag("glyphicons/glyphicons_006_user_add.png")%></div>
  <div class = "pull-right">Prénom <%= f.text_field :forename ,  :style=>'width: 13em;' %></div>
  <div class = "pull-right">Nom <%= f.text_field :surname,  :style=>'width: 13em;'  %></div>
  <div class = "pull-right"><%= f.select :title, Contact::TITLES, { }, { :style => 'width: 13em;'} %></div>
  <div class = "pull-right">Tél <%= f.text_field :tel,  :style=>'width: 13em;' %></div>
  <div class = "pull-right">Fax <%= f.text_field :fax ,  :style=>'width: 13em;'%></div>
  <div class = "pull-right">Mobile <%= f.text_field :mobile,  :style=>'width: 13em;' %></div>
  <div class = "pull-right">E-Mail <%= f.text_field :email ,  :style=>'width: 13em;'%></div>
  <div class = "pull-right">Fonction <%= f.text_field :job ,  :style=>'width: 13em;'%></div>
  <%= f.hidden_field :account_id %>
  <div class = "actions"><%= f.submit %></div>
<% end %>