<div class="navbar">
  <div class="navbar-inner">
      <div id="left-bar-container">	
          
          <%= link_to image_tag("logo_crm_small.png"), url_for(:controller => 'tasks', :action => 'filter') ,:class =>"brand" %>
          <div id="form-search-container" class="nav-collapse">
            <%= form_tag(search_accounts_path, :method => "get", :class =>"form-search", :id =>"form-search") do %>
	      <div class="input-append">
		<%= text_field_tag :account , nil , { 
		:class =>"search-query span3 typeahead-search-account by_id", 
		:placeholder => " Rechercher un acteur", 
		:autocomplete=>"off", 
		:type => 'search'}
		%>
		<button type="submit" class="btn"><span class="icon-search"></span></button>
	      </div>
	      <ul id="search-list" class="typeahead dropdown-menu"></ul>
            <% end %>
	  </div>
        
	    <%
	    # MENU
	  %>
	    <div id="nav-menu">
	      <ul class="nav" style="font-size: 14px;">
		<!-- TASKS -->
		<% cssClass = (params[:controller] == 'tasks') ? 'active' : '' %>
		<li class="<%= "#{cssClass} "%>">
		  <%= link_to " Tâches".html_safe, url_for(:controller => 'tasks', :action => 'filter') %>
		    
		</li>
		<!-- ACTORS -->
		<% cssClass = (params[:controller] == 'accounts' or params[:controller] == 'events' or params[:controller] == 'contacts') ? cssClass = 'active' : '' %>
		<li class="dropdown<%= if !cssClass.blank? then " #{cssClass}" end %>">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		    Acteurs
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><%= link_to "Comptes".html_safe, accounts_path %></li>
		    <li><%= link_to "Contacts".html_safe, contacts_path %></li>
		  </ul>
		</li>
		<!-- TRADES -->
		<% cssClass = (params[:controller] == 'quotations' or params[:controller] == 'opportunities') ? 'active' : '' %>
		<li class="dropdown<%= if !cssClass.blank? then " #{cssClass}" end %>">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		    Commerce
		    <span class="caret"></span>
		  </a>
		  
		  <ul class="dropdown-menu">
		    <li><%= link_to "Opportunités".html_safe, opportunities_path %></li>
		    <li><%= link_to "Devis".html_safe, quotations_path %></li>
		  </ul>
		</li>
		<% cssClass=nil %>
		<li class="dropdown<%= if !cssClass.blank? then " #{cssClass}" end %>">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		    Marketing
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="#">A venir...</a></li>
		  </ul>
		</li>
	      </ul>
	    </div>	
	  </div>
      <!--
      image_tag("icons/tache_blanc.png", :size => "16x16")
      image_tag("icons/ventes.png", :size => "16x16")
      image_tag("icons/ventes.png", :size => "16x16")
      image_tag("icons/ventes.png", :size => "16x16")
      
      image_tag("icons/opportunites2.png", :size => "18x16")+
      image_tag("icons/euro2.png", :size => "16x16")+
      -->
	    <% if user_signed_in? %>
	    <div id="profile_settings_buttons">
	      <ul class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		  <i class="icon-user"></i><%= current_user.forename %>
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		  <li><%= link_to "Profil", edit_user_registration_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to "Déconnexion", destroy_user_session_path, :data => {:confirm => 'Confirmer la déconnexion ?'}, :method => :delete %></li>
		</ul>
	      </ul>
	      
	      <ul class="btn-group">
		<a class="btn dropdown-toggle " data-toggle="dropdown" href="#">
                  <%= image_tag("glyphicons/glyphicons_280_settings.png", :size => "16x16")%>
		</a>
		<ul class="dropdown-menu dropdown-settings">
		  <li><%= link_to 'Types'.html_safe, event_types_path %></li>
		  <li><%= link_to 'Tags'.html_safe, tags_path %></li>
		  <li><%= link_to "Origines".html_safe, origins_path %></li>
		  <li><%= link_to "Modèles".html_safe, quotation_templates_path %></li>		  
        	  <li><%= link_to "À propos".html_safe, "/about" %></li>
		  <li><%= link_to "Extraction Comptes".html_safe, url_for(:controller => 'extractions', :action => 'select_param_accounts') %></li>
		  <li><%= link_to "Extraction Contacts".html_safe, url_for(:controller => 'extractions', :action => 'select_param_contacts') %></li>
		</ul>
	      </ul>

	      
	    </div>
	    <% end %>
          </div>
</div>

