<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
          
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <%= link_to image_tag("logo_crm_small.png"), url_for(:controller => 'tasks', :action => 'filter') ,:class =>"brand" %>
          
          
          <div class="nav-collapse" style="margin-top: 5px;">
            <ul class="nav" style="font-size: 14px;">
	      <% if params[:controller] == 'tasks' then %>
               	<li class="active">
	      <% else %>
		<li>
	      <% end %>
	      
              <%= link_to image_tag("icons/tache_blanc.png", :size => "16x16")+" Tâches".html_safe, url_for(:controller => 'tasks', :action => 'filter') %></li>

	      <% if params[:controller] == 'accounts' then %>
		<li class="active">
	      <% elsif params[:controller] == 'events' then%>
		<li class="active">
	      <% else %>
		<li>
	      <% end %>
	      
		
              <%= link_to image_tag("icons/compte_blanc.png", :size => "16x16")+" Comptes".html_safe, accounts_path %></li>

	      <% if params[:controller] == 'contacts' then %>
               	<li class="active">
	      <% else %>
		<li>
	      <% end %>
	      
              <%= link_to image_tag("icons/3people_blanc2.png", :size => "20x16")+" Contacts".html_safe, contacts_path %></li>
              
	      
	      
	      
	      <% if params[:controller] == 'quotations' then %>
		<li class="active dropdown">
	      <% elsif params[:controller] == 'opportunities' then%>
		<li class="active dropdown">
	      <% elsif params[:controller] == 'extractions' then%>
		<li class="active dropdown">  
	      <% else %>
		<li class="dropdown">
	      <% end %>
	      
		
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<%= image_tag("icons/ventes.png", :size => "16x16")+' Activité <span class="caret"></span>'.html_safe %>
	      </a>
	      
	      <ul class="dropdown-menu">
		<li><%= link_to image_tag("icons/opportunites2.png", :size => "18x16")+" Opportunités".html_safe, opportunities_path %></li>
		<li><%= link_to image_tag("icons/euro2.png", :size => "16x16")+" Devis".html_safe, quotations_path %></li>
		<li class="divider"></li>
		<li><%= link_to image_tag("icons/fiches.png", :size => "16x16")+" Extraction Comptes".html_safe, url_for(:controller => 'extractions', :action => 'select_param_accounts') %></li>
		<li><%= link_to image_tag("icons/fiches.png", :size => "16x16")+" Extraction Contacts".html_safe, url_for(:controller => 'extractions', :action => 'select_param_contacts') %></li>
	      </ul>
              </li>
		
            </ul>
            
            <%= form_tag(search_accounts_path, :method => "get", :class =>"form-search", :id =>"navsearch") do %>
	      <div class="input-append">
		<%= text_field_tag :account , nil , {:class =>"search-query span3", :placeholder => "Rechercher un compte", :autocomplete=>"off", :type => 'search', :id => 'typeahead-search-account'} #:data => { :provide => 'typeahead', :source => Account.find(:all,:select=>'company').map(&:company)},
		%>
		<button type="submit" class="btn"><span class="icon-search"></span></button>
	      </div>
	      <ul id="search-list" class="typeahead dropdown-menu"></ul>
            <% end %>

	    <% if user_signed_in? %>

	      <ul class="btn-group pull-right">
		<a class="btn dropdown-toggle " data-toggle="dropdown" href="#">
                  <%= image_tag("glyphicons/glyphicons_280_settings.png", :size => "16x16")%>
		</a>
		<ul class="dropdown-menu">
		  <li><%= link_to '<i class="icon-book"></i> Types'.html_safe, event_types_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to '<i class="icon-barcode"></i> Tags'.html_safe, tags_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to image_tag("icons/origine.png", :size => "16x16")+" Origines".html_safe, origins_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to image_tag("glyphicons/glyphicons_159_picture.png", :size => "16x16")+" Modèles".html_safe, quotation_templates_path %></li>		  
		  <li class="divider"></li>
        	  <li><%= link_to image_tag("icons/apropos.png", :size => "16x16")+" À propos".html_safe, "/about" %></li>
		</ul>
	      </ul>

	      <ul class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		  <i class="icon-user"></i><%= current_user.forename %>
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		  <li><%= link_to image_tag("icons/edit.png", :size => "16x16")+" Profil", edit_user_registration_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to image_tag("icons/deco.png", :size => "16x16")+" Déconnexion", destroy_user_session_path, :data => {:confirm => 'Confirmer la déconnexion ?'}, :method => :delete %></li>
		</ul>
	      </ul>
	      
	    <% end %>
	    
          </div>
		
    </div>
  </div>
</div>

