<%# encoding: utf-8 %>

<ul class="nav">
  <li class="dropdown nav-item">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title ="Créer...">
      <i class="fa fa-plus-circle"></i>
    </a>
    <ul class="dropdown-menu pull-right">
      <li><%= link_to "<i class=\"fa fa-tasks fa-fw\"></i> #{t('app.model.Task')}".html_safe, new_task_path %></li>
      <li><%= link_to "<i class=\"fa fa-home fa-fw\"></i> #{t('app.model.Account')}".html_safe, new_account_path %></li>
      <li><%= link_to "<i class=\"fa fa-user fa-fw\"></i> #{t('app.model.Contact')}".html_safe, new_contact_path %></li>
      <% if Setting.display_quotations? %> <li><%= link_to "<i class=\"fa fa-file-text fa-fw\"></i> #{t('app.model.Quotation')}".html_safe, new_quotation_path %></li> <% end %>
      <% if Setting.display_opportunities? %> <li><%= link_to "<i class=\"fa fa-briefcase fa-fw\"></i> #{t('app.model.Opportunity')}".html_safe, new_opportunity_path %></li> <% end %>
      <% if Setting.display_contracts? %> <li><%= link_to "<i class=\"fa fa-suitcase fa-fw\"></i> #{t('app.model.Contract')}".html_safe, new_contract_path %></li> <% end %>
      <li><%= link_to "<i class=\"fa fa-folder fa-fw\"></i> #{t('app.model.Document')}".html_safe, new_document_path %></li>
    </ul>
  </li>

  <!-- NOTIFICATIONS -->
  <li class="nav-item relative">
	<a href=/notifications>
		<i class="fa fa-bell"></i>
		<% if current_user.emails.length > 0 %>
			<span class="badge badge-important bottom-right"><%= current_user.emails.length %></span>
		<% end %>
	</a>
  </li>

  <!-- PROFIL -->

  <li class="dropdown nav-item">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title ="Profil et paramètres">
      <i class="fa fa-cogs"></i>
    </a>
    <ul class="dropdown-menu pull-right">
      <center><li role="presentation" class="dropdown-header" style="font-weight: bold"><%= current_user.forename %></li></center>
      <li class="divider"></li>
      <li><%= link_to '<i class="fa fa-user fa-fw"></i> Profil'.html_safe, edit_user_path(current_user) %></li>
      <li><%= link_to '<i class="fa fa-sign-out fa-fw"></i> Déconnexion'.html_safe, destroy_user_session_path, :data => {:confirm => 'Confirmer la déconnexion ?'}, :method => :delete %></li>
      <!-- SETTINGS in PROFIL -->

      <% if current_user.has_role?(:admin) or current_user.has_role?(:super_user) %>
        <li class="divider"></li>

        <center><li role="presentation" class="dropdown-header" style="font-weight: bold">Administration</li></center>
        <li class="divider"></li>

        <li class="dropdown-submenu pull-left">
          <a tabindex="-1" href="#"><i class="fa fa-cog fa-fw"></i> Configuration</a>
          <ul class="dropdown-menu ">
            <li><%= link_to '<i class="fa fa-users fa-fw"></i> Utilisateurs'.html_safe, users_path %></li>
            <li><%= link_to '<i class="fa fa-comment fa-fw"></i> Types d\'évènements'.html_safe, event_types_path %></li>
            <li><%= link_to '<i class="fa fa-tags fa-fw"></i> Tags'.html_safe, tags_path %></li>
            <li><%= link_to '<i class="fa fa-random fa-fw"></i> Origines'.html_safe, origins_path %></li>
            <li><%= link_to '<i class="fa fa-graduation-cap fa-fw"></i> Activités'.html_safe, activities_path %></li>
            <li><%= link_to '<i class="fa fa-files-o fa-fw"></i> Modèles devis'.html_safe, quotation_templates_path %></li>
            <li><%= link_to '<i class="fa fa-suitcase fa-fw"></i> Catégorie de contrats'.html_safe, contract_categories_path %></li>
            <li><%= link_to ('<i class="fa fa-money fa-fw"></i> ' + PaymentMode.model_name.human(count: 2).capitalize).html_safe, payment_modes_path %></li>
            <li><%= link_to ('<i class="fa fa-university fa-fw"></i> ' + PaymentTerm.model_name.human(count: 2).capitalize).html_safe, payment_terms_path %></li>

	    <li class="dropdown-submenu pull-left">
	      <a tabindex="-1" href="#"><i class="fa fa-cog fa-fw"></i> Campagnes</a>
	      <ul class="dropdown-menu ">
		<li><%= link_to '<i class="fa fa-suitcase fa-fw"></i>Avancements'.html_safe, campaign_completed_stages_path %></li>
		<li><%= link_to '<i class="fa fa-suitcase fa-fw"></i>Résultats'.html_safe, campaign_result_stages_path %></li>
	      </ul>
	    </li>

            <% if current_user.has_role?(:admin) %>
              <li class="divider"></li>
              <li><%= link_to '<i class="fa fa-wrench fa-fw"></i> Configuration CoRM'.html_safe, url_for({ :controller => 'settings', :action => 'index' }) %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown-submenu pull-left">
          <a tabindex="-1" href="#"><i class="fa fa-upload fa-fw"></i> Extraction</a>
          <ul class="dropdown-menu">
            <li><%= link_to '<i class="fa fa-home fa-fw"></i> Comptes'.html_safe, url_for(:controller => 'accounts', :action => 'extract') %></li>
            <li><%= link_to '<i class="fa fa-users fa-fw"></i> Contacts'.html_safe, url_for(:controller => 'contacts', :action => 'extract') %></li>
          </ul>
        </li>


	<!-- 19/11/2014 add import fonctionnality -->
	<li class="dropdown-submenu pull-left">
          <a tabindex="-1" href="#"><i class="fa fa-download fa-fw"></i> Import</a>
          <ul class="dropdown-menu">
	    <li><%= link_to '<i class="fa fa-home fa-fw"></i> Comptes'.html_safe, import_accounts_path, :method=>:get %></li>
	    <li><%= link_to '<i class="fa fa-users fa-fw"></i> Contacts'.html_safe, import_contacts_path, :method=>:get %></li>
	    <li class="divider"></li>
	    <li><%= link_to '<i class="fa fa-calendar fa-fw"></i> Historique'.html_safe, imports_path%></li>
	    <li><%= link_to '<i class="fa fa-files-o fa-fw"></i> Doublons'.html_safe, duplicate_accounts_path%></li>
          </ul>
        </li>


	<li class="dropdown-submenu pull-left">
	  <a tabindex="-1" href="#"><i class="fa fa-floppy-o fa-fw"></i> Sauvegarde</a>
          <ul class="dropdown-menu">
            <li><%= link_to '<i class="fa fa-file-archive-o fa-fw"></i> Format YAML'.html_safe, url_for(:controller => 'application', :action => 'send_yaml_backup_file') %></li>
            <li><%= link_to '<i class="fa fa-file-archive-o fa-fw"></i> Format CSV'.html_safe, url_for(:controller => 'application', :action => 'send_csv_backup_file') %></li>
          </ul>
        </li>


      <% end %>
      <li class="divider"></li>
      <li><%= link_to '<i class="fa fa-info-circle fa-fw"></i> À propos'.html_safe, '/about' %></li>
    </ul>
  </li>
</ul>
