<div class="container-fluid">
    <div class="field">
        <label class="checkbox">
            <%= check_box_tag :generate, "yes" %>
            <%= t('title.reporting_filter') %>
        </label>
    </div>
</div>

<div id="task_value" class="container-fluid" style= "display: none;">
    <%= form_tag(tasks_path, method: :GET) do %>
        <div class="row row-fluid">
		    <div class="">
			    <%= label_tag :by_statut, t('app.fields.state') + " :", :class => "top" %>
          <%= select_tag 'by_statut', options_for_select(Task::STATUTS_A_FILTRER), { :include_blank => "Tous", :class => "filter_statut" } %>
		    </div>
		    <div class="">
			    <%= label_tag :by_priority, t('app.fields.priority') + " :", :class => "top" %>
          <select name="by_priority" id="by_priority">
            <option value=""></option>
            <% Task::PRIORITIES.each_with_index do |value, index| %>
              <option value="<%= index %>"><%= value %></option>
            <% end %>
          </select>
			  </div>
        <%# Le typeahead et la recherche automatique des contacts associés sont gérés par nav-search-bar.js %>
        <div class="">
          <%= label_tag :by_account_company_like, t('app.model.Account') + " :", :class => "top" %>
          <%= text_field_tag "by_account_company_like",
                             nil,
                             { :class => "filter_tfield typeahead-account-search",
                               :data => { :provide => 'typeahead'},
                               :autocomplete=>"off" } %>
        </div>
        <div class="">
          <%= label_tag :by_contact_id, t('app.model.Contact') + " :", :class => "top" %>
          <%= select_tag "by_contact_id", options_for_select([]), { include_blank: '', id: 'contact_id' } %>
        </div>
		    <div class="">
			    <%= label_tag :by_account_id, t('app.fields.collegue') + " :", :class => "top" %>
          <%= select_tag "by_user_id",
                         options_from_collection_for_select(User.all_reals, :id, :full_name),
                         { :include_blank => "Tous", :class =>"filter_statut" } %>
		    </div>
        <div class="">
          <%= label_tag :by_notes_like,  t('app.fields.content') + " :", :class => "top" %>
          <%= text_field_tag "by_notes_like" %>
        </div>
		    <div>
                <%= submit_tag t('app.actions.filter'), :class =>"btn "%>
		    </div>
	  </div>
   <% end %>
</div>
