<div class="container-fluid">
     <div class="well" id="title-bar">
          <div class="row-fluid">
              <h1>Tableau de bord</h1>
          </div>
     </div>
     <div >
					<div>
										<table class="table table-bordered table-striped table-hover home-block">
												 <thead>
															<tr>
																	<th colspan="3">
																				<h2 class="pull-left">Mes dernières <%= t('app.model.Task').pluralize %></h2>
																				<%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_task_path ,{:title => "Créer une tâche", :class=>"pull-right btn", :style => 'display: inline-block'} %>
																	 </th>
															</tr>
															<tr>
																	 <th class="text-center"><%= t('app.fields.state') %></th>
																	 <th class="text-center"><%= t('app.model.Account') %></th>
																	 <th class="text-center"><%= t('app.fields.subject') %></th>
															</tr>
												 </thead>
												 <tbody>
												 <% if @tasks.length > 0 %>
															<% @tasks.each do |t|
															  priority_class_mod = ''
																if t.priority == 2
																	 priority_class_mod = ' error'
																elsif t.priority == 3
																	 priority_class_mod = ' error bold'
																elsif t.priority == 0
																	 priority_class_mod = ' info'
																end %>	
															<tr class="line <%= priority_class_mod %>">
																	 <td class="text-center">
																				<% badge_statut_class = nil
																				if t.statut == "A faire"
																					badge_statut_class = ' badge-important'
																				elsif t.statut == "En cours"
																					badge_statut_class = ' badge-warning'
																				elsif t.statut == "Terminé"
																					badge_statut_class = ' badge-success'
																				elsif t.statut == "Annulé"
																					badge_statut_class = ' badge-inverse'
																				end %>
																				<div class="badge-container">
																					<span class="badge<%= badge_statut_class unless badge_statut_class.nil? %>"><%= t.statut %></span>
																				</div>
																	 </td>
																	 <td class="text-center"><% if !t.account.nil? %><%= link_to t.account.company, account_events_path(t.account), { :title => 'Compte: ' + t.account.company, :class => 'ellipse' } %><% else %>Pas de compte<% end %></td>
																	 <% if !t.title.nil? then ellipse = t.title.length > 45 ? '...' : '' end %>
																	 <td class="ellipse"><span><%= link_to (!t.title.blank?() ? t.title[0..45] + ellipse : "Pas de sujet"), edit_task_path(t), :title => 'Editer la tâche' %></span></td>
															</tr>
												 <% end %>
												 <tr>
															<td colspan="3" class="text-center"><%= link_to('Afficher toutes les tâches', filter_tasks_path, :title => 'Afficher les tâches') %></td>
												 </tr>
										     <% end %>
												 </tbody>
										</table>
					</div>
					<div>
						<table class="table table-bordered table-striped table-hover home-block">
														<thead>
															<tr>
																	<th colspan="2">
																				<h2 class="pull-left"><%= t('app.model.Event').pluralize %> récents</h2>
																	 </th>
															</tr>
															<tr>
																	 <th class="text-center"><%= t('app.model.Account') %></th>
																	 <th class="text-center">Détails</th>
															</tr>
												 </thead>
												 <tbody>
													<% @events.each do |e| %>
													<tr>
														<td class="text-center">
															<% if !e.account.nil? %><strong><%= link_to e.account.company, account_events_path(e.account.id) %></strong> <% end %>
														</td>

														<td>
																											 <%
												 action = nil
												 if e.modified_by.blank?
													 action = 'créé'
												 else
													 action = 'modifié'
												 end
												 task_action = "Création de "
												 if !e.task.nil?
													 if e.task.modified_by.nil? and e.created_by == e.task.created_by
														 task_action = 'Création de '
													 elsif !e.task.modified_by.nil? and e.modified_by == e.task.modified_by
														 
														 task_action = 'Modification de '
													 end
												 end
												 %>
												 <% if e.task.nil? or e.modified_by.nil? %>
													 <%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %>
													 <% if !e.contact.nil? and !e.event_type.nil? %>
															 a <%= action %> <strong><i><%= e.event_type.full_type %></i></strong>.
													 <% if !e.contact.nil? %>avec<strong><%= " #{e.contact.full_name}" %></strong><% end %><% if !e.task.nil? %> <br /><%= link_to "#{task_action} la tâche n° #{e.task.id}", edit_task_path(e.task.id) %><% end %>.
													 <% elsif !e.task.nil? %>
														 a <%= action %> <%= link_to "la tâche n° #{e.task.id}", edit_task_path(e.task.id) %><% if !e.task.title.blank? %> portant sur "<strong><%= e.task.title %></strong>"<% end %>.
													 <% elsif !e.event_type.nil? %>
														 a <%= action %> <strong><i><%= e.event_type.full_type %></i></strong>.
													 <% else %>
														 a éffectué une action.
													 <% end %>
												 <% else %>
													 <%= e.editor.full_name %> a modifié <%= link_to "la tâche n° #{e.task.id}", edit_task_path(e.task.id) %><% if !e.task.title.blank? %> portant sur "<strong><%= e.task.title %></strong>"<% end %>
												 <% end %>
														</td>
													</tr>													
													
													<% end %>
												 </tbody>
						</table>
					</div>
     </div>
</div>
