<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="container-fluid" style="margin-top: 1em;">
     <div class="well" id="title-bar">
       <div class="row-fluid">
	     <div class="span9">
                    <h1><%= '<i class="fa fa-pie-chart"></i>'.html_safe %> <%=t('title.reporting')%></h1>
             </div>
       </div>
     </div>
</div>	 
     <div id="task_value" class="container-fluid">
          <div class="well">

               <legend>
                    Filtres
               </legend>
               
               <%= form_tag(reporting_path, method: :GET) do %>
               
                    <div class="row row-fluid">
                         
                         <div class="small-date">
                              <p><%= label_tag :start_at, "Début :", :class => 'top' %><%= text_field_tag :start_at, @start_at.strftime("%d/%m/%Y"), class: "event_date", data: { provide: "datepicker" } %></p>
                         </div>
                         
                         <div class="small-date">
                              <p><%= label_tag :end_at, "Fin :", :class => 'top' %><%= text_field_tag :end_at, @end_at.strftime("%d/%m/%Y"), class: "event_date", data: { provide: "datepicker" } %></p>
                         </div>
                         
                         <%# Le typeahead et la recherche automatique des contacts associés sont gérés par nav-search-bar.js %>
                         <div class="">
                              <%= label_tag :by_account_id, t('app.fields.collegue') + " :", :class => "top" %>
                              <%= select_tag "user_id", options_from_collection_for_select(User.all_reals, :id, :full_name, @user_id), { :include_blank => "All", :class =>"filter_statut" } %>
                         </div>
                         
                    <%= submit_tag t('app.actions.filter'), :class =>"btn "%>
               <% end %>
          </div>
     </div>
</div>





<!--Events-->
<div class="container-fluid">
<div class="page-header">
     <h1><small><%= t('app.model.Event').pluralize %></small></h1>
</div>     
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= link_to"#{t('app.model.Event').pluralize}".html_safe, events_path, :title => "#{t('app.model.Event').pluralize}".html_safe %> créés du <%= @start_at.to_date.strftime("%d/%m/%Y") %> au <%= @end_at.to_date.strftime("%d/%m/%Y") %></th>	
      <th class="text-center">Nombre</th>
      <th class="text-center">Plus ancien</th>
      <th class="text-center">Plus récent</th>
      <th class="text-center">Moy. journalière</th>
    </tr>
  </thead>
  <tbody>
     <% EventType.all.each do |event_type| %>
          <% if !(@events.by_event_type_id(event_type.id).count == 0) %>
          <tr>
               <td class="text-center"><%= event_type.label %> <%= event_type.direction %></td>
               <td class="text-center"><%= number_with_delimiter(@events.by_event_type_id(event_type.id).count) %></td>
               <td class="text-center"><%= @events.by_event_type_id(event_type.id).blank? ? '-' : @events.by_event_type_id(event_type.id).order("created_at ASC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
               <td class="text-center"><%= @events.by_event_type_id(event_type.id).blank? ? '-' : @events.by_event_type_id(event_type.id).order("created_at DESC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
               <td class="text-center"><%= number_with_delimiter(number_with_precision( (@events.by_event_type_id(event_type.id).count / (@end_at.to_date - @start_at.to_date + 1)), :precision => 2)) %></td>
          </tr>
          <% end %>
     <% end %>
     <tr>
          <td class="text-center"><strong>Total</strong></td>
          <td class="text-center"><strong><%= number_with_delimiter(@events.count) %></strong></td>
          <td class="text-center"><strong><%= @events.blank? ? '-' : @events.order("created_at ASC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></strong></td>
          <td class="text-center"><strong><%= @events.blank? ? '-' : @events.order("created_at DESC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></strong></td>
          <td class="text-center"><strong><%= number_with_delimiter(number_with_precision( (@events.count / (@end_at.to_date - @start_at.to_date + 1)), :precision => 2)) %></strong></td>
     </tr>     
  </tbody>
</table>   
     <div class="row-fluid">
          <div class="span8">
               <%= line_chart @events.group_by_day(:created_at).count %>
          </div>
          <div class="span4">
               <%= pie_chart @events.joins(:event_type).group("(event_types.label, event_types.direction)").count, library: {is3D: false, pieHole: 0.4} %>
          </div>
     </div>

  
</div>



<!--Tasks-->
<div class="container-fluid">
<div class="page-header">
     <h1><small><%= t('app.model.Task').pluralize %></small></h1>
</div>         
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= link_to"#{t('app.model.Task').pluralize}".html_safe, tasks_path, :title => "#{t('app.model.Task').pluralize}".html_safe %> créées du <%= @start_at.to_date.strftime("%d/%m/%Y") %> au <%= @end_at.to_date.strftime("%d/%m/%Y") %></th>	
      <th class="text-center">Nombre</th>
      <th class="text-center">Plus ancienne</th>
      <th class="text-center">Plus récente</th>
      <th class="text-center">Moy. journalière</th>
    </tr>
  </thead>
  <tbody>
     <% Task::STATUTS.each do |status| %>
          <% if !(@tasks.by_statut(status).count == 0) %>
          <tr>
               <td class="text-center"><%= status %></td>
               <td class="text-center"><%= number_with_delimiter(@tasks.by_statut(status).count) %></td>
               <td class="text-center"><%= @tasks.by_statut(status).blank? ? '-' : @tasks.by_statut(status).order("created_at ASC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
               <td class="text-center"><%= @tasks.by_statut(status).blank? ? '-' : @tasks.by_statut(status).order("created_at DESC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
               <td class="text-center"><%= number_with_delimiter(number_with_precision( (@tasks.by_statut(status).count / (@end_at.to_date - @start_at.to_date + 1)), :precision => 2)) %></td>
          </tr>
          <% end %>
     <% end %>
     <tr>
          <td class="text-center"><strong>Total</strong></td>
          <td class="text-center"><strong><%= number_with_delimiter(@tasks.count) %></strong></td>
          <td class="text-center"><strong><%= @tasks.blank? ? '-' : @tasks.order("created_at ASC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></strong></td>
          <td class="text-center"><strong><%= @tasks.blank? ? '-' : @tasks.order("created_at DESC").first.created_at.strftime("%d/%m/%Y - %H:%M") %></strong></td>
          <td class="text-center"><strong><%= number_with_delimiter(number_with_precision( (@tasks.count / (@end_at.to_date - @start_at.to_date + 1)), :precision => 2)) %></strong></td>
     </tr>     
  </tbody>
</table>
     <div class="row-fluid">
          <div class="span8">
               <%= line_chart @tasks.group_by_day(:created_at).count %>
          </div>
          <div class="span4">
               <%= pie_chart @tasks.group(:statut).count, library: {is3D: false, pieHole: 0.4} %>
          </div>
     </div>
</div>


<!--Opportunities-->
<div class="container-fluid">
<div class="page-header">
     <h1><small><%= t('app.model.Opportunity').pluralize %></small></h1>
</div>         
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= link_to"#{t('app.model.Opportunity').pluralize}".html_safe, opportunities_path, :title => "#{t('app.model.Opportunity').pluralize}".html_safe %> créées du <%= @start_at.to_date.strftime("%d/%m/%Y") %> au <%= @end_at.to_date.strftime("%d/%m/%Y") %></th>	
      <th class="text-center">Nombre</th>
      <th class="text-center">Montant HT</th>
      <th class="text-center">Marge HT</th>
      <th class="text-center">Montant moyen HT</th>
      <th class="text-center">Marge moyenne HT</th>
    </tr>
  </thead>
  <tbody>
     <% Opportunity::STATUTS.each do |status| %>
          <% if !(@opportunities.by_statut(status).count == 0) %>
          <tr>
               <td class="text-center"><%= status %></td>
               <td class="text-center"><%= @opportunities.by_statut(status).count %></td>
               <td class="text-center"><%= number_to_currency(@opportunities.by_statut(status).sum(:amount)) %></td>
               <td class="text-center"><%= number_to_currency(@opportunities.by_statut(status).sum(:profit)) %></td>
               <td class="text-center"><%= @opportunities.by_statut(status).count == 0 ? '-' : number_to_currency((@opportunities.by_statut(status).sum(:amount) / @opportunities.by_statut(status).count )) %></td>
               <td class="text-center"><%= @opportunities.by_statut(status).count == 0 ? '-' : number_to_currency((@opportunities.by_statut(status).sum(:profit) / @opportunities.by_statut(status).count )) %></td>
          </tr>
          <% end %>
     <% end %>
     <tr>
          <td class="text-center"><strong>Total</strong></td>
          <td class="text-center"><strong><%= number_with_delimiter(@opportunities.count) %></strong></td>
          <td class="text-center"><strong><%= number_to_currency(@opportunities.sum(:amount)) %></strong></td>
          <td class="text-center"><strong><%= number_to_currency(@opportunities.sum(:profit)) %></strong></td>
          <td class="text-center"><strong><%= @opportunities.count == 0 ? '-' : number_to_currency((@opportunities.sum(:amount) / @opportunities.count )) %></strong></td>
          <td class="text-center"><strong><%= @opportunities.count == 0 ? '-' : number_to_currency((@opportunities.sum(:profit) / @opportunities.count )) %></strong></td>
     </tr>     
  </tbody>
</table>
     <div class="row-fluid">
          <div class="span8">
               <%= bar_chart @opportunities.group(:statut).sum(:amount) %>
          </div>          
          <div class="span4">
               <%= pie_chart @opportunities.group(:statut).count, library: {is3D: false, pieHole: 0.4} %>
          </div>
     </div>
</div>



<!--Quotations-->
<div class="container-fluid">
<div class="page-header">
     <h1><small><%= t('app.model.Quotation').pluralize %></small></h1>
</div>         
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"><%= link_to"#{t('app.model.Quotation').pluralize}".html_safe, quotations_path, :title => "#{t('app.model.Quotation').pluralize}".html_safe %> créés du <%= @start_at.to_date.strftime("%d/%m/%Y") %> au <%= @end_at.to_date.strftime("%d/%m/%Y") %></th>	
      <th class="text-center">Nombre</th>
      <th class="text-center">Montant HT</th>
      <th class="text-center">Montant moyen HT</th>
    </tr>
  </thead>
  <tbody>
     <% Quotation::STATUTS.each do |status| %>
          <% if !(@quotations.by_statut(status).count == 0) %>
          <tr>
               <td class="text-center"><%= status %></td>
               <td class="text-center"><%= number_with_delimiter(@quotations.by_statut(status).count) %></td>
               <td class="text-center"><%= number_to_currency(@quotations.by_statut(status).sum(:total_excl_tax_cents) / 100 ) %></td>
               <td class="text-center"><%= @quotations.by_statut(status).count == 0 ? '-' : number_to_currency((@quotations.by_statut(status).sum(:total_excl_tax_cents) / (@quotations.by_statut(status).count * 100) )) %></td>
          </tr>
          <% end %>
     <% end %>
     <tr>
          <td class="text-center"><strong>Total</strong></td>
          <td class="text-center"><strong><%= number_with_delimiter(@quotations.count) %></strong></td>
          <td class="text-center"><strong><%= number_to_currency(@quotations.sum(:total_excl_tax_cents) / 100 ) %></strong></td>
          <td class="text-center"><strong><%= @quotations.count == 0 ? '-' : number_to_currency((@quotations.sum(:total_excl_tax_cents) / (@quotations.count * 100) )) %></strong></td>
     </tr>     
  </tbody>
</table>
     <div class="row-fluid">
          <div class="span8">
               <%= bar_chart @quotations.group(:statut).sum('(total_excl_tax_cents / 100)') %>
          </div>            
          <div class="span4">
               <%= pie_chart @quotations.group(:statut).count, library: {is3D: false, pieHole: 0.4} %>
          </div>
     </div>
</div>



