<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span8">
           <h3>Document(s) de <%= @account.company %></h3>
         </div>
           <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_document_path(:account_id => @account.id) ,{:title => "Créer un document", :class =>"pull-right btn"}%>
       </div>
     </div>

         
</div>


<div class="container-fluid">
  
 <% if Document.by_account(@account).blank? %>
 <h4> Aucun Document n'est rattaché à ce Compte </h4>
 <% else %>
  
 <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><center>Id</center></th>
        <th><center>Nom</center></th>
        <th><center>Document</center></th>
        <th><center>Description</center></th>
		<th><center>Télécharger</center></th>
        <th><center>Éditer</center></th>
      </tr>
    </thead>
    <tbody>
      <% @documents = Document.by_account(@account).order('name ASC').page(params[:page]) %>
      <% @documents.each do |document| %>
        <tr>
         <td><center><%= document.id %></center></td>
         <td><center><%= document.name %></center></td>
         <td><%= link_to (document.attach_file_name), document.attach.url, :target => "_blank",:title => "Télécharger le document"%></td>
         <td><%= truncate(document.notes, :length => 600, :separator => ' ') %></td>
		 <td><center><%= link_to (image_tag("glyphicons/glyphicons_219_circle_arrow_right.png")), document.attach.url, :target => "_blank",:title => "Télécharger le document", :class =>"btn"%></center></td>
         <td><center><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_document_path(document),{:title => "Éditer le document", :class =>"btn"} %></center></td>
        </tr>
        <% end %>
      </tbody>
  </table>
  
  <br />
  
  <%= paginate @documents %>
  
  <% end %> 
  
</div>

