<p class="<%= css_class unless css_class.nil? %>">
<%
  action = nil
  if e.modified_by.blank?
    action = 'créé(e)'
  else
    action = 'modifié(e)'
  end
  task_action = "Création de "
  if !e.task.nil?
    if e.task.modified_by.nil? and e.created_by == e.task.created_by
      task_action = 'Création de '
    elsif !e.task.modified_by.nil? and e.modified_by == e.task.modified_by
      task_action = 'Modification de '
    end
  end
%>

<% if e.task.nil? or e.modified_by.nil?%>

  <% if !e.contact.nil? and !e.event_type.nil? %>
      <strong><%= e.event_type.full_type %> </strong> <%= action %> par <%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %> <% if !e.contact.nil? %> avec <strong><%= e.contact.full_name %></strong><% end %>.
       <% if !e.task.nil? %>
          <br/><%= link_to "#{task_action} la tâche n° #{e.task.id}", edit_task_path(e.task.id) %><br/>
       <% end %>
       <% elsif !e.task.nil? %>
          <%= link_to "Tâche n° #{e.task.id}", edit_task_path(e.task.id) %> <%= action %> par <%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %> <% if !e.task.title.blank? %> portant sur "<strong><%= e.task.title %></strong>"<% end %>.
          <% elsif !e.event_type.nil? %>
          <strong><%= e.event_type.full_type %></strong> <%= action %> par <%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %>.
            <% else %>
              <%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %> a effectué une action<% if !e.contact.nil? %> avec <strong><%= e.contact.full_name %></strong><% end %>.
        <% end %>
        <% else %>
        <%= link_to "Tâche n° #{e.task.id}", edit_task_path(e.task.id) %> <%= action %> par <%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %> <% if !e.task.title.blank? %> portant sur "<strong><%= e.task.title %></strong>"<% end %>.
<% end %>
</p>
