<div class="container-fluid">
<div>
  <div class="field">
    <label class="checkbox">
      <%= check_box_tag :generate, "yes" %>
      Filtrer les évènements
    </label>
  </div>
</div>


<div id="task_value" style= "display: none;">
  <%= form_tag(events_path, method: :GET) do %>
    <div class="row row-fluid">
    <div class="">
        <%= label_tag :by_event_type_id, "Type :", :class => "top" %>
        <%= select_tag "by_event_type_id", 
                       options_from_collection_for_select(EventType.find(:all), :id, :full_type),
                       { :prompt => "Tous", :class =>"filter_statut" } %>
      </div>

      <%# Le typeahead et la mise à jour des contacts associés sont gérés par nav-search-bar.js %>
      <div class="">
        <%= label_tag :by_content_like, "Contenu :", :class => "top" %>
        <%= text_field_tag "by_content_like" %>
      </div>
      <div class="">
        <%= label_tag :filter_priority, "Compte :", :class => "top" %>
        <%= text_field_tag "by_account_company_like",
                           nil,
                           { :class => "filter_tfield typeahead-account-search",
                             :data => { :provide => 'typeahead'},
                             :autocomplete=>"off" } %>
      </div>
      <div class="">
        <%= label_tag :by_contact_id, "Contact :", :class => "top" %>
        <%= select_tag "by_contact_id",
                       options_for_select([]),
                       { prompt: 'Tous', id: 'contact_id' } %>
      </div>
      <div class="">
        <%= label_tag :by_user_id, "Collaborateur :", :class => "top" %>
        <%= select_tag "by_user_id",
                       options_from_collection_for_select(User.all_reals, :id, :full_name),
                       { :prompt => "Tous", :class =>"filter_statut" } %>
      </div>
      <div>
        <%= submit_tag "Filtrer", :class =>"btn "%>
      </div>
    </div>
  <% end %>
</div>
</div>
