<% if !@events.nil? and @events.length > 0 %>
<div id="listing-event">
  <label class="checkbox" id="toggle-events-more">
    <input type="checkbox" />Déplier tous les évenements
  </label>
  <% @events.each do |e| %>
  <div class="event-container">
    <div class="event small">
      <div class="message">
        <p>
          <%
          action = nil
          if e.modified_by.blank?
            action = 'créé'
          else
            action = 'modifié'
          end
          task_action = "Création de "
          if !e.task.nil?
            if e.task.modified_by.nil? and e.created_by == e.task.created_by
              task_action = 'Création de '
            elsif !e.task.modified_by.nil? and e.modified_by == e.task.modified_by
              
              task_action = 'Modification de '
            end
          end
          %>
          <% if e.task.nil? or e.modified_by.nil? %>
            <strong><%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %></strong>
            <% if !e.contact.nil? and !e.event_type.nil? %>
                a <%= action %> <strong><i><%= e.event_type.full_type %></i></strong>.
            <% if !e.contact.nil? %><strong><%= "avec #{e.contact.full_name}" %></strong><% end %>. <% if !e.task.nil? %> <br /><%= link_to "#{task_action} la tâche n° #{e.task.id}", edit_task_path(e.task.id) %><% end %>.
            <% elsif !e.task.nil? %>
              a <%= action %> <%= link_to "la tâche n° #{e.task.id}", edit_task_path(e.task.id) %><% if !e.task.title.blank? %> portant sur "<strong><%= e.task.title %></strong>"<% end %>.
            <% elsif !e.event_type.nil? %>
              a <%= action %> <strong><i><%= e.event_type.full_type %></i></strong>.
            <% else %>
              a éffectué une action <%= 'avec ' + e.contact.full_name + ' ' unless e.contact.nil? %><%=  %>.
            <% end %>
          <% else %>
            <strong><%= e.editor.full_name %></strong> a modifié <%= link_to "la tâche n° #{e.task.id}", edit_task_path(e.task.id) %><% if !e.task.title.blank? %> portant sur "<strong><%= e.task.title %></strong>"<% end %>
          <% end %>
        </p>
      <div class="more">
        <h4>Plus d'informations</h4>
        <ul>
          <li>N° <%= e.id %></li>
        <% if !e.date_begin.blank? %>
          <li>Début : <%= e.date_begin.strftime("%d/%m/%y à %H:%M") %></li>
        <% end %>
        <% if !e.date_end.blank? %>
          <li>Fin : <%= e.date_end.strftime("%d/%m/%y à %H:%M") %></li>
        <% end %>
        <% if !e.account.nil? %>
          <li>Compte : <%= e.account.company %></li>
        <% end %>
        <% if !e.contact.nil? %>
          <li>Contact : <%= e.contact.full_name %></li>
        <% end %>
        <% if !e.event_type.nil? %>
          <li><%= e.event_type.full_type %></li>
        <% end %>
        </ul>
        <% if !e.notes.blank? %>
          <div class="notes"><%= e.notes %></div>
        <% end %>
        <% if e.created_by == current_user.id or e.modified_by == current_user.id or current_user.has_role? :super_user %>
          <%= link_to "Supprimer", event_path(e), :data => { :confirm => 'Confirmer la Suppression?'},:class => "" , :title => "Supprimer l'évènement", :method => :delete %>
        <% end %>
      </div>
      </div>
      <div class="time">
        <p>
          il y a <%= distance_of_time_in_words_to_now(e.updated_at) %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<%= paginate @events %>