<%= form_for([@account, @event_new], :html => { :class => "well ", :multipart => true}) do |f| %>
  <div class="row row-fluid by_2">
    <div class="field-group">
      <div class="field small-date">
        <p><%= f.label :date_begin, "Début :", :class => 'top' %><%= f.text_field :date_begin, :value => Date.today.strftime("%d/%m/%Y"), :class =>"event_date" %></p>
      </div>
      <div class="field time">
        <%= f.label :date_begin, " à " %><%= f.time_select :date_begin , :class => "event_time" %>
      </div>      
    </div>
    <div class="field-group">
      <div class="field small-date">
        <p><%= f.label :date_end, "Fin : ", :class => 'top' %><%= f.text_field :date_end, :value => Date.today.strftime("%d/%m/%Y"), :class =>"event_date" %></p>
      </div>
      <div class="field time text-center">
        <%= f.label :date_end, " à " %><%= f.time_select :date_end , :class => "event_time" %>
      </div>
    </div>
  </div>
  <div class="row row-fluid by_2">
      <div class="field">
        <p><%= f.label :contact_id, "Contact : ", :class => 'top' %><%= f.collection_select :contact_id, @account.contacts.order('surname'), :id, :full_name, :class =>"filter_coll", :include_blank => true %></p>
      </div>
      <div class="field">
        <p><%= f.label :event_type_id, "Type : ", :class => 'top' %><%= f.collection_select :event_type_id, EventType.order('label'), :id, :full_type, :class =>"filter_coll", :include_blank => true %></p>
      </div>
  </div>  
  <div class="row row-fluid">
    <div class="field full">
      <%= f.label :notes, "Description : ", :class => 'top' %>
      <%= f.text_area :notes, { :rows => "5", :class => 'required' } %>
    </div>
  </div>
  <div class="row row-fluid">
    <div class="field full">
      <%= f.label :attach, "Pièce-jointe : ", :class => 'top' %>
      <%= f.file_field :attach %>
    </div>
  </div>
  <div class="row row-fluid">
    <div class="field">
      <label class="checkbox">
        <%= check_box_tag :generate, "yes" %>
        Générer une tâche liée à cet évènement
      </label>
    </div>
  </div>
  
  <div id="task_values" style="display: none;">
    <div class="row">
      <div class="field">
        <p>
          <%= f.label(:statut, "Statut :", :class => 'top') %>
          
          <%= select :statut, :statut , Task::STATUTS %>
        </p>
      </div>
      <div class="field">
        <p>
          <%= f.label :term, "Echéance :", :class => 'top' %>
          <%= text_field_tag :term , nil ,{:id =>"task_term"}%>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="field">
        <%= f.label :user_id, "Colaborateur :", :class => 'top' %>
        <%= f.collection_select :user_id, User.all_reals, :id, :full_name %>
      </div>
      <div class="field align-mid">
        <label class="checkbox">
          <%= check_box_tag :mail, "yes" %>
          Envoyer un mail à ce collaborateur
        </label>
      </div>
    </div>
    <div class="row row-fluid">
      <div class="field full">
        <%= f.label :notes, "Description :", :class => 'top' %>
        <%= f.text_area  :notes, { :rows => "5" } %>
      </div>
    </div>
  </div>
  <%= f.hidden_field :account_id %>
  <div class="row row-fluid action">
    <%= f.submit 'Créer un Évènement', :class =>"btn btn-primary" %>
  </div>
<% end %>

