<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span8">
           <h3>Opportunité(s) de <%= @account.company %></h3>
         </div>
         <div class="pull-right">
           <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_opportunity_path(:account_id => @account.id) ,{:title => "Créer une opportunité", :class =>"btn"}%>
         </div>
       </div>
     </div>

         
</div>

<div class="container-fluid">
	
	<% if Opportunity.by_account(@account).blank? %>
		<h4> Aucune opportunité n'est rattachée à ce account </h4>
	<% else %>
        

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Statut</th>
        <th class="text-center">Libellé</th>
        <th class="text-center">Contact</th>
        <th class="text-center">Estimation</th>
	<th class="text-center">Marge</th>
        <th class="text-center">Échéance</th>
        <th class="text-center">Collaborateur</th>
        <th class="text-center">Éditer</th>
      </tr>
    </thead>
    <tbody>
	
			<% @opportunities = Opportunity.by_account(@account).order('name ASC').page(params[:page]) %>
			<% @total_amount = 0 %>
			<% @total_profit = 0 %>
			<% @opportunities.each do |opportunity| %>
				<% if opportunity.statut=="Détectée" || opportunity.statut=="En cours" %>
					<% @total_amount += opportunity.amount %>
					<% @total_profit += opportunity.profit %>
				<% end %>
        <tr>
          <td class="text-center"><%= opportunity.id %></td>
          <td class="text-center">
            <% if opportunity.statut == "Détectée"%>
              <span class="badge badge-important">
            <% elsif opportunity.statut == "En cours"%>
              <span class="badge badge-warning">
            <% elsif opportunity.statut == "Gagnée"%>
              <span class="badge badge-success">
            <% elsif opportunity.statut == "Perdue"%>
              <span class="badge badge-inverse">
            <% else %>
              -
            <% end %>
            <%= opportunity.statut %></span>
          </td>
          <td class="text-center"><%= opportunity.name %></td>
          <td class="text-center"><%= if !opportunity.contact.nil? then link_to opportunity.contact.full_name, edit_contact_path(opportunity.contact),{:title => "Éditer le contact"} end%></td>
          <td style="text-align :right;">
            <% if !opportunity.amount.nil? %>
              <%= number_to_currency(opportunity.amount, :locale => :fr)  %> <strong> HT </strong>
            <% end %>
          </td>
					<td style="text-align :right;">
        		<% if !opportunity.profit.nil? %>
            	<%= number_to_currency(opportunity.profit, :locale => :fr)  %> <strong> HT </strong>
          	<% end %>
					</td>
          <td class="text-center"><%= if !opportunity.term.nil? then opportunity.term.strftime("%d/%m/%y") end%></td>
          <td class="text-center"><%= if !opportunity.author.nil? then opportunity.user.full_name end%></td>
          <td class="text-center"><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_opportunity_path(opportunity),{:title => "Éditer l'opportunité", :class =>"btn"} %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
  
  <br />
  
  <%= paginate @opportunities %>
  
  <div class="page-header pull-right" style="text-align: right;">
    <h4> Montant total estimé : <%=number_to_currency(@total_amount, :locale => :fr) %>  HT</h4> <br /> 
	<h4> Marge totale estimée : <%=number_to_currency(@total_profit, :locale => :fr) %>  HT</h4> 
  </div>
  
  <% end %>
  

</div>
