<p id="notice"><%= notice %></p>

<p>
  <b>Debut:</b>
  <%= @event.debut %>
</p>

<p>
  <b>Fin:</b>
  <%= @event.fin %>
</p>

<p>
  <b>Notes:</b>
  <%= @event.notes %>
</p>

<p>
  <b>Created by:</b>
  <%= @event.author.full_name %>
</p>

<p>
  <b>Modified by:</b>
  <% if (!@event.modified_by.nil?) %>
    <%= @event.editor.full_name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
