<div class="container-fluid" style="margin-top: 1em;">
    <div class="well">
        <div class="row-fluid">
            <div class="span9">
				<h1><%= '<i class="fa fa-wrench"></i>'.html_safe %> <%= t('title.configuration_CoRM') %></h1>
            </div>
        </div>
    </div>
    <div name="general_settings">
     	<div class="span9">
                <h2>Logo d'accueil</h2>
	    </div>
	    <!-- On crée un formulaire pour cette entrée -->
        <%= form_for(Setting.new, :url => { :controller => 'settings', :action => 'update'}) do |f| %>
            <% if !@setting.attach.blank? %>
            <div class="row row-fluid">
                <div class="field full">
                    <span class="span2">Logo actuel :</span><%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + @setting.attach_file_name , @setting.attach.url, :target => '_blank' %>
                </div>
            </div>
            <% end %>
                
            <div class="row row-fluid">
               <div class="field full">
                     <span class="span2">
                     <% if !@setting.attach.blank? %>
                        Modifier le logo :
                     <% else %>
                        Ajouter un logo :
                     <% end %>
                     </span>
                     <%= f.file_field "attach" %>
                </div>
                <div class="field full">
                    <div class="span2"></div><input type="submit" value="Sauvegarder" class="btn btn-success"> 
					<div class="alert alert-info">
					  <strong>Information :</strong> l'image doit faire 180 par 180 pixel au maximum...
					</div>
                    <%= hidden_field_tag "setting[id]", @setting.id%>
                </div>
            </div>
			
        <% end %>
	</div>
    

		    
    <div name="general_settings">
     	<div class="span9">
            <h2>Fonction Click-to-call</h2>
	</div>

                
		<%= form_for(Setting.new, :url => { :controller => 'settings', :action => 'update'}) do |f| %>
		    <div class="row row-fluid">
		        <div class="field full">
    			<div class="span2"> Activé : </div> <%= f.check_box :clicktocall, {:checked => (@setting.clicktocall)} %>
  			
			<% if @setting.clicktocall == true %>
		        <div class="alert alert-success">Fonction actuellement activée.</div>
		    <% else %>
			<div class="alert alert-warning">Fonction actuellement désactivée.</div>
		    <% end %>
			
			</div>
			
		    <div class="field full">
			<div class="span2"></div><input type="submit" value="Sauvegarder" class="btn btn-success">
		    </div>
		    </div>
		    <%= hidden_field_tag "setting[id]", @setting.id%>
		<% end %>
  	                     

    
	<div class="span9">
            <h2>Saisies obligatoires</h2>
	</div>

                
		    <%= form_for(Setting.new, :url => { :controller => 'settings', :action => 'update'}) do |f| %>
			<div class="row row-fluid">
			<div class="field full">
			    <div class="span2"> Saisie du compte obligatoire : </div> <%= f.check_box :mandatory_account, {:checked => (@setting.mandatory_account)} %>
			    <% if @setting.mandatory_account == true %>
				<div class="alert alert-success">Fonction actuellement activée.</div>
			    <% else %>
				<div class="alert alert-warning">Fonction actuellement désactivée.</div>
			    <% end %>
			</div>
			
		    	<div class="field full">
    			<div class="span2"> Saisie du contact obligatoire : </div> <%= f.check_box :mandatory_contact, {:checked => (@setting.mandatory_contact)} %>
			<% if @setting.mandatory_contact == true %>
			    <div class="alert alert-success">Fonction actuellement activée.</div>
		    	<% else %>
			    <div class="alert alert-warning">Fonction actuellement désactivée.</div>
			<% end %>
			</div>
			
		    <div class="field full">
			<div class="span2"></div><input type="submit" value="Sauvegarder" class="btn btn-success">
		    </div>
		    </div>
		    <%= hidden_field_tag "setting[id]", @setting.id%>
		<% end %>
  	                     
	    </div>

    
	
	<div name="mail_settings">
		<div class="span9">
                	<h2>Paramètres du serveur mail</h2>
		</div>

	    <!-- On crée un formulaire pour cette entrée -->
            <%= form_for(@webmail_connection, :url => { :controller => 'webmail_connections', :action => 'update' }) do |f| %>
            <div class="row row-fluid">
  			    <div class="field full">
    				<div class="span2"> Identifiant : </div> <%= f.text_field :login %>
  			    </div>
  			<div class="field full">
    		    <div class="span2"> Mot de passe : </div>
				<% if @webmail_connection.password.blank? %>
					<%= f.password_field :password %>
				<% else %>
					<%= link_to "Modifier le mot de passe", {:controller => 'webmail_connections', :action => 'edit'}, {:class => 'btn btn-success'} %>
				<% end %>
  			</div>
			<div class="field full">
    			<div class="span2"> Serveur : </div> <%= f.text_field :server %>
  			</div>
  			<div class="field full">
    			<div class="span2"> Port : </div> <%= f.text_field :port %>
  			</div>
  			<div class="field full">
    			<div class="span2"> Type d'évènement : </div>
			    <%= f.collection_select :type_event_id, EventType.all, :id, :full_type, :class =>"filter_coll", :include_blank => true %>
  			</div>
  			<div class="field full">
    			<div class="span2"> Activé : </div> <%= f.check_box :active %>
  			</div>
			<%= f.hidden_field :id %>
			<div class="field full">
				<div class="span2"></div><input type="submit" value="Sauvegarder" class="btn btn-success">
				<a class="btn btn-xs"
				    <%= link_to "Vérifier la connexion", url_for(:controller => 'webmail_connections', :action => 'check') %>
				</a>
				<input type='hidden' name='_method' value='put'>
			</div>
		</div>
	<% end %>
	</div>
   	
	
</div>
