<%# encoding: utf-8 %>

<%# Récupération du des fonctions %>
          <% content_for(:attachments_js) do %>
               <%= javascript_include_tag "attachments" %>
          <% end %>

<% colon = t('app.fields.colon') %>
<div id="attachments">
          
 
<%= form_for(@import, :html => { :class => "well ", :multipart => true}) do |f| %>
<div class="row row-fluid">
     <div class="field full">
          
	  <%= f.text_field(:import_type ,type:'hidden', value:@type) %>
	  
          <% if @type=="accounts" %>
	  <div class="row row-fluid">
	       <div class="field full">
		    <div class="span2"><%= f.label(:category ,t('app.fields.category') + colon) %></div>
		    <p><%= f.select :category, Import::CATEGORIES %></p>
	       </div>
	  </div>
	  
	  <div class="row row-fluid">
	       <div class="field full">
		    <div class="span2"><%= f.label(:origin ,t('app.model.Origin') + colon) %></div>
			 <%= fields_for :origin do |o| %>
			      <%= o.collection_select :origin_id, Origin.order('name ASC').all, :id, :name, :include_blank => true %>
			 <% end %>
		    </div>
	       </div>
	  </div>
	  <% end %>

	  <div class="row row-fluid">
	       <div class="field full">
		    <div class="span2"><%= f.label(:name, t('app.fields.name') + colon) %></div>
		    <p><%= f.text_field(:name ,{ :class => 'required' }) %><span class="req" /></p>
	       </div>
	  </div>
	  
	  <div class="row row-fluid">
	       <div class="field full">
		    <div class="span2"><%= f.label(:notes, t('app.fields.description')) %></div>
			<%= f.text_area :notes, :rows => "5", :style => 'width: 50%;' %>
	       </div>
	  </div>	
          
	  <div id="attachments">
	  
	  <%#= fields_for :file_attachments do |ta| %>
	       <div class="row row-fluid">
		    <div class="field full">
			 <div class="span2"></div>
                      
			      <%= file_field_tag :file, { :class => 'required' } %>
			      <script>$ (":file").filestyle({buttonText: 'Choisir un fichier'});</script>
                      
			 </div>
		    </div>
	       </div>
          <hr/>
	  <div class="row">
	       <%= f.button "#{t('views.button.import')}", :type => :submit,:class =>"btn btn-primary",:id =>"import_validate_form" %>
	  </div>                     
	  <%# end %>

          </div>
	  
     </div>
</div>
<% end %>

