<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1><i class="fa fa-download fa-fw"></i><%= "#{t('title.imports')}".html_safe %></h1>
         </div>
           <%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, :back ,{:title => "Retour", :class=>"pull-right"} %>
       </div>
     </div>
   
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th><center><%="#{t('app.fields.date')}".html_safe%></center></th>
                    <th class="text-center"><%="#{t('app.fields.author')}".html_safe%></th>	  
                    <th class="text-center"><%="#{t('app.fields.name')}".html_safe%></th>
                    <th class="text-center"><%="#{t('app.fields.description')}".html_safe%></th>
                    <th class="text-center"><%="#{t('app.fields.type')}".html_safe%></th>
                    <th class="text-center"><%="#{t('app.fields.action')}".html_safe%></th>
                </tr>
            </thead>
            <tbody>
                <% @imports.each do |import| %>
                    <tr>
			<td><center><%= import.created_at %></center></td>
                        <td class="text-center"><%= import.author.full_name %></td>
                        <% if !import.name.nil? %>
			<% then %>

			      <td class="text-center">
				   <%if import.import_type=="accounts" %>				   
					<%= link_to import.name, accounts_path(:import_id=>import.id),{:title => "#{t('app.actions.show_valid_import',model: t('title.accounts'))}"} %>
				   <% end %>
				   <%if import.import_type=="contacts" %>				   
					<%= link_to import.name, contacts_path(:import_id=>import.id),{:title => "#{t('app.actions.show_valid_import',model: t('title.contacts'))}"} %>
				   <% end %>
			      </td>
			      
			<% else %>
				<td class="text-center">-</td>
                        <% end %>
                        
                        <% if !import.notes.nil? %>
			<% then %>
				<td class="text-center"><%= import.notes %></td>
			<% else %>
				<td class="text-center">-</td>
                        <% end %>
                        
                        <% if !import.import_type.nil? %>
			<% then %>
				<td class="text-center"><%= t('title.'+import.import_type) %></td>
			<% else %>
				<td class="text-center">-</td>
                        <% end %>
                        
			<td class="text-center"><%= link_to '<i class="fa fa-trash fa-2x action-icon"></i>'.html_safe,
			import,
			:title => "#{t('link.delete_import')}",
			:confirm => "#{t('app.message.confirm.delete_import')}",
			:method => :delete %></td>
                            
                    </tr>
                <% end %>
            </tbody>
        </table>
    
 <%= paginate @imports %>        
</div>