<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1><i class="fa fa-download fa-fw"></i><%= "#{t('title.imports')}".html_safe %></h1>
         </div>
           <%= link_to '<i class="fa fa-arrow-circle-left fa-3x action-icon"></i>'.html_safe, :back ,{:title => "Retour", :class=>"pull-right"} %>
       </div>
     </div>
    
    <div class="container-fluid">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center"><%="#{t('app.fields.date')}".html_safe%></th>
                    <th class="text-center"><%="#{t('app.model.User')}".html_safe%></th>	  
                    <th class="text-center"><%="#{t('app.fields.name')}".html_safe%></th>
                    <th class="text-center"><%="#{t('app.fields.description')}".html_safe%></th>
                    <th class="text-center"><%="#{t('app.fields.type')}".html_safe%></th>
                    <th class="text-center"><%="#{t('app.fields.action')}".html_safe%></th>
                </tr>
            </thead>
            <tbody>
                <% @imports.each do |import| %>
                    <tr>
			<td class="text-center"><%= import.created_at %></td>
                        <td class="text-center"><%= import.author.full_name %></td>
                        <% if !import.name.nil? %>
			<% then %>
			      <!--
				<td class="text-center"><%#= link_to import.name, accounts_path(:import_id=>import.id),{:title => "Afficher la liste des comptes"} %></td>
			        <td class="text-center"><%#= import.name %></td>
			      -->
			      <td class="text-center">
				   <%if import.import_type=="accounts" %>				   
					<%= link_to import.name, accounts_path(:import_id=>import.id),{:title => "Afficher la liste des comptes"} %>
				   <% end %>
				   <%if import.import_type=="contacts" %>				   
					<%= link_to import.name, contacts_path(:import_id=>import.id),{:title => "Afficher la liste des comptes"} %>
				   <% end %>
			      </td>
			      
			<% else %>
				<td class="text-center">-</td>
                        <% end %>
                        
                        <% if !import.note.nil? %>
			<% then %>
				<td class="text-center"><%= import.note %></td>
			<% else %>
				<td class="text-center">-</td>
                        <% end %>
                        
                        <% if !import.import_type.nil? %>
			<% then %>
				<td class="text-center"><%= t('title.'+import.import_type) %></td>
			<% else %>
				<td class="text-center">-</td>
                        <% end %>
                        
                        <% if !import.id.nil? %>
                            <td class="text-center">
                                <%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, import, :title => "Supprimer le compte", :confirm => "Attention : La suppression de l'import entraine la suppression de tous les éléments liés à cet import (contacts ou comptes) ! Confirmez-vous la suppression ?", :class =>"pull-right btn", :method => :delete %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
 <%= paginate @imports %>        
</div>