<% colon = t('app.fields.colon') %><div class="well">
  <%= nested_form_for @quotation do |f| %>
    <% if @quotation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this Quotation from being saved:</h2>
        <ul>
        <% @quotation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="page-header">
      <h3> En-tête </h3>
    </div>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label(:label, t('app.fields.label') + colon) %></div>
				<p><%= f.text_field :label %></p>
			</div>
		</div>
	  <div class="row row-fluid">
      <div class="field full"> 
        <div class="span2"><%= f.label(:ref, t('app.fields.ref') + colon) %></div>
				<p><%= f.text_field :ref %></p>
			</div>
		</div>
	  <div class="row row-fluid">	
      <div class="field full">
        <div class="span2"><%= f.label(:date, t('app.fields.date') + colon) %></div>
				<% dt = DateTime.now %>
				<p><%= f.text_field :date, { :class => 'required', :value => (!f.object.date.nil?() ? f.object.date.strftime("%d/%m/%Y") : dt.strftime("%d/%m/%Y")) } %><span class="req" /></p>
      </div>
		</div>
	  <div class="row row-fluid">
      <div class="field full">
		    <div class="span2"> Compte : </div>
					<% company = ""
					 if !@quotation.account.nil?
						 company = @quotation.account.company.html_safe
					 end %>
					<p>
						<%= text_field_tag(nil, company, { :placeholder => 'Rechercher', :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id' }) %>
						<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
						<span class="label label-info" id="task_notice"  style="display: none; margin-left: 2em;">
							<i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
						</span>
		      </p>
		      <%= f.text_field :account_id, { :style => 'display: none; visible: hidden;', :id => 'account_id' } %>
      </div>
		</div>
		<div class="field" id="nameContacts">
			<%= render :partial => 'contacts' %>
		</div>	
	  <div class="row row-fluid">
      <div class="field full">
				<div class="span2"><%= f.label(:ref_account, t('app.fields.ref_account') + colon) %></div>
				<p><%= f.text_field :ref_account %></p>
			</div>
		</div> 
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label(:user_id, t('app.fields.collegue') + colon) %></div>
				<%= f.collection_select :user_id, @users, :id, :full_name, { :selected => (@quotation.user.nil?() ? current_user.id : @quotation.user.id) }, :class => 'assigned_to' %>
			</div>
		</div>
    <hr />
    <div class="page-header">
      <h3>Lignes du devis</h3>
    </div>
		<div class="row row-fluid">
			<div class="field full">
        <%= f.fields_for :quotation_lines %>
				<%= f.link_to_add "Ajouter une ligne", :quotation_lines ,{:class => "btn btn-success"} %>
			</div>
		</div>
    <hr />
    <div class="page-header">
      <h3>Modalités</h3>
    </div>
		<div class="row row-fluid">
			<div class="field full">
        <div class="span2"><%= f.label(:validity, t('app.fields.quotation_validity') + colon) %></div>
				<p><%= f.text_field :validity %> jours</p>
      </div>
		</div>
		<div class="row row-fluid">
			<div class="field full">
        <div class="span2"><%= f.label(:validity, t('app.fields.pay_mode') + colon) %></div>
				<p><%= f.text_field :mode_reg %></p>
      </div>
		</div>
    <hr />
		
    <div class="page-header">
      <h3> Propriétés </h3>
    </div>
		<% if @quotation.attach.exists? %>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= content_tag('label', t('app.fields.present_attach') + colon) %></div>
				<p><%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + @quotation.attach_file_name, @quotation.attach.url, :target => '_blank' %></p>
			</div>
		</div>
	  <% end %>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label(:attach, (@quotation.attach.exists?() ? t('app.fields.update_attach') : t('app.fields.attach')) + colon) %></div>
				<p><%= f.file_field :attach %></p>
			</div>	
		</div>
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label(:statut, t('app.fields.state') + colon) %></div>
				<%= f.select :statut, Quotation::STATUTS %>
			</div>
		</div>
    <div id="nameOpportunity">
      <%= render :partial => 'opportunities' %>
    </div>
		<div class="row row-fluid">
			<div class="field full"> 
				<div class="span2"><%= f.label(:quotation_template_id, t('app.model.QuotationTemplate') + colon) %></div>
				<p><%= f.collection_select :quotation_template_id, QuotationTemplate.order('company ASC').all, :id, :company, {}, :class => 'required' %><span class="req" /></p>
			</div>	
		</div>
		<!-- Author and Editor -->
		<% if !@quotation.id.nil? or !@quotation.updated_by.nil? %>
		<div class="row row-fluid">
			<div class="field full">
				<% if !@quotation.id.nil? %>
				<p><%= t('app.actions.created_by') %> <strong><%= @quotation.author.full_name %></strong>, <%= t('app.at') %> <strong><%= @quotation.created_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
			<% end %>
		</div>
    <div class="field full">
				<% if !@quotation.updated_by.nil? %>
				<p><%= t('app.actions.updated_by') %> <strong><%= @quotation.editor.full_name %></strong>, <%= t('app.at') %> <strong><%= @quotation.updated_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
				<% end %>
			</div>
		</div>
		<% end %>
		<hr />
		<!-- Submit or not submit -->
 		<div class="row row-fluid">
			<%= if !@quotation.id.nil? then f.submit 'Modifier ce Devis', :class =>"btn btn-primary",:id =>"quotation_submit_form" else f.submit 'Créer un Devis', :class =>"btn btn-primary",:id =>"quotation_submit_form" end %>
			<%= if !@quotation.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), quotation_path(@quotation), :title => "Supprimer ce Devis", :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete end %> 
		</div>
  <% end %>
</div>
