<div class="container-fluid">
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center">Statut</th>
      <th class="text-center">Compte</th>
      <th class="text-center">Libellé</th>
      <th class="text-center">Contact</th>
      <th class="text-center">Total HT
				<% if @sort == "total_excl_tax_cents" and @direction == "ASC" then %>
				  <%= link_to '<i class="fa fa-caret-down action-icon"></i>'.html_safe, @quotations_scopes.merge({:sort => "total_excl_tax_cents", :direction => "DESC"}) %>
				<% elsif @sort == "total_excl_tax_cents" and @direction == "DESC" then %>
				  <%= link_to '<i class="fa fa-caret-up action-icon"></i>'.html_safe, @quotations_scopes.merge({:sort => "total_excl_tax_cents", :direction => "ASC"}) %>
				<% else %>
				  <%= link_to '<i class="fa fa-sort action-icon"></i>'.html_safe, @quotations_scopes.merge({:sort => "total_excl_tax_cents", :direction => "ASC"}) %>
				<% end %>	      
      </th>
      <th class="text-center">Date
				<% if @sort == "date" and @direction == "ASC" then %>
				  <%= link_to '<i class="fa fa-caret-down action-icon"></i>'.html_safe, @quotations_scopes.merge({:sort => "date", :direction => "DESC"}) %>
				<% elsif @sort == "date" and @direction == "DESC" then %>
				  <%= link_to '<i class="fa fa-caret-up action-icon"></i>'.html_safe, @quotations_scopes.merge({:sort => "date", :direction => "ASC"}) %>
				<% else %>
				  <%= link_to '<i class="fa fa-sort action-icon"></i>'.html_safe, @quotations_scopes.merge({:sort => "date", :direction => "ASC"}) %>
				<% end %>
      </th>
      <th class="text-center">Affecté à</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  
  <tbody>
  <% @quotations.each do |quotation| %>
  <tr>
  <td class="text-center">
          <% if quotation.statut == "Sauvegardé"%>
            <span class="badge badge-important">
          <% elsif quotation.statut == "En cours"%>
            <span class="badge badge-warning">
          <% elsif quotation.statut == "Accepté"%>
            <span class="badge badge-success">
          <% elsif quotation.statut == "Refusé"%>
            <span class="badge badge-inverse">
          <% else %>
            -
          <% end %>
          <%= quotation.statut %></span>
        </td>
      
  <% if !quotation.account.nil? %>
    <% then %>
      <td class="text-center"><%= link_to quotation.account.company , account_events_url(quotation.account),{:title => "Afficher les évenements"}  %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %>     
  
  <% if !quotation.label.blank? %>
    <% then %>
      <td class="text-center"><%= link_to quotation.label, edit_quotation_path(quotation) ,{:title => "Éditer le devis"} %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %> 		

  <% if !quotation.contact.nil? %>
    <% then %>
      <td class="text-center"><%= link_to quotation.contact.full_name , edit_contact_path(quotation),{:title => "Éditer le contact"} %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %>		

  <% if !quotation.total_excl_tax.nil? %>
    <% then %>
      <td style="text-align :right;"><%= number_to_currency(quotation.total_excl_tax, :locale => :fr)  %> <strong> HT </strong></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %>        
  
  <% if !quotation.date.nil?  %>
    <% then %>
      <td class="text-center"><%= quotation.date.strftime("%d/%m/%Y") %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %> 
      
  <% if !quotation.user.nil? %>
    <% then %>
      <td class="text-center"><%= quotation.user.full_name %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %>	
      
  <td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_quotation_path(quotation),{:title => "Éditer le devis"} %> <%= link_to '<i class="fa fa-print fa-2x action-icon"></i>'.html_safe, quotation_path(quotation, :format => "pdf"),{:title => "Afficher le PDF", :target => '_blank'} %></td>
  </tr>
  <% end %>
  </tbody>
  </table>

<%= paginate @quotations %>

  <div class="pull-right">
    <table class="table">
      <tbody>
	<tr>
	  <td><h4><p>Nombre :</p></h4></td>
	  <td><h4><p class="text-right"><%= number_with_precision(@total_number, :precision => 0, :locale => :fr) %></p></h4></td>
	</tr>
	<tr>
	  <td><h4><p>Montant total HT :</p></h4></td>
	  <td><h4><p class="text-right"><%= number_to_currency(@total_amount, :locale => :fr) %>  HT</p></h4></td>
	</tr>
	<tr>
	  <td> </td>
	  <td>
	    <%= link_to '<i class="fa fa-file-excel-o fa-2x action-icon"></i>'.html_safe, {format: "xlsx", params: params.except(:action, :controller)},{:title => "Télécharger au format Excel", :class => "pull-right"}%>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  
</div>
