<div class="container-fluid">
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center">Statut</th>
      <th class="text-center">Libellé</th>
      <th class="text-center">Contact</th>
      <th class="text-center">Total HT</th>
      <th class="text-center">Date</th>
      <th class="text-center">Collaborateur</th>
      <th class="text-center">Éditer</th>
      <th class="text-center">PDF</th>        
    </tr>
  </thead>
  
  <tbody>
  <% @quotations.each do |quotation| %>
  <tr>    
  <td class="text-center">
          <% if quotation.statut == "Sauvegardé"%>
            <span class="badge badge-important">
          <% elsif quotation.statut == "En cours"%>
            <span class="badge badge-warning">
          <% elsif quotation.statut == "Accepté"%>
            <span class="badge badge-success">
          <% elsif quotation.statut == "Refusé"%>
            <span class="badge badge-inverse">
          <% else %>
            -
          <% end %>
          <%= quotation.statut %></span>
        </td>
      
  <% if !quotation.label.blank? %>
    <% then %>
      <td class="text-center"><%= link_to quotation.label, edit_quotation_path(quotation) ,{:title => "Éditer le devis"} %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %> 		

  <% if !quotation.contact.nil? %>
    <% then %>
      <td class="text-center"><%= link_to quotation.contact.full_name , edit_contact_path(quotation),{:title => "Éditer le contact"} %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %>		

  <% if !quotation.total_excl_tax.nil? %>
    <% then %>
      <td style="text-align :right;"><%= quotation.total_excl_tax.to_s + " "%> <%= currency_symbol %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %>        
  
  <% if !quotation.date.nil?  %>
    <% then %>
      <td class="text-center"><%= quotation.date.strftime("%d/%m/%Y") %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %> 
      
  <% if !quotation.user.nil? %>
    <% then %>
      <td class="text-center"><%= quotation.user.full_name %></td>
    <% else %>
      <td class="text-center">-</td>
  <% end %>	
      
  <td class="text-center"><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_quotation_path(quotation),{:title => "Éditer le devis", :class =>"btn"} %></td>
      
  <td class="text-center"><%= link_to image_tag("glyphicons/glyphicons_015_print.png"), quotation_path(quotation, :format => "pdf"),{:title => "Afficher le PDF", :class =>"btn", :target => '_blank'} %></td>
  </tr>
  <% end %>
  </tbody>
  </table>

<%= paginate @quotations %>
</div>
