<%= render 'title', :locals => { :title => @title }%>

<!-- FILTER -->
  <div class="container-fluid">
    <div class="field">
      <label class="checkbox">
        <%= check_box_tag :generate, "yes" %>
        Filtrer les devis
      </label>
    </div>
  </div>
  

  <div id="task_value" class="container-fluid" style= "display: none;">
    <%= form_for(:filter, :url => { :action => 'filter' } , :html => {:method => :get} ) do |f| %>
      <div class="row row-fluid">
        <div class="">
          <%= f.label :statut, "Statut :", :class => "top" %>
          <%= f.select :statut, Quotation::STATUTS,{:include_blank => "Tous", :selected => @statut_filter} , :class =>"filter_statut"%>
        </div>
        <%# Le typeahead et la recherche automatique des contacts associés sont gérés par nav-search-bar.js %>
        <div class="">
          <%= f.label :filter_priority, "Compte :", :class => "top" %>
          <%= f.text_field :account, :class =>"filter_tfield typeahead-account-search", :data => { :provide => 'typeahead'}, :autocomplete=>"off"%>
        </div>
        <div class="">
          <%= f.label :user_email, "Contact :", :class => "top" %>
          <select id="contact_id" name="filter[contact_id]">
            <option></option>
          </select>
        </div>
        <div class="">
          <%= f.label :user_email, "Collaborateur :", :class => "top" %>
          <%= f.collection_select :user_id, User.all_reals, :id, :full_name, {:include_blank => "Tous", :selected => @user_id_filter} , :class =>"filter_statut"%>
        </div>
        <div>
          <%= f.submit "Filtrer", :class =>"btn "%>
        </div>
      </div>
    <% end %>
  </div>  
<!-- END FILTER -->

<div class="container-fluid">
    
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Statut</th>
        <th class="text-center">Compte</th>
        <th class="text-center">Libellé</th>
        <th class="text-center">Contact</th>
        <th class="text-center">Total HT</th>
        <th class="text-center">Date</th>
        <th class="text-center">Collaborateur</th>
        <th class="text-center">Éditer</th>
        <th class="text-center">PDF</th>        
      </tr>
    </thead>
    
    <tbody>
    <% @quotations.each do |quotation| %>
    <tr>
        <td class="text-center"><%= quotation.id %></td>
        
		<td class="text-center">
            <% if quotation.statut == "Sauvegardé"%>
              <span class="badge badge-important">
            <% elsif quotation.statut == "En cours"%>
              <span class="badge badge-warning">
            <% elsif quotation.statut == "Accepté"%>
              <span class="badge badge-success">
            <% elsif quotation.statut == "Refusé"%>
              <span class="badge badge-inverse">
            <% else %>
              -
            <% end %>
            <%= quotation.statut %></span>
          </td>
        
		<% if !quotation.account.nil? %>
			<% then %>
				<td class="text-center"><%= link_to quotation.account.company , account_events_url(quotation.account),{:title => "Afficher les évenements"}  %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>     
		
		<% if !quotation.label.blank? %>
			<% then %>
				<td class="text-center"><%= link_to quotation.label, edit_quotation_path(quotation) ,{:title => "Éditer le devis"} %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %> 		

		<% if !quotation.contact.nil? %>
			<% then %>
				<td class="text-center"><%= link_to quotation.contact.full_name , edit_contact_path(quotation),{:title => "Éditer le contact"} %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>		

		<% if !quotation.total_excl_tax.nil? %>
			<% then %>
				<td style="text-align :right;"><%= quotation.total_excl_tax.to_s + " "%> <%= currency_symbol %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>        
		
		<% if !quotation.date.nil?  %>
			<% then %>
				<td class="text-center"><%= quotation.date.strftime("%d/%m/%Y") %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %> 
        
		<% if !quotation.user.nil? %>
			<% then %>
				<td class="text-center"><%= quotation.user.full_name %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>	
        
		<td class="text-center"><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_quotation_path(quotation),{:title => "Éditer le devis", :class =>"btn"} %></td>
        
		<td class="text-center"><%= link_to image_tag("glyphicons/glyphicons_015_print.png"), quotation_path(quotation, :format => "pdf"),{:title => "Afficher le PDF", :class =>"btn", :target => '_blank'} %></td>
    </tr>
    <% end %>
    </tbody>
    </table>

  <%= paginate @quotations %>
  
</div>  

