<div class="container-fluid">
  
  <div class="page-header">
    <h1>Devis n°<%= @quotation.id %> </h1>
  </div>

  <div class="well">
    
    <div class="row">
      
      <div class="span8">
        <h3>Données interne : </h3>
        <hr />
      
        <div class="field">
          Référence : <%= @quotation.ref %>
        </div>
        
        <div class="field">
          Référence Client : <%= @quotation.ref_account %>
        </div>
        
        <div class="field">
          Date : <%= if !@quotation.date.nil? then @quotation.date.strftime("%d/%m/%Y") end%>
        </div>
        
        <div class="field">
          Collaborateur : <%= @quotation.user.full_name %>
        </div>
        
        <% if !@quotation.contact.nil? %>
          <div class="field">
            Contact : <%= @quotation.contact.full_name %>
          </div>
        <% end %>
      
      </div>
      <div class="span4">
        <h3>Infos Compte : </h3>
        <hr />
      
        <div class="field">
          Compte : <%= @quotation.account.company %>
        </div>
        
        <div class="field">
          Adresse : <%= @quotation.account.adress1 %>
        </div>
        
        <div class="field">
          Code Postal : <%= @quotation.account.zip %>
        </div>
        
        <div class="field">
          Ville : <%= @quotation.account.city %>
        </div>
        
      </div>
      
    </div><hr />
    
    <div class="row">
      <div class="span12">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Référence</th>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Prix U. HT</th>
            <th>Total HT</th> 
          </tr>
        
        <% for line in @quotation.quotation_lines %>
          <tr>
            <td><%= line.ref %></td>
            <td style="width: 60%;"><%= line.designation %></td>
            <td style="width: 5%; text-align :center;"><%= (number_with_precision(line.quantity, :precision => 2, :locale => :fr) || 0) %></td>
            <td style="text-align :right;"><%= line.price_excl_tax %> €</td>
            <td style="text-align :right;"><%= line.total_excl_tax %> €</td>
          </tr>
        <% end %>
        </table>
        
        <div class="pull-right">
          <div class="span2"><strong> Total HT :</strong></div><div class="span1" style="text-align: right;"><%=number_to_currency(@quotation.total_excl_tax, :locale => :fr) %></div><br />
          <div class="span2"><strong> TVA <%= @quotation.VAT_rate.to_s %> % :</strong></div><div class="span1" style="text-align: right;"><%=number_to_currency(@quotation.total_VAT, :locale => :fr) %></div><br />
          <div class="span2"><strong> Total TTC :</strong></div><div class="span1" style="text-align: right;"><%=number_to_currency(@quotation.total_incl_tax, :locale => :fr) %></div><br />
        </div>
        
      </div>
    </div>
    <hr />
    
    <div class="row">
      <div style="margin-left: 2.5em;">
        <h3>Modalités</h3>
      </div>
      <hr />
      
      <div class="span6">
        <div class="field">
          <strong>Validité du devis :</strong> <%= @quotation.validity %><br />
        </div>
        
        <div class="field">
          <strong>Condition de règlement :</strong> <%= @quotation.mode_reg %><br />
        </div>
        
      </div>
    </div>
    <hr />

     <div class="row">
      <div style="margin-left: 2.5em;">
        <h3>Informations complémentaires</h3>
      </div>
      <hr />
      
      <div class="span6">
        <% if !@quotation.opportunity.nil? %>
          <div class="field">
            <strong>Opportunité : </strong><%= link_to @quotation.opportunity.name , @quotation.opportunity %>
          </div><br />
        <% end %>
        
        <% if @quotation.attach.exists? %>
          <div class="field">
            <strong>Fichier-joint : </strong><%= link_to (image_tag("glyphicons/glyphicons_036_file.png") + ' ' + @quotation.attach_file_name), @quotation.attach.url, :target => "_blank"  %>
          </div><br />
        <% end %>
        
        <div class="field">
            <strong>Modèle : </strong><%= link_to @quotation.quotation_template.company , edit_quotation_template_path(@quotation.quotation_template)%>
        </div><br />
        
        <div class="field">
          <strong>Créé par : </strong><%= @quotation.author.full_name %><strong style="margin-left: 3em;"> Le : </strong><%= @quotation.created_at.strftime("%d/%m/%Y à %H:%M") %>
        </div>
        
      </div>
    </div>
     <hr />
    
    <div class="row">
      <div class="span4">
        <%= link_to image_tag("glyphicons/glyphicons_221_unshare.png"), :back %>
        <%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_quotation_path(@quotation) %>
        <%= link_to "Télécharger le pdf", quotation_path(@quotation.id, :format => "pdf"), {:class =>"btn btn-info", :target => "_blank"} %>
      </div>
    </div>
  </div>
  
</div>
