<%# encoding: utf-8 %>

<%# Récupération du des fonctions %>
          <% content_for(:attachments_js) do %>
               <%= javascript_include_tag "attachments" %>
          <% end %>

<% colon = t('app.fields.colon') %>


<div id="attachments">

     <%= form_tag({action: :upload}, multipart: true, :html => { :class => "well "}) do %>
      <%= fields_for :file do |ta| %>
        <div class="row row-fluid">
          <div class="field full">
            <div class="span2"></div>
            
              <%= file_field_tag :file %>
              <script>$ (":file").filestyle({buttonText: 'Choisir un fichier'});</script>
            
            </div>
          </div>
        </div>

        <div class="row">
            <%= submit_tag t('views.button.import'), class: "btn btn-primary"%>
        </div>
            
       <% end %>
     
  <% end %>

