<%= nested_form_for(@contact, :html => { :class => "well ", :id => 'new_contact_form', :key => "blabla"}) do |f| %>
 
  <%# if @contact.errors.any? %>
  <!-- repace by flash[:alert] 
    <div id="error_explanation">
      <h2><%#= pluralize(@contact.errors.count, "erreur") %> a empeché de sauvegarder ce contact:</h2>

      <ul>
      <%# @contact.errors.full_messages.each do |msg| %>
        <li><%#= msg %></li>
      <%# end %>
      </ul>
    </div>
    -->
  <%# end %>

  <div class="field">
    <div class="span2"> Nom : </div> <%= f.text_field :surname %>
  </div>
  
  <div class="field">
    <div class="span2"> Prénom : </div> <%= f.text_field :forename %>
  </div>
  
  <div class="field">
    <div class="span2"> Civilité : </div> <%= f.select :title, Contact::TITLES, {:include_blank => true} %>
  </div>
  
  <% if @contact.persisted? %>
  <div class="field">
    <div class="span2"> Statut : </div> <%= f.select :active, options_for_select([["Actif", true], ["Inactif", false]], selected: @contact.active) %>
  </div>

  <% end %>
  <div class="field">
    <div class="span2"> Téléphone : </div> <%= f.text_field :tel %>
  </div>
  
  <div class="field">
    <div class="span2"> Télécopie : </div> <%= f.text_field :fax%>
  </div>
  
  <div class="field">
    <div class="span2"> Mobile : </div> <%= f.text_field :mobile%>
  </div>
  
  <div class="field">
    <div class="span2"> E-mail : </div> <%= f.text_field :email%> 
  </div>

  <div id="aliases">
  <%= f.fields_for :aliases do |task_form| %>
  <div class="field">
    <div class="span2"></div>
      <%= task_form.text_field :email %>
      <%= task_form.link_to_remove "", class: 'icon-remove' %>
  </div>
  <% end %>
  </div>

<div class="field">
  <div class="span2"></div><%= f.link_to_add "", :aliases, data: { target: '#aliases' }, class: 'icon-plus' %>
  </div>
<div class="field">
    <div class="span2"> Fonction : </div> <%= f.text_field :job%>
  </div>
  
  <div class="field">
    <div class="span2"><%= f.label('account-search', t('app.model.Account') + t('app.fields.colon')) %></div>
    <% company = ""
    if !@contact.account.nil?
      company = @contact.account.company
    end %>
		<p>
			<%= text_field_tag(nil, company, { :class => "typeahead-account-search #{'required' unless !@contact.mandatory_account_setting? }", :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id', :placeholder => 'Rechercher' }) %>
			<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
		</p>
		<%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id' } %>
  </div>
  
  <div class="field">
    <div class="span2">Notes : </div> <%= f.text_area :notes , :rows => "5", :style => 'width: 50%;'%>
  </div>
  
  <div class="field">
    <div class="span2"> Tag(s) associé(s) : </div>
    <%= select_tag :display_contact_tag, options_from_collection_for_select(@contact.tags.order('name ASC').all, "id", "name"), {:size => 6, :multiple => true, :disabled => true} %>
    <a id="contact_add_button" class="btn btn-success btn-mini" data-toggle="modal" href="#contact_tag_modal" style="margin-bottom: 1em; margin-left: 2em;">Modifier Tag</a>
  </div>
  
  <div class="modal hide fade" id="contact_tag_modal" style="width: 900px; margin-left: -450px;">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Ajout de tags</h3>
    </div>
    
    <div class="modal-body">
      
      <div class="span3" style="margin-left: 50px;">
      <h4>Liste des tags :</h4>
      <% @tags = Tag.order('name ASC').all %>
      <%= select_tag :tag, options_from_collection_for_select(@tags, "id", "name"), {:size => 6, :multiple => true} %>
      </div>
      
      <div class="span2" style="padding-top: 3em; margin-left: 2em; margin-right: 2em;">
        
        <a id="contact_add_tag" class="btn btn-success btn-mini" href="#" style="margin-bottom: 1em; margin-left : 3em;">
          <i class="icon-arrow-right icon-white"></i>
          Ajouter
        </a>
        <br />
        <br />
        
        <a id="contact_remove_tag" class="btn btn-warning btn-mini" href="#" style="margin-bottom: 1em; margin-left : 3em;">
          <i class="icon-arrow-left icon-white"></i>
          Retirer
        </a>
      
      </div>
      
      <div class="span3">
        <h4>Tag(s) associé(s) au contact :</h4>
        <%= select_tag :contact_tag, options_from_collection_for_select(@contact.tags.order('name ASC').all, "id", "name"), {:size => 6, :multiple => true} %>
      </div>
      
    </div>
    
    <div class="modal-footer">
      <a href="#" id="contact_cancel_add" class="btn" data-dismiss="modal">Annuler </a>
      <a href="#" id="contact_submit_add" class="btn btn-primary" data-dismiss="modal">Valider</a>
    </div>
    
  </div>
  
  <br />
  	
	<div class="field">
    <% if !@contact.id.nil? %>
		<div class="span9"> Créé par : <%= @contact.author.full_name %>, le </strong><%= @contact.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% if !@contact.modified_by.nil? %>
			<div class="span9"> Dernièrement modifié par : <%= @contact.editor.full_name %>, le <%= @contact.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		<% end %>
	<% end %>
	</div>
	  
	<hr />

	<%# Ajout d'un paramètre permettant de savoir s'il faut ou non, mettre à jour la table des emails %>
		<% if (!request.GET[:email].blank?) %>
			<%= hidden_field_tag 'update_emails', true %>
		<% end %>

	<div class="row">
	  <% if (!@contact.id.nil?) %> 
			<%= f.button 'Modifier le contact', :type => :submit, :class =>"btn btn-primary",:id =>"contact_submit_form" %>
		<% else %>
			<%= f.button 'Créer un contact', :type => :submit, :class =>"btn btn-primary",:id =>"contact_submit_form" %>
		<% end %>

    <%# Ajout du bouton de suppression %>
		<% if !@contact.id.nil? %>
		 	<%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, @contact,
		 	:title => "Supprimer le contact",
		 	:confirm => t('app.message.confirm.delete_contact'),
		 	:class =>"pull-right btn",
		 	:method => :delete %>
		<% end %> 
  </div>
 
<% end %>
