<div class="container-fluid" style="margin-top: 1em;">
     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1>Extraction des contacts</h1>
         </div>
         <%= link_to '<i class="fa fa-upload fa-3x action-icon"></i>'.html_safe, {format: :csv, params: params.except(:controller, :action)},{:title => "Télécharger en CSV", :class=>"pull-right"} %>
     </div>
	 </div>
</div>

<!-- FILTER -->
<div id="task_value" class="container-fluid">
  <div class="well">

      <legend>
	Filtres
      </legend>

      <%= form_tag('/contacts/extract', method: :get) do %>
	  <div class="row row-fluid">
		
		<div class="">
			<%= label_tag :contact_tag, "Tag contact :", :class => "top"  %>
			<%= select_tag "contact_tag",options_from_collection_for_select( Tag.all, :id, :name, params[:contact_tag]), { :include_blank => "Tous", :class =>"filter_statut" }   %>
		</div>
		
	        <div class="">
			<%= label_tag :job_like, "Fonction contact:", :class => "top" %>
			<%= text_field_tag :job_like, params[:job_like], class: 'input-small' %>
	        </div>		
		
		<div class="">
			<%= label_tag :account_category, "Genre compte :", :class => "top"  %>
			<%= select_tag "account_category",options_for_select( Account::CATEGORIES, params[:account_category]),{ :include_blank => "Toutes", :class =>"filter_statut" }  %>
		</div>
		
		<div class="">
			<%= label_tag :account_origin, "Origine compte :", :class => "top"  %>
			<%= select_tag "account_origin",options_from_collection_for_select( Origin.all, :id, :name, params[:account_origin]), { :include_blank => "Toutes", :class =>"filter_statut" }   %>
		</div>		

		<div class="">
			<%= label_tag :account_tag, "Tag compte :", :class => "top"  %>
			<%= select_tag "account_tag",options_from_collection_for_select( Tag.all, :id, :name, params[:account_tag]), { :include_blank => "Tous", :class =>"filter_statut" }   %>
		</div>
		
		<div class="">
			<%= label_tag :account_activity, "Activité compte :", :class => "top"  %>
			<%= select_tag "account_activity", options_from_collection_for_select( Activity.all, :id, :name, params[:account_activity]), { :include_blank => "Toutes", :class =>"filter_statut" }  %>
		</div>		
		
		<div class="">
			<%= label_tag :account_user, "Collaborateur compte :", :class => "top"  %>
			<%= select_tag "account_user", options_from_collection_for_select(User.all_reals, :id, :full_name, params[:account_user]), { :prompt => "Tous", :class =>"filter_statut" } %>
		</div>		
		
		<div class="">
		  <%= label_tag :account_zip, "Code Postal compte :", :class => "top" %>
		  <%= text_field_tag 'account_zip', params[:account_zip], class: 'input-mini' %>
		</div>
			
		
	  <%= submit_tag "Filtrer", :class =>"btn "%>
      <% end %>
    </div>
  </div>
</div>  


<!-- END FILTER -->

<div class="container-fluid">

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">Civ.</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Pr&eacute;nom</th>
        <th class="text-center">Soci&eacute;t&eacute;</th>
        <th class="text-center">T&eacute;l</th>
        <th class="text-center">Mobile</th>
        <th class="text-center">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <% if !contact.title.blank? %>
            <% then %>
            <td class="text-center">
              <%= if contact.title == "M." then image_tag("glyphicons/glyphicons_034_old_man.png") end%>
              <%= if contact.title == "Mme" then image_tag("glyphicons/glyphicons_035_woman.png") end%>
            </td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

          <% if !contact.surname.blank? %>
            <% then %>
            <td class="text-center"><%= contact.surname %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.forename.blank? %>
            <% then %>
            <td class="text-center"><%= contact.forename %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.account.nil? %>
            <% then %>
            <td class="text-center"><%= link_to contact.account.company , account_events_url(contact.account),{:title => "Afficher les évenements"} %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 


          <% if !contact.tel.blank? %>
            <% then %>
            <td class="text-center"><%= contact.tel %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 

          <% if !contact.mobile.blank? %>
            <% then %>
            <td class="text-center"><%= contact.mobile %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>		

          <% if !contact.email.blank? %>
            <% then %>
            <td class="text-center"><%= mail_to(contact.email)%></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @contacts %> 

</div>
