<div class="container-fluid" style="margin-top: 1em;">
     <div class="well">
       <div class="row-fluid">
         <div class="span9">
           <h1>Extraction des contacts</h1>
         </div>
         <%= link_to '<i class="fa fa-download fa-3x action-icon"></i>'.html_safe, {format: :csv, params: params.except(:controller, :action)},{:title => "Télécharger en CSV", :class=>"pull-right"} %>
     </div>
	 </div>
</div>

<!-- FILTER -->

<div class="container-fluid">
  <div class="field">
    <label class="checkbox">
      <%= check_box_tag :generate, "yes" %>
      Rechercher dans les contacts
    </label>
  </div>
</div>

<div id="task_value" class="container-fluid" style= "display: none;">
  <%= form_for(contacts_path, method: :GET ) do %>
      <div class="row row-fluid">
		<div class="">
			<%= label_tag :by_account_company_like, "Société :", :class => "top" %>
      <%= text_field_tag :by_account_company_like %>
		</div>
		<div class="">
			<%= label_tag :by_full_name_like, "Contact :", :class => "top" %>
      <%= text_field_tag :by_full_name_like %>
        </select>
		</div>
		<div class="">
			<%= label_tag :by_tel_like, "Téléphone :", :class => "top" %>
      <%= text_field_tag :by_tel_like %>
		</div>
    <div class="">
      <%= label_tag :inactive, "Inactifs :", class: 'top' %>
      <%= check_box_tag :inactive %>
    </div>
		<div>
        <%= submit_tag "Filtrer", :class =>"btn "%>
		</div>
	  </div>
   <% end %>
</div>  

<!-- END FILTER -->

<div class="container-fluid">

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">Civ.</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Pr&eacute;nom</th>
        <th class="text-center">Soci&eacute;t&eacute;</th>
        <th class="text-center">T&eacute;l</th>
        <th class="text-center">Mobile</th>
        <th class="text-center">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <% if !contact.title.blank? %>
            <% then %>
            <td class="text-center">
              <%= if contact.title == "M." then image_tag("glyphicons/glyphicons_034_old_man.png") end%>
              <%= if contact.title == "Mme" then image_tag("glyphicons/glyphicons_035_woman.png") end%>
            </td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

          <% if !contact.surname.blank? %>
            <% then %>
            <td class="text-center"><%= contact.surname %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.forename.blank? %>
            <% then %>
            <td class="text-center"><%= contact.forename %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.account.nil? %>
            <% then %>
            <td class="text-center"><%= link_to contact.account.company , account_events_url(contact.account),{:title => "Afficher les évenements"} %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 


          <% if !contact.tel.blank? %>
            <% then %>
            <td class="text-center"><%= contact.tel %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 

          <% if !contact.mobile.blank? %>
            <% then %>
            <td class="text-center"><%= contact.mobile %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>		

          <% if !contact.email.blank? %>
            <% then %>
            <td class="text-center"><%= mail_to(contact.email)%></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @contacts %> 

</div>
