
<%= render 'title', :locals => { :title => @title }%>

<!-- FILTER -->
  
  <div class="container-fluid">
    <div class="field">
      <label class="checkbox">
        <%= check_box_tag :generate, "yes" %>
        Filtrer les Contacts
      </label>
    </div>
  </div>

<div id="task_value" class="container-fluid" style= "display: none;">
  <%= form_for(:filter, :url => { :action => 'filter' } , :html => {:method => :get} ) do |f| %>
      <div class="row row-fluid">
		<div class="">
			<%= f.label :statut, "Société :", :class => "top" %>
			<%= f.text_field :company , :class =>"filter_tfield", :data => { :provide => 'typeahead', :source => @autocomplete_accounts}, :autocomplete=>"off"%>
		</div>
		<div class="">
			<%= f.label :filter_priority, "Nom :", :class => "top" %>
			<%= f.text_field :surname , :class =>"filter_tfield", :data => { :provide => 'typeahead', :source => @autocomplete_contacts}, :autocomplete=>"off"%>
        </select>
		</div>
		<div class="">
			<%= f.label :user_email, "téléphone :", :class => "top" %>
			<%= f.text_field :tel, :class =>"filter_tfield"%>
		</div>
		<div>
        <%= f.submit "Filtrer", :class =>"btn "%>
		</div>
	  </div>
   <% end %>
</div>  
<!-- END FILTER -->

<div class="container-fluid">

  <table class="table table-bordered table-striped table-hover">
      <thead>
    <tr>
      <th><center>#</center></th>
      <th><center>Civ.</center></th>
      <th><center>Nom</center></th>
      <th><center>Pr&eacute;nom</center></th>
      <th><center>Soci&eacute;t&eacute;</center></th>
      <th><center>T&eacute;l</center></th>
      <th><center>Mobile</center></th>
      <th><center>E-mail</center></th>
      <th><center>Éditer</center></th>         
    </tr>
      </thead>
	  <tbody>
  <% @contacts.each do |contact| %>
    <tr>
		<% if !contact.id.nil? %>
			<% then %>
				<td><center><%= contact.id %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>      
	  
		<% if !contact.title.blank? %>
			<% then %>
				<td><center>
					<%= if contact.title == "M." then image_tag("glyphicons/glyphicons_034_old_man.png") end%>
					<%= if contact.title == "Mme" then image_tag("glyphicons/glyphicons_035_woman.png") end%>
				</center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !contact.surname.blank? %>
			<% then %>
				<td><center><%= contact.surname %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %> 		
		
		<% if !contact.forename.blank? %>
			<% then %>
				<td><center><%= contact.forename %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %> 		
		
		<% if !contact.account.nil? %>
			<% then %>
				<td ><center><%= link_to contact.account.company , account_events_url(contact.account),{:title => "Afficher les évenements"} %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %> 

		
		<% if !contact.tel.blank? %>
			<% then %>
				<td><center><%= contact.tel %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %> 

		<% if !contact.mobile.blank? %>
			<% then %>
				<td><center><%= contact.mobile %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>		

		<% if !contact.email.blank? %>
			<% then %>
				<td><center><%= mail_to(contact.email)%></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>


      <td><center><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_contact_path(contact),{:title => "Éditer le contact", :class =>"btn"} %></center></td>
 </tr>
  <% end %>
  </tbody>
  </table>
  
  <%= paginate @contacts %> 

</div>
