<%= render 'filter', :locals => { :filter => @filter }%>
<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid" style="margin-top: 1em;">

  <table class="table table-bordered table-striped">
    <tr>
      <th>Id</th>
      <th>Civ.</th>
      <th>Nom</th>
      <th>Pr&eacute;nom</th>
      <th>Soci&eacute;t&eacute;.</th>    
      <th>T&eacute;l</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Editer</th>        
    </tr>
  
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td>
        <%= if contact.title == "M." then image_tag("glyphicons/glyphicons_034_old_man.png") end%>
        <%= if contact.title == "Mme" then image_tag("glyphicons/glyphicons_035_woman.png") end%>
      </td>
      <td><%= contact.surname %></td>
      <td><%= contact.forename %></td>
      <td ><%= if !contact.account.nil? then link_to contact.account.company , account_events_url(contact.account),{:title => "Afficher les évenements"} end%></td>
      <td><%= contact.tel %></td>
      <td><%= contact.mobile %></td>
      <td><%= mail_to(contact.email)%></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_contact_path(contact),{:title => "Éditer le contact"} %></td>
    </tr>
  <% end %>
  </table>
  
  <%= paginate @contacts %> 

</div>
