<div class="container-fluid">
  
  <div class="page-header">
    <h1>Contact n°<%= @contact.id %> </h1>
  </div>

  <div class="well">
    
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <div class="span2">
              <h3>Civilite:</h3>
              <%= @contact.civilite %>
            </div>
          </td>
          
          <td>
            <div class="span2">
              <h3> Nom :</h3>
              <%= @contact.nom %>
            </div>
          </td>
    
	  <td colspan="2">
            <div class="span2">
              <h3> Prénom :</h3>
              <%= @contact.prenom %>
            </div>
          </td>
         
        </tr>
        
        <tr>
          <td>
            <div class="span2">
              <h3>Téléphone :</h3>
              <%= @contact.tel %>
            </div>
          </td>
          
          <td>
            <div class="span2">
              <h3>Fax :</h3>
              <%= @contact.fax %>
            </div>
          </td>
          
          <td>
            <div class="span2">
              <h3>Mobile : </h3>
              <%= @contact.mobile %>
            </div>
          </td>

          <td>
            <div class="span2">
              <h3>Email :</h3>
              <%=  mail_to(@contact.email) %>
            </div>
          </td>
          
        </tr>
        
        <tr>
          <td colspan="1">
              <h3>Compte :</h3>
              <%= link_to @contact.compte.societe , compte_evenements_url(@contact.compte) %> 
          </td>
          
          <td colspan="3">
              <h3>Fonction :</h3>
              <%= @contact.fonction %> 
          </td>
          
        </tr>
        
        <tr>
          <td colspan="4">
              <h3>Notes :</h3>
              <%= simple_format(@contact.notes) %>
          </td>
        </tr>
        
        <tr>
          <td colspan="4">
            <h3>Produit(s) associé(s) : </h3>
              <%= render "produits" %>
          </td>
        </tr>
        
        <tr>
          <td colspan="4">
              <h3>Créé par : </h3><%= @contact.created_by %><strong style="margin-left: 3em;"> Le : </strong><%= @contact.created_at.strftime("%d/%m/%y à %H:%M") %>
          </td>
        </tr>
          
        <% if !@contact.modified_by.nil? %>
        <tr>
          <td colspan="4">
              <h3>Modifié par :</h3><%= @contact.modified_by %>
              <strong style="margin-left: 3em;"> Le : </strong><%= @contact.updated_at.strftime("%d/%m/%y à %H:%M") %>        
          </td>
        </tr>
	<% end %>
      
      <tr>
        <td colspan="4">
          <div class="pull-left">
            <%= link_to image_tag("glyphicons/glyphicons_221_unshare.png"), :back %>
            <%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_contact_path(@contact) %>   
          </div>
          <div class="pull-right">
            <%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), @contact, :confirm => 'Confirmer la suppression ?', :method => :delete %>
          </div>
        </td>
      </tr>
        
      </tbody>
    </table>
  </div>
</div>