<%= nested_form_for(@contact, :html => { :class => "well ", :id => 'new_contact_form', :key => "blabla"}) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "erreur") %> a empeché de sauvegarder ce contact:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <div class="span2"><%= t('app.fields.name')+" :"  %></div> <%= f.text_field :surname %>
  </div>
  
  <div class="field">
    <div class="span2"><%= t('app.fields.forename')+" :"  %></div> <%= f.text_field :forename %>
  </div>
  
  <div class="field">
    <div class="span2"><%= t('app.fields.title')+" :"  %></div> <%= f.select :title, Contact::TITLES, {:include_blank => true} %>
  </div>
  
  <% if @contact.persisted? %>
  <div class="field">
    <div class="span2"><%= t('app.fields.state')+" :"  %></div> <%= f.select :active, options_for_select([["Actif", true], ["Inactif", false]], selected: @contact.active) %>
  </div>

  <% end %>
  <div class="field">
    <div class="span2"><%= t('app.fields.phone')+" :"  %></div> <%= f.text_field :tel %>
  </div>
  
  <div class="field">
    <div class="span2"><%= t('app.fields.fax')+" :"  %></div> <%= f.text_field :fax%>
  </div>
  
  <div class="field">
    <div class="span2"><%= t('app.fields.phone')+" :"  %></div> <%= f.text_field :mobile%>
  </div>
  
  <div class="field">
    <div class="span2"><%= t('app.fields.email')+" :"  %></div> <%= f.text_field :email%> 
  </div>

<div class="field">
    <div class="span2"><%= t('app.fields.job')+" :"  %></div> <%= f.text_field :job%>
  </div>
  
  <div class="field">
    <div class="span2"><%= f.label('account-search', t('app.model.Account') + t('app.fields.colon')) %></div>
    <% company = ""
    if !@contact.account.nil?
      company = @contact.account.company
    end %>
		<p>
			<%= text_field_tag(nil, company, { :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id', :placeholder => 'Rechercher' }) %>
			<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
		</p>
		<%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id' } %>
  </div>
  

  
  <div class="field">
    <div class="span2"><%= t('app.fields.notes')+t('app.fields.colon') %></div> <%= f.text_area :notes , :rows => "5", :style => 'width: 50%;'%>
  </div>
  

  
  
  <br />
  	
	<div class="field">
    <% if !@contact.id.nil? %>
		<div class="span9"><%= t('app.actions.created_by')+t('app.fields.colon') %><%= @contact.author.full_name %>, le </strong><%= @contact.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% if !@contact.modified_by.nil? %>
			<div class="span9"><%= t('app.actions.updated_by')+t('app.fields.colon') %><%= @contact.editor.full_name %>, le <%= @contact.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		<% end %>
	<% end %>
	
	  
	<hr />
        </div>
        
	<div class="row">
	  <% if (!@contact.id.nil?) %> 
			<%= f.button "#{t('app.actions.updated_contact')}", :type => :submit, :class =>"btn btn-primary",:id =>"contact_submit_form" %>
		<% end %>

    <%# Ajout du bouton de suppression %>
		<% if !@contact.id.nil? %>
		 	<%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, @contact, :title => "#{t('link.delete_contact')}", :confirm => "#{t('app.message.confirm.delete')}", :class =>"pull-right btn", :method => :delete %>
		<% end %>
        </div>
</div>
 
<% end %>