<%= render 'title', :locals => { :title => @title, :link => @link }%>

<div class="container-fluid">
 
 
 <!-- FILTER -->
 <% if !@import_contacts.empty? %>
  <%= form_tag(import_contacts_path, method: :GET) do %>
  <div class="row row-fluid">
	 <div>
	  <%#= label_tag :invalid, "#{t('app.model.Contact')}s #{t('app.fields.invalid')}s :", class: 'top' %>
	  <%#= check_box_tag :invalid, 'yes', @check  %>
	  <%= label_tag :anomaly, "#{t('app.fields.anomaly')} :", :class => "top"  %>
	  <%= select_tag "anomaly", options_for_select(ImportContact::ANOMALIES.collect{|v| v[1]}), { :include_blank => "#{t('app.default.all')}", :class =>"filter_statut" }  %>
	</div>
        <%= submit_tag "Filtrer", :class =>"btn"%>
  </div>
 <% end %>
<% end %>
 <!-- END FILTER -->
 


  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center"><%= t('app.fields.title') %></th>
        <th class="text-center"><%= t('app.fields.name') %></th>
        <th class="text-center"><%= t('app.fields.forename') %></th>
        <th class="text-center"><%= t('app.fields.company') %></th>
        <th class="text-center"><%= t('app.fields.phone') %></th>
        <th class="text-center"><%= t('app.fields.mobile') %></th>
        <th class="text-center"><%= t('app.fields.email') %></th>
	<th class="text-center"><%= t('app.fields.anomaly') %></th>
        <th class="text-center"><%= t('app.fields.action') %></th>         
      </tr>
    </thead>
    <tbody>
      <% @import_contacts.each do |contact| %>
        <tr class="<%='error' if contact.anomaly!='-' %>">
          <% if !contact.title.blank? %>
            <% then %>
            <td class="text-center">
              <%= if contact.title == "M." then image_tag("glyphicons/glyphicons_034_old_man.png") end%>
              <%= if contact.title == "Mme" then image_tag("glyphicons/glyphicons_035_woman.png") end%>
            </td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

          <% if !contact.surname.blank? %>
            <% then %>
            <td class="text-center"><%= contact.surname %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.forename.blank? %>
            <% then %>
            <td class="text-center"><%= contact.forename %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.account.nil? %>
            <% then %>
            <td class="text-center"><%= link_to contact.account.company , account_events_url(contact.account),{:title => "Afficher les évenements"} %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 


          <% if !contact.tel.blank? %>
            <% then %>
            <td class="text-center"><%= contact.tel %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 

          <% if !contact.mobile.blank? %>
            <% then %>
            <td class="text-center"><%= contact.mobile %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>		

          <% if !contact.email.blank? %>
            <% then %>
            <td class="text-center"><%= mail_to(contact.email)%></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

       <td class="text-center"><%= contact.anomaly %></td>

	
        <td class="text-center">
	  <%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_import_contact_path(contact) ,{:title => "#{t('link.edit', article:t('app.default.define_article_male'), model:t('app.model.Contact'))}" } %>
	  <%= link_to '<i class="fa fa-trash fa-2x action-icon"></i>'.html_safe,
			import_contact_path(contact),
			:title => "#{t('app.actions.destroy')} #{t('app.default.define_article_male')} #{t('app.model.Contact')}",
			:confirm => "#{t('app.message.confirm.delete_before_import',model: t('app.model.Contact'))} #{t('app.message.confirm.delete')}",
			:method => :delete %>
	</td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
      <% if !@import_contacts.empty? %>
	      <div style="float:left;margin-right: 5px">
				<%= button_to "#{t('views.button.import',models:t('title.contacts'))}", {action: "importing_contacts"}, {class: "btn btn-primary", id: "import_validate_form"} %>
			</div>
			<%= button_to "#{t('app.actions.recalculate_duplicates')}", recalculate_duplicates_contacts_path, {class: "btn"} %>
		<% end %>
  <%= paginate @import_contacts %> 

</div>