<%= render 'title', :locals => { :title => @title, :link => @link }%>

<div class="container-fluid">
 
 <!-- notice -->
 <div class="row">
  <div class="span3">
	<table class="table table-condensed table-bordered">
		<tr class="success"><td class="text-center"><%=t('app.caption.importable_accounts') %></td></tr>
	</table>
  </div>
  
  <div class="span3">
	<table class="table table-condensed table-bordered">
		<tr class="warning"><td class="text-center"><%=t('app.caption.warning_anomaly') %></td></tr>
	</table>
  </div>
  <div class="span3">
	<table class="table table-condensed table-bordered">
		<tr class="error"><td class="text-center"><%=t('app.caption.error_anomaly') %></td></tr>
	</table>
  </div>
  
 </div>
 
 <!-- end notice -->
 
 
 <!-- FILTER -->
 <% if @all_import_contacts!=0 %>
  <%= form_tag(import_contacts_path, method: :GET) do %>
  <div class="row row-fluid">
	 <div>
	  <%= label_tag :anomaly, "#{t('app.fields.anomaly').pluralize} :", :class => "top"  %>
	  <!--@select store value of selected anomaly -->
	  <%#= select_tag "anomaly", options_for_select(Anomaly.all.collect{|v| [ v.notes=='-' ? 'Aucun' : v.notes, v.id]},@select), {:prompt => "#{t('app.default.all')}", :class =>"filter_statut" }  %>
	  <%= select_tag "anomaly", options_for_select(@anomalies_filter.collect{|v| [ v.notes=='-' ? 'Aucun' : v.notes, v.id]},@select), {:prompt => "#{t('app.default.all')}", :class =>"filter_statut" }  %>
	</div>
        <%= submit_tag "Filtrer", :class =>"btn"%>
  </div>
 <% end %>
<% end %>
 <!-- END FILTER -->
 


  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center"><%= t('app.fields.title') %></th>
        <th class="text-center"><%= t('app.fields.name') %></th>
        <th class="text-center"><%= t('app.fields.forename') %></th>
        <th class="text-center"><%= t('app.fields.company') %></th>
        <th class="text-center"><%= t('app.fields.phone') %></th>
        <th class="text-center"><%= t('app.fields.mobile') %></th>
        <th class="text-center"><%= t('app.fields.email') %></th>
		  <th class="text-center"><%= t('app.fields.anomaly') %></th>
        <th class="text-center"><%= t('app.fields.action') %></th>         
      </tr>
    </thead>
    <tbody>
      <% @import_contacts.each do |contact| %>		
		
		<%	case contact.anomaly.level
				when 1
					%><tr class='success'><%
				when 2
					%><tr class='warning'><%
				else
					%><tr class='error'><%
			end
		%> 
          
			 <% if !contact.title.blank? %>
            <% then %>
            <td class="text-center">
              <%= if contact.title == "M." then image_tag("glyphicons/glyphicons_034_old_man.png") end%>
              <%= if contact.title == "Mme" then image_tag("glyphicons/glyphicons_035_woman.png") end%>
            </td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

          <% if !contact.surname.blank? %>
            <% then %>
            <td class="text-center"><%= contact.surname %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.forename.blank? %>
            <% then %>
            <td class="text-center"><%= contact.forename %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.account.nil? %>
            <% then %>
            <td class="text-center"><%= link_to contact.account.company , account_events_url(contact.account),{:title => "Afficher les évenements"} %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 


          <% if !contact.tel.blank? %>
            <% then %>
            <td class="text-center"><%= contact.tel %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 

          <% if !contact.mobile.blank? %>
            <% then %>
            <td class="text-center"><%= contact.mobile %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>		

          <% if !contact.email.blank? %>
            <% then %>
            <td class="text-center"><%= mail_to(contact.email)%></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

       <td class="text-center">
			<%= contact.anomaly.notes %>
			<!-- if duplicate in db, display company name of account in db with link-->
			<% if contact.anomaly.name=='duplicate_db' %>
	      <%= link_to contact.contact.full_name, edit_contact_path(:id=>contact.contact_id),{:title => "#{t('app.actions.edit')}"} %>
			<% end %>
		 </td>

	
        <td class="text-center">
			
			<% if can? :manage, contact %>
			
			<%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_import_contact_path(contact, :anomaly=>@select) ,{:title => "#{t('link.edit', article:t('app.default.define_article_male'), model:t('app.model.Contact'))}" } %>
			<%= link_to '<i class="fa fa-trash fa-2x action-icon"></i>'.html_safe,
				 import_contact_path(contact, :anomaly=>@select),
				 :title => "#{t('app.actions.destroy')} #{t('app.default.define_article_male')} #{t('app.model.Contact')}",
				 :confirm => "#{t('app.message.confirm.delete_before_import',model: t('app.model.Contact'))} #{t('app.message.confirm.delete')}",
				 :method => :delete %>
				 
			<% end %>
				 
			</td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
      <% if !@import_contacts.empty? && (can? :manage, ImportContact) %>
	      <div style="float:left;margin-right: 5px">
				<%= form_tag(import_contacts_importing_path) do %>
					<%= button_tag "#{t('views.button.import',models:t('title.contacts'))}", class: "btn btn-primary" %>
				<% end %>
			</div>
			
			<div style="float:left;margin-right: 5px">
				<%= form_tag(import_contacts_recalculate_duplicates_path) do %>
					<%= button_tag "#{t('app.actions.recalculate_duplicates')}", class: "btn" %>
				<% end %>
			</div>
			
			<div style="float:right;margin-right: 5px">
				<%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe,
					 destroy_all_invalids_contacts_path,
					 :title => "#{t('app.actions.destroy')} #{t('app.default.define_article_male').pluralize} #{t('app.model.Contact').pluralize.downcase } #{t('app.fields.invalid').pluralize}",
					 :confirm => "#{t('app.message.confirm.delete_all_invalids_contacts')}",
					 :class =>"pull-right btn" %>
			</div>
			
		<% end %>
  <%= paginate @import_contacts %> 

</div>