<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">
 
 
 <!-- FILTER --> 
  <%= form_tag(import_contacts_path, method: :GET) do %>
  <div class="row row-fluid">
	 <div>
	  <%= label_tag :invalid, "Contacts invalides :", class: 'top' %>
	  <%= check_box_tag :invalid %>
	</div>
        <%= submit_tag "Filtrer", :class =>"btn"%>
  </div>
 <% end %>
 <!-- END FILTER -->
 


  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">Civ.</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Pr&eacute;nom</th>
        <th class="text-center">Soci&eacute;t&eacute;</th>
        <th class="text-center">T&eacute;l</th>
        <th class="text-center">Mobile</th>
        <th class="text-center">E-mail</th>
	<th class="text-center"><%= t('app.fields.anomaly') %></th>
        <th class="text-center">Actions</th>         
      </tr>
    </thead>
    <tbody>
      <% @import_contacts.each do |contact| %>
        <tr class="<%='error' if contact.anomaly!='-' %>">
          <% if !contact.title.blank? %>
            <% then %>
            <td class="text-center">
              <%= if contact.title == "M." then image_tag("glyphicons/glyphicons_034_old_man.png") end%>
              <%= if contact.title == "Mme" then image_tag("glyphicons/glyphicons_035_woman.png") end%>
            </td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

          <% if !contact.surname.blank? %>
            <% then %>
            <td class="text-center"><%= contact.surname %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.forename.blank? %>
            <% then %>
            <td class="text-center"><%= contact.forename %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 		

          <% if !contact.account.nil? %>
            <% then %>
            <td class="text-center"><%= link_to contact.account.company , account_events_url(contact.account),{:title => "Afficher les évenements"} %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 


          <% if !contact.tel.blank? %>
            <% then %>
            <td class="text-center"><%= contact.tel %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %> 

          <% if !contact.mobile.blank? %>
            <% then %>
            <td class="text-center"><%= contact.mobile %></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>		

          <% if !contact.email.blank? %>
            <% then %>
            <td class="text-center"><%= mail_to(contact.email)%></td>
          <% else %>
            <td class="text-center">-</td>
          <% end %>

       <td class="text-center"><%= contact.anomaly %></td>

	
        <td class="text-center">
	  <%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_import_contact_path(contact) ,{:title => "Éditer le compte" } %>
	  <%= link_to '<i class="fa fa-trash fa-2x action-icon"></i>'.html_safe,
			import_contact_path(contact),
			:title => "Supprimer l\'import",
			:confirm => "Ce compte ne sera pas importé ! Confirmez-vous la suppression ?",
			:method => :delete %>
	</td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
       <% if !@import_contacts.empty? %>
    <%= button_to "#{t('views.button.import',models:t('title.contacts'))}", {action: "validate_contacts"}, {class: "btn btn-primary", id: "import_validate_form"} %>
  <% end %>
  <%= paginate @import_contacts %> 

</div>