<%# encoding: utf-8 %>

<%# Récupération du des fonctions %>
<% content_for(:attachments_js) do %>
    <%= javascript_include_tag "attachments" %>
<% end %>

<% colon = t('app.fields.colon') %>
<%= nested_form_for(@document, :html => { :class => "well "}) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row row-fluid">
	<div class="field full">
		<div class="span2"><%= f.label(:name, t('app.fields.name') + colon) %></div>
		<p><%= f.text_field(:name ,{ :class => 'required' }) %><span class="req" /></p>
	</div>
</div>
<div class="row row-fluid">
	<div class="field full">
		<div class="span2"><%= f.label('account-search', t('app.model.Account') + colon) %></div>
<% company = ""
if !@document.account.nil?
	company = @document.account.company
end %>
		<p>
			<%= text_field_tag(nil, company, { :placeholder => 'Rechercher', :class => 'typeahead-account-search required', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id' }) %><span class='req' />
			<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
			<span class="label label-info" id="task_notice"  style="display: none; margin-left: 2em;">
				<i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
			</span>
		</p>
		<%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id' } %>
	</div>
</div>

    <div id="attachments">
      <%= f.fields_for :document_attachments do |ta| %>
        <div class="row row-fluid">
          <div class="field full">
            <div class="span2"></div>
            <% if ta.object.new_record? %>
              <%= ta.file_field :attach %>        
              <script>$ (":file").filestyle({buttonText: 'Choisir un fichier'});</script>
            <% else %>
              <%= link_to ta.object.attach_file_name, ta.object.attach.url %>
            <% end %>
            <%= ta.link_to_remove "", class: 'icon-remove' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row row-fluid">
      <div class="field full">
        <div class="span2"></div><%= f.link_to_add raw('<i class="icon-plus"></i> Ajouter une pièce-jointe'), :document_attachments, data: { target: '#attachments' } %>
      </div>
    </div>

	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:notes, t('app.fields.description')) %></div>
			<%= f.text_area :notes, :rows => "5", :style => 'width: 50%;' %>
		</div>
	</div>	
	<div class="field">
    <% if !@document.id.nil? %>
		<div class="span9"> Créé par : <%= @document.author.full_name %>, le <%= @document.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% if !@document.updated_by.nil? %>
			<div class="span9"> Dernièrement modifié par : <%= @document.editor.full_name %>, le <%= @document.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% else %>
		<% end %>
		
	<% end %>
	</div>
	  
	<hr /> 
 
     <div class="row">
	  <%= if !@document.id.nil? then f.button 'Modifier le document', :type => :submit, :class =>"btn btn-primary",:id =>"document_submit_form" else f.button 'Créer un document', :type => :submit, :class =>"btn btn-primary",:id =>"document_submit_form" end %>
      <%= if !@document.id.nil? then link_to '<i class="fa fa-trash-o fa-lg"></i>'.html_safe, @document, :title => "Supprimer le document", :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete end %> 
  </div>
<% end %>
