<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span8">
           <h2>Documents de <%= @account.company %></h2>
         </div>
           <%= link_to '<i class="fa fa-plus-circle fa-3x action-icon"></i>'.html_safe, new_account_document_path(:account_id => @account.id) ,{:title => "Créer un document", :class =>"pull-right"}%>
       </div>
     </div>

         
</div>


<div class="container-fluid">
  
 <% if Document.by_account(@account).blank? %>
 <h4> Aucun Document n'est rattaché à ce Compte </h4>
 <% else %>
  
 <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Nom</th>
        <th class="text-center">Description</center></th>
	<th class="text-center">Fichiers joints</th>
        <th class="text-center">Éditer</th>
      </tr>
    </thead>
    <tbody>
      <% @documents = Document.by_account(@account).order('name ASC').page(params[:page]) %>
      <% @documents.each do |document| %>
        <tr>
         <td class="text-center"><%= document.name %></td>
         <td class="text-center"><%= truncate(document.notes, :length => 600, :separator => ' ') %></td>
         <td class="text-center">
         <% document.document_attachments.each do |attachment| %>
            <%= link_to attachment.attach_file_name , attachment.attach.url, :target => '_blank' %><br/>
         <% end %>
         </td>
         <td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_document_path(document),{:title => "Éditer le document"} %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
  
  <br />
  
  <%= paginate @documents %>
  
  <% end %> 
  
</div>
