<div class="container-fluid">
  
  <div class="page-header">
    <h1>Document n°<%= @document.id %> </h1>
  </div>

  <div class="well">
    <p id="notice"><%= notice %></p>
    
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>  
            <div class="span2">
              <h3>Nom :</h3>
              <%= @document.name %></span>
            </div>
          </td>
        </tr>
        
        <tr>
          <td>  
              <h3>Compte :</h3>
              <%= link_to @document.account.company , @document.account %></span>
            </div>
          </td>
        </tr>
        
        <% if @document.attach.exists? %>
        <tr>
          <td>
            <h3> Pièce jointe :</h3>
            <%= link_to (image_tag("glyphicons/glyphicons_036_file.png") + ' ' + @document.attach_file_name), @document.attach.url, :target => "_blank"%>
          </td>
        </tr>
        <% end %>
    
        <tr>
          <td>
            <h3>Notes :</h3>
            <%= simple_format(@document.notes) %>
          </td>
        </tr>
      
        <tr>
          <td>
              <h3>Créée par : </h3><%= @document.author.full_name %><strong style="margin-left: 3em;"> Le : </strong><%= @document.created_at.strftime("%d/%m/%Y à %H:%M") %>
          </td>
        </tr>
        
        <% if !@document.updated_by.nil? %>
        <tr>
          <td>
              <h3>Modifiée par :</h3><%= @document.editor.full_name %>
              <strong style="margin-left: 3em;"> Le : </strong><%= @document.updated_at.strftime("%d/%m/%Y à %H:%M") %>
          </td>
        </tr>
        <% end %>
     
        <tr>
          <td>
            <div class="pull-left">
              <%= link_to image_tag("glyphicons/glyphicons_221_unshare.png"), :back %>
              <%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_document_path(@document) %>   
            </div>
            <div class="pull-right">
              <%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), @document, :confirm => 'Confirmer la suppression ?', :method => :delete %>
            </div>
          </td>
        </tr>
       </tbody>
    </table>
  </div>
</div>
