<div class="well">
  
  <%= form_for(@modele) do |f| %>
    <% if @modele.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@modele.errors.count, "error") %> prohibited this modele from being saved:</h2>
  
        <ul>
        <% @modele.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  
    <div class="field"> 
      <div class="span2">Societe : </div><%= f.text_field :societe %>
    </div>
    
    <div class="field"> 
      <div class="span2">Adresse : </div><%= f.text_field :adresse %>
    </div>
    
    <div class="field"> 
      <div class="span2">Ville : </div><%= f.text_field :ville %>
    </div>
    
    <div class="field"> 
      <div class="span2">Code postal : </div><%= f.text_field :cp %>
    </div>
    
    <div class="field"> 
      <div class="span2">Pays : </div><%= f.text_field :pays %>
    </div>
    
    <div class="field"> 
      <div class="span2">Téléphone : </div><%= f.text_field :tel %>
    </div>
    
    <div class="field"> 
      <div class="span2">Fax : </div><%= f.text_field :fax %>
    </div>
    
    <div class="field"> 
      <div class="span2">Site internet : </div><%= f.text_field :site %>
    </div>
    
    <div class="field"> 
      <div class="span2">E-mail : </div><%= f.text_field :email %>
    </div>
    
    <div class="field"> 
      <div class="span2">Infos sur le capital : </div><%= f.text_field :capital %>
    </div>
    
    <div class="field"> 
      <div class="span2">APE : </div><%= f.text_field :ape %>
    </div>
    
    <div class="field"> 
      <div class="span2">SIRET : </div><%= f.text_field :siret %>
    </div>
    
    <div class="field"> 
      <div class="span2">TVA : </div><%= f.text_field :tva %>
    </div>
    
    <div class="field"> 
      <div class="span2">Logo : </div>
      <%= f.file_field :fichier_joint, :style=>'width: 20em; margin-bottom: 1em;' %>
      <% if @modele.fichier_joint.exists? %>
        <%= link_to (image_tag("glyphicons/glyphicons_036_file.png") + ' ' + @modele.fichier_joint_file_name), @modele.fichier_joint.url, :target => "_blank"%>
      <% end %>
    </div>
    
    
  <div class="row">
    <div class="span2"> <%= f.submit :class =>"btn btn-primary" %> </div>
    <div class="pull-right ">
      <%= if !@modele.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), @modele, :title => "Supprimer le modèle", :confirm => 'Confirmer la suppression ?', :method => :delete end %> 
    </div>
  </div>    
    
    
  <% end %>
</div>