<%= render 'titre', :locals => { :titre => @titre }%>

<div class="container-fluid">
  
  <table class="table table-bordered table-striped">
   <thead> 
    <tr>
        <th>Id</th>
        <th>Societe</th>
        <th>Éditer</th>
    </tr>
   </thead>
   
  <tbody> 
  <% @modeles.each do |modele| %>
    <tr>
      <td><%= modele.id %></td>
      <td><%= modele.societe %></td>
      <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_modele_path(modele),{:title => "Éditer le modèle"} %></td>      
    </tr>
  <% end %>
  </tbody>
  </table>
  
  <br />
  
  <%= paginate @modeles %> 
  
</div>
