<%= form_for(@tag, :html => { :class => "well "}) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this produit from being saved:</h2>
<!-- une variable dans un conditions if avec une variable d'instance ne semblant pas exister... à voir -->
      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="span2">Libellé :</div><%= f.text_field :name,{ :class => 'required', :style=>'width: 30em;'} %><span class="req" />
  </div>
  <div class="field">
    <div class="span2">Description :</div>
    <%= f.text_area :description, :rows => "5", :style=>'width: 30em;' %>
  </div>
  
      <br />
  	
	<div class="field">
    <% if !@tag.id.nil? %>
		<div class="span9"> Créé par : <%= @tag.author.full_name %>, le </strong><%= @tag.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% if !@tag.updated_by.nil? %>
			<div class="span9"> Dernièrement modifié par : <%= @tag.editor.full_name %>, le <%= @tag.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />
		
		<% else %>
		<% end %>
		
	<% end %>
	</div>
	  
	<hr />
  
   <div class="row">
   <%= if !@tag.id.nil? then f.submit 'Modifier ce Tag', :class =>"btn btn-primary",:id =>"tag_validate_form" else f.submit 'Créer un Tag', :class =>"btn btn-primary",:id =>"tag_validate_form" end%>
   <%= if !@tag.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), @tag, :title => "Supprimer le tag", :confirm => 'Confirmer la suppression ?', :class=>"pull-right btn trash", :method => :delete end %> 
    </div>
  </div>
<% end %>
