

<div id="bloc-login">
  <div id="logo">
  <%= image_tag("logo-login.png") %>
  </div>
  
  <div id="login">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ) do |f| %>
    <%= devise_error_messages! %>
    
      <div class="field" >
          <div align="center"><h3>CRM</h3>
            <strong>Veuillez vous identifier</strong>
          </div>
          <br />
          <div align="right">Identifiant <%= f.email_field :email %> </div>
          <div align="right">Mot de passe <%= f.password_field :password %></div>
          <div class="pull-right">
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %> Mémoriser
            <% end %>
            <%= f.submit "Connexion", :class =>"btn btn-primary" %>
          </div>
          <div class="pull-left"><%= render "links" %></div>
      </div>
      
    <% end %>
  </div>
  
</div>
