<%= render 'filter', :locals => { :filter => @filter }%>

<div class="container-fluid">
  <table class="table table-bordered table-striped"  style="margin-top: 1em;">
    <thead>
      <tr>
        <th>Id</th>
        <th>Statut</th>
        <th>Compte</th>
        <th>Libellé</th>
        <th>Contact</th>
        <th>Estimation</th>
        <th>Marge</th>
        <th>Echéance</th>
        <th>Collaborateur</th>
        <th>Voir</th>
        <th>Editer</th>
      </tr>
    </thead>
    
    <tbody>
      <% @opportunites.each do |opportunite| %>
      <tr>
        <td><%= link_to opportunite.id, opportunite %></td>
        <td>
          <% if opportunite.statut == "Détectée"%>
            <span class="badge badge-important">
          <% elsif opportunite.statut == "En cours"%>
            <span class="badge badge-warning">
          <% elsif opportunite.statut == "Gagnée"%>
            <span class="badge badge-success">
          <% elsif opportunite.statut == "Perdue"%>
            <span class="badge badge-inverse">
          <% else %>
            <span class="badge badge-info">
          <% end %>
          <%= opportunite.statut %></span>
        </td>
        <td><%= if !opportunite.compte.nil? then link_to opportunite.compte.societe , compte_evenements_url(opportunite.compte) end%></td>
        <td><%= opportunite.nom %></td>
        <td><%= if !opportunite.contact.nil? then link_to opportunite.contact.nom_complet, opportunite.contact end%></td>
        <td style="text-align :right;">
          <% if !opportunite.montant.nil? %>
            <%= number_to_currency(opportunite.montant, :locale => :fr)  %> <strong> HT </strong>
          <% end %>
        </td>
	<td style="text-align :right;">
          <% if !opportunite.marge.nil? %>
            <%= number_to_currency(opportunite.marge, :locale => :fr)  %> <strong> HT </strong>
          <% end %>
        </td>
        <td><%= if !opportunite.echeance.nil? then opportunite.echeance.strftime("%d/%m/%y") end%></td>
        <td><%= if !opportunite.user.nil? then opportunite.user.nom_complet end%></td>
        <td><%= link_to image_tag("glyphicons/glyphicons_029_notes_2.png"), opportunite %></td>
        <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_opportunite_path(opportunite) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <br />
  
  <%= paginate @opportunites %>
  
  <div class="page-header pull-right" style="text-align: right;">
    <h4> Montant total estimé : <%=number_to_currency(@total_montant, :locale => :fr) %>  HT</h4> <br /> 
    <h4> Marge totale estimée : <%=number_to_currency(@total_marge, :locale => :fr) %>  HT</h4> 
  </div>


  <br /><br /><br />
  <%= link_to image_tag("glyphicons/glyphicons_190_circle_plus.png"), new_opportunite_path %>

</div>
