<div class="container-fluid">
  
  <div class="page-header">
    <h1>Opportunité n°<%= @opportunite.id %> </h1>
  </div>

  <div class="well">
    
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>  
            <div class="span2">
              <h3>Statut :</h3>
              <% if @opportunite.statut == "Détectée"%>
                <span class="badge badge-info">
              <% elsif @opportunite.statut == "En cours"%>
                <span class="badge badge-warning">
              <% elsif @opportunite.statut == "Gagnée"%>
                <span class="badge badge-success">
              <% elsif @opportunite.statut == "Perdue"%>
                <span class="badge badge-important">
              <% else %>
                <span class="badge badge-info">
              <% end %>
              <%= @opportunite.statut %></span>
            </div>
          </td>
    
	  <td>
            <div class="span2">
              <h3> Compte :</h3>
              <%= if !@opportunite.compte.nil? then link_to @opportunite.compte.societe , @opportunite.compte end%>
            </div>
          </td>
    
          <% if !@opportunite.contact.nil? %>
          <td>
            <div class="span2">
              <h3> Contact :</h3>
              <%= link_to @opportunite.contact.nom_complet, @opportunite.contact %>
            </div>
          </td>
          <% end %>

	  <% if !@opportunite.echeance.nil? %>
          <td>
            <div class="span2">
              <h3>Echéance :</h3>
              <%= @opportunite.echeance.strftime("%d/%m/%y") %>
            </div>
          </td>
	  <% end %>
        </tr>
        
        <tr>
          <td colspan="4">
              <h3>Libellé :</h3>
              <%= @opportunite.nom %>
            
          </td>
        </tr>
    
        <tr>
          <td colspan="4">
            <h3>Description :</h3>
            <%= simple_format(@opportunite.description) %>
          </td>
        </tr>
        
        <tr>
          <td>
	    <h3>Montant estimé :</h3>
	    <strong> <%= @opportunite.montant %>  € HT </strong>
          </td>
	  <td colspan="3">
	    <h3>Marge estimée :</h3>
	    <strong> <%= @opportunite.marge %>  € HT </strong>
          </td>
        </tr>
    
        <% if @opportunite.fichier_joint.exists? %>
        <tr>
          <td colspan="4">
            <h3> Pièce jointe :</h3>
            <%= link_to (image_tag("glyphicons/glyphicons_036_file.png") + ' ' + @opportunite.fichier_joint_file_name), @opportunite.fichier_joint.url, :target => "_blank"%>
          </td>
        </tr>
        <% end %>
      
        <tr>
          <td colspan="4">
            <h3>Collaborateur : </h3><strong><%= @opportunite.user.nom_complet %></strong> : <%= mail_to(@opportunite.user.email) %>
          </td>
        </tr>
      
      
        <tr>
          <td colspan="4">
            <h3>Remarques :</h3>
            <%= simple_format(@opportunite.remarque) %>
          </td>
        </tr>
                
                
        <tr>
          <td colspan="4">
	    <h3>Créée par : </h3><%= @opportunite.created_by %><strong style="margin-left: 3em;"> Le : </strong><%= @opportunite.created_at.strftime("%d/%m/%y à %H:%M") %>
          </td>
        </tr>
        
        <% if !@opportunite.updated_by.nil? %>
        <tr>
          <td colspan="4">
              <h3>Modifiée par :</h3><%= @opportunite.updated_by %>
              <strong style="margin-left: 3em;"> Le : </strong><%= @opportunite.updated_at.strftime("%d/%m/%y à %H:%M") %>        
          </td>
        </tr>
        <% end %>
      
        <tr>
          <td colspan="4">
            <div class="pull-left">
              <%= link_to image_tag("glyphicons/glyphicons_221_unshare.png"), :back %>
              <%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_opportunite_path(@opportunite) %>   
            </div>
            <div class="pull-right">
              <%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), @opportunite, :confirm => 'Confirmer la suppression ?', :method => :delete %>
            </div>
          </td>
        </tr>
       </tbody>
    </table>
  </div>
</div>
