<div class="well">
  <%= nested_form_for @devi do |f| %>
    <% if @devi.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@devi.errors.count, "error") %> prohibited this devi from being saved:</h2>
  
        <ul>
        <% @devi.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="page-header">
      <h3> En-tête </h3>
    </div>
      <div class="field"> 
        <div class="span2">Référence : </div><%= f.text_field :ref %>
      </div>
      <div class="field">
        <div class="span2"> Date : </div> <%= f.text_field :date %>
      </div>
      <div class="field">
        <div class="span2"> Compte : </div> <%= f.collection_select :compte_id, Compte.order('societe ASC').all, :id, :societe%>
      </div>
      <div class="field">
        <div class="span2"> Référence client : </div> <%= f.text_field :ref_compte %>
      </div>
      
      <div class="field" id="nameContacts">
        <%= render :partial => 'contacts' %>
      </div>
      <div class="field">
        <div class="span2"> Collaborateur : </div> <%= f.collection_select :user_id, User.all, :id, :nom_complet %>
      </div>
    <hr />
    
    
    <div class="page-header">
      <h3> Items </h3>
    </div>
    
    <div class="field" style="margin-left: 2em;">
      <%= f.fields_for :items %>
      <%= f.link_to_add "Ajouter un item", :items ,{:class => "btn btn-success"}%>
      <br /><br />
      <!--<h4>Total HT = <%#= f.text_field :total_ht , :style =>"width: 80px; text-align: right;", :disabled => true%> €</h4>-->
    </div>
    <br />
    
    <div class="field">
      
    </div>
    <hr />
    
    <div class="page-header">
      <h3> Modalités </h3>
    </div>
      <div class="field"> 
        <div class="span2">Validité du devis : </div><%= f.text_field :validite %> jours
      </div>
      <div class="field"> 
        <div class="span2">Mode de règlement : </div><%= f.text_field :mode_reg %>
      </div>
    <hr />
      
    <div class="page-header">
      <h3> Propriétés </h3>
    </div>
      <div class="field"> 
        <div class="span2">Fichier-joint : </div><%= f.file_field :fichier_joint, :style=>'width: 20em; margin-bottom: 1em;' %>
      </div>
      <div class="field"> 
        <div class="span2">Statut : </div><%= f.select :statut, Devi::STATUTS %>
      </div>
      <div class="field" id="nameOpportunite">
        <%= render :partial => 'opportunites' %>
      </div>
      <div class="field"> 
        <div class="span2">Modèle : </div><%= f.collection_select :modele_id, Modele.order('societe ASC').all, :id, :societe%>
      </div>
    <hr />
    
    <div class="field">
      <div class="span2" >
        <%= link_to image_tag("glyphicons/glyphicons_221_unshare.png"),:back %>
      </div>
          <%= f.submit 'Sauvegarder le devis', :class =>"btn btn-primary"%>
    </div>
  <% end %>
</div>