
<div class="row-fluid">
    <div class="span2">
      <h6>Référence : </h6><%= f.text_field :ref ,:class =>"filter_tfield"%>
    </div>
    
    <div class="span2">
      <h6>Désignation : </h6><%= f.text_field :designation ,:class =>"filter_tfield"%>
    </div>
    
    <div class="span2">
      <h6>Quantité : </h6><%= f.text_field :quantite , :class =>"filter_date"%>
    </div>
  
    <div class="span2">
      <h6>Prix HT : </h6><%= f.text_field :prix_ht , :class =>"filter_date"%>
    </div>
     
    <div class="span2" style="margin-top: 1.2em;">
    <%= f.link_to_remove '<i class="icon-trash icon-white"></i>'.html_safe, {:class => "btn btn-danger"} %>
    </div>
</div>