<%= render 'titre', :locals => { :titre => @titre }%>

<div class="container-fluid">
    
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Statut</th>
        <th>Référence</th>
        <th>Compte</th>
        <th>Opportunité</th>
        <th>Total HT</th>
        <th>Date</th>
        <th>Editer</th>
        <th>Supp.</th>
        <th>PDF</th>        
      </tr>
    </thead>
    
    <tbody>
    <% @devis.each do |devi| %>
    <tr>
        <td><%= devi.id %></td>
        <td>
            <% if devi.statut == "Sauvegardé"%>
              <span class="badge badge-important">
            <% elsif devi.statut == "En cours"%>
              <span class="badge badge-warning">
            <% elsif devi.statut == "Accepté"%>
              <span class="badge badge-success">
            <% elsif devi.statut == "Refusé"%>
              <span class="badge badge-inverse">
            <% else %>
              <span class="badge badge-info">
            <% end %>
            <%= devi.statut %></span>
          </td>
        <td><%= devi.ref %></td>
        <td><%= link_to devi.compte.societe , devi.compte%></td>
        <td>
          <% if !devi.opportunite.nil? %>
            <%= link_to devi.opportunite.nom , devi.opportunite%>
          <% end %>  
        </td>
        <td style="text-align :right;"><%= number_to_currency(devi.total_ht, :locale => :fr) %></td>
        <td><%= if !devi.date.nil? then devi.date.strftime("%d/%m/%Y") end%></td>
        <td><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_devi_path(devi) %></td>
        <td><%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), devi, :title => "Supprimer le devis", :confirm => 'Confirmer la suppression ?', :method => :delete %></td>          
        <td><%= link_to image_tag("glyphicons/glyphicons_015_print.png"), devi_path(devi, :format => "pdf") %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
  
  <br />
  
  <%= paginate @devis %>
  
  
  </div>