<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Libell&eacute;</th>
        <th class="text-center">Sens</th>  
        <th class="text-center">Éditer</th>
      </tr>
    </thead>
    
  <tbody>
  <% @eventtypes.each do |type| %>
    <tr>
      <td class="text-center"><%= type.label %></td>
      <td class="text-center"><%= type.direction %></td>
      <td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_event_type_path(type),{:title => "Éditer le type"}%></td>
     </tr>
  <% end %>
  </tbody>
  </table>
  
  <%= paginate @eventtypes, :params => {:controller => "eventTypes", :action => 'index', :page => @page } %>
</div>

