<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><center>Id</center></th>
        <th><center>Libell&eacute;</center></th>
        <th><center>Sens</center></th>  
        <th><center>Éditer</center></th>
      </tr>
    </thead>
    
  <tbody>
  <% @eventtypes.each do |type| %>
    <tr>
      <td><center><%= type.id %></center></td>
      <td><center><%= type.label %></center></td>
      <td><center><%= type.direction %></center></td>
      <td><center><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_event_type_path(type),{:title => "Éditer le type", :class =>"btn"}%></center></td>
     </tr>
  <% end %>
  </tbody>
  </table>
  
  <%= paginate @eventtypes, :params => {:controller => "eventTypes", :action => 'index', :page => @page } %>
</div>

