<p id="notice"><%= notice %></p>

<p>
  <b>Libelle:</b>
  <%= @eventtype.label %>
</p>

<p>
  <b>Direction:</b>
  <%= @eventtype.direction %>
</p>

<p>
  <b>Created by:</b>
  <%= @eventtype.author.full_name %>
</p>

<p>
  <b>Modified by:</b>
  <% if (!@eventtype.modified_by.nil?) %>
    <%= @eventtype.editor.full_name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_event_type_path(@eventtype) %> |

<%= link_to 'Back', event_type_path %>
