<p id="notice"><%= notice %></p>

<p>
  <b>Libelle:</b>
  <%= @eventtype.label %>
</p>

<p>
  <b>Direction:</b>
  <%= @eventtype.direction %>
</p>

<p>
  <b>Created by:</b>
  <%= @eventtype.created_by %>
</p>

<p>
  <b>Modified by:</b>
  <%= @eventtype.modified_by %>
</p>


<%= link_to 'Edit', edit_eventType_path(@type) %> |
<%= link_to 'Back', eventType_path %>
