<div class="container-fluid">
  <div class="well" id="title-bar">
    <div class="row-fluid">
      <h1><%= '<i class="fa fa-tachometer"></i>'.html_safe %> <%= t('title.dashboard') %></h1>
    </div>
  </div>
  <!-- TASK -->
  <% if @tasks.length > 0 %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th colspan="9">
            <h2 class="pull-left"><%= '<i class="fa fa-tasks"></i>'.html_safe %> <%= t('various.my') %> <%= t('app.model.Task').pluralize %></h2>
            <%= link_to '<i class="fa fa-plus-circle fa-3x action-icon"></i>'.html_safe, new_task_path ,{:title => "#{t('app.actions.create')} #{t('app.default.new_female')} #{t('app.model.Task')}".html_safe, :class=>"pull-right", :style => 'display: inline-block'} %>
          </th>
        </tr>
        <tr>
          <th class="text-center"><%= t('app.fields.state') %></th>
          <th class="text-center"><%= t('app.fields.priority') %></th>
          <th class="text-center"><%= t('app.model.Account') %></th>
          <th class="text-center"><%= t('app.fields.subject') %></th>
          <th class="text-center"><%= t('app.model.Contact') %></th>
          <th class="text-center"><%= t('app.fields.term') %></th>
          <th class="text-center"><%= t('app.actions.Actions') %></th>
        </tr>
      </thead>
      <tbody>

        <% @tasks.each do |t|
          priority_class_mod = ''
          if t.priority == 2
            priority_class_mod = ' error'
          elsif t.priority == 3
            priority_class_mod = ' error bold'
          elsif t.priority == 0
            priority_class_mod = ' info'
          end %>
          <tr class="line <%= priority_class_mod %>">
            <td class="text-center">
              <% badge_statut_class = nil
              if t.statut == "A faire"
                badge_statut_class = ' badge-important'
              elsif t.statut == "En cours"
                badge_statut_class = ' badge-warning'
              elsif t.statut == "Terminé"
                badge_statut_class = ' badge-success'
              elsif t.statut == "Annulé"
                badge_statut_class = ' badge-inverse'
              end %>
              <div class="badge-container">
                <span class="badge<%= badge_statut_class unless badge_statut_class.nil? %>">
				<% if t.statut == "A faire" %>
					<%= t('app.status.todo') %>
				<% elsif t.statut == "En cours" %>
					<%= t('app.status.in_progress') %>
				<% elsif t.statut == "Terminé" %>
					<%= t('app.status.completed') %>
				<% elsif t.statut == "Annulé" %>
					<%= t('app.status.canceled') %>
				<% end %>

				</span>
              </div>
            </td>

			<% if t.priority == 3 %>
				<td class="text-center"><%= t('app.priority.urgent') %></td>
            <% elsif t.priority == 2 %>
				<td class="text-center"><%= t('app.priority.high') %></td>
            <% elsif t.priority == 1 %>
				<td class="text-center"><%= t('app.priority.normal') %></td>
            <% elsif t.priority == 0 %>
				<td class="text-center"><%= t('app.priority.low') %></td>
            <% end %>

			<td class="text-center"><% if !t.account.nil? %><%= link_to t.account.company, account_events_path(t.account), { :title => "#{t('app.model.Event')}".html_safe + " : " + t.account.company, :class => 'ellipse' } %><% else %>-<% end %></td>
            <% if !t.title.nil? then ellipse = t.title.length > 45 ? '...' : '' end %>
              <td class="text-center"><span><%= link_to (!t.title.blank?() ? t.title[0..45] + ellipse : "Pas de sujet"), edit_task_path(t), :title => "#{t('app.actions.edit')} #{t('app.default.define_article_female')} #{t('app.model.Task')}".html_safe %></span></td>
              <% if !t.contact.nil? %>
                <td class="text-center"><%= link_to t.contact.full_name, edit_contact_path(t.contact),{:title => "#{t('app.actions.edit')} #{t('app.default.define_article_male')} #{t('app.model.Contact')}".html_safe } %></td>
              <% else %>
                <td class="text-center">-</td>
              <% end %>
              <% if !t.term.blank? %>
                <% if t.term.to_date == Date.today %>
                  <td class="text-center"><span class="label label-info"><%= t.term.split('/').reverse!.join('/') %></span></td>
                <% else %>
                  <% if t.term.to_date < Date.today %>
                    <td class="text-center"><span class="label label-important"><%= t.term.split('/').reverse!.join('/') %></span></td>
                  <% else %>
                    <td class="text-center"><%= t.term.split('/').reverse!.join('/') %></td>
                  <% end %>
                <% end %>
              <% else %>
                <td class="text-center">-</td>
              <% end %>
              <td class="text-center">
                <%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_task_path(t) ,{:title => "#{t('app.actions.edit')} #{t('app.default.define_article_female')} #{t('app.model.Task')}".html_safe }  %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td colspan="9" class="text-center"><%= link_to"#{t('title.show_all_task')}".html_safe, tasks_path, :title => "#{t('title.show_all_task')}".html_safe %></td>
          </tr>

        </tbody>
      </table>
      <hr>
    <% end %>
    <!-- END TASK -->


    <!-- NEW EVENTS-->
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th colspan="9">
            <h2 class="pull-left"><%= '<i class="fa fa-comment"></i>'.html_safe %> <%= t('title.latest_event') %> </h2>
          </th>
        </tr>
        <tr>
          <th class="text-center"><%= t('app.model.Account') %></th>
		  <th class="text-center"><%= t('app.fields.collegue') %></th>
		  <th class="text-center"><%= t('app.model.Contact') %></th>
		  <th class="text-center"><%= t('app.fields.detail').pluralize %></th>
		  <th class="text-center"><%= t('app.model.date') %></th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |e| %>
          <tr>
            <td class="text-center"><% if !e.account.nil? %><strong><%= link_to e.account.company, account_events_path(e.account.id), { :title => "#{t('app.model.Event')}".html_safe + " : " + e.account.company, :class => 'ellipse' } %></strong> <% end %></td>
			<td class="text-center"><%= e.modified_by.blank?() ? e.author.full_name : e.editor.full_name %></td>
			<td class="text-center"><% if !e.contact.nil? %> <strong><%= " #{e.contact.full_name}" %></strong> <% else %> - <% end %></td>
			<td>
				<% if !e.task.nil? %>
					 <strong>Tâche :</strong>
				<% elsif !e.event_type.nil? %>
					 <strong><%= e.event_type.label %> :</strong>
				<% else %>
					 <strong>Action :</strong>
				<% end %>

			<% if !e.task.nil? %>
			<%= link_to e.task.title, edit_task_path(e.task.id), :title => "#{t('app.actions.edit')} #{t('app.default.define_article_female')} #{t('app.model.Task')}".html_safe %> <% if !e.task.notes.blank? %> : <%= truncate(e.task.notes, :length => 80) %><% end %>

			<% else %>
			<%= link_to truncate(e.notes, :length => 80), account_events_path(e.account.id), { :title => "#{t('app.model.Event')}".html_safe + " : " + e.account.company } %>
			<% end %>
			</td>
            <td class="text-center"><%= e.date_begin.to_s(:humanized) %> </td>
            </tr>

          <% end %>
          <tr>
            <td colspan="9" class="text-center"><%= link_to"#{t('title.show_all_event')}".html_safe, events_path, :title => "#{t('title.show_all_event')}".html_safe %></td>
		  </tr>
        </tbody>
      </table>
      <!-- END NEW EVENTS-->


      <!-- OPPORTUNITY-->
      <% if @opportunities.length > 0 %>
        <hr>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th colspan="9">
                <h2 class="pull-left"><%= '<i class="fa fa-briefcase"></i>'.html_safe %> <%= t('various.my') %> <%= t('app.model.Opportunity').pluralize %></h2>
                <%= link_to '<i class="fa fa-plus-circle fa-3x action-icon"></i>'.html_safe, new_opportunity_path ,{:title => "#{t('app.actions.create')} #{t('app.default.new_female')} #{t('app.model.Opportunity')}".html_safe, :class=>"pull-right", :style => 'display: inline-block'} %>
              </th>
            </tr>
            <tr>
              <th class="text-center"><%= t('app.fields.state') %></th>
              <th class="text-center"><%= t('app.model.Account') %></th>
              <th class="text-center"><%= t('app.fields.label') %></th>
              <th class="text-center"><%= t('app.model.Contact') %></th>
              <th class="text-center"><%= t('app.fields.estimate') %></th>
              <th class="text-center"><%= t('app.fields.profit_margin') %></th>
              <th class="text-center"><%= t('app.fields.term') %></th>
              <th class="text-center"><%= t('app.actions.Actions') %></th>
            </tr>
          </thead>
          <tbody>
            <% @opportunities.each do |o| %>
              <tr>
                <td class="text-center">
                  <% badge_statut_class = nil
                  if o.statut == "Détectée"
                    badge_statut_class = ' badge-important'
                  elsif o.statut == "En cours"
                    badge_statut_class = ' badge-warning'
                  end %>
                  <div class="badge-container">
                    <span class="badge<%= badge_statut_class unless badge_statut_class.nil? %>">

					<% if o.statut == "Détectée" %>
						<%= t('app.status.detected') %>
					<% elsif o.statut == "En cours" %>
						<%= t('app.status.in_progress') %>
					<% end %>
					</span>
                  </div>
                </td>
                <td class="text-center"><% if !o.account.nil? %><%= link_to o.account.company, account_events_path(o.account), { :title => "#{t('app.model.Event')}".html_safe + " : " + o.account.company, :class => 'ellipse' } %><% else %>-<% end %></td>
                <td class="text-center"><% if !o.name.blank? %><%= link_to o.name,  edit_opportunity_path(o), :title => "#{t('app.actions.edit')} #{t('app.model.Opportunity')}".html_safe %><% else %>-<% end %></td>
                <td class="text-center"><% if !o.contact.nil? %><%= link_to o.contact.full_name, edit_contact_path(o.contact) ,{:title => "#{t('app.actions.edit')} #{t('app.default.define_article_male')} #{t('app.model.Contact')}".html_safe }%><% else %>-<% end %></td>
                <td style="text-align :right;"><% if !o.amount.nil? %><%= number_to_currency(o.amount, :locale => :fr)  %> <strong> HT </strong></td><% else %>-<% end %></td>
              <td style="text-align :right;"><% if !o.profit.nil? %><%= number_to_currency(o.profit, :locale => :fr)  %> <strong> HT </strong><% else %>-<% end %></td>
              <% if !o.term.blank? %>
                <% if o.term.to_date == Date.today %>
                  <td class="text-center"><span class="label label-info"><%= o.term.strftime("%d/%m/%y") %></span></td>
                <% else %>
                  <% if o.term.to_date < Date.today %>
                    <td class="text-center"><span class="label label-important"><%= o.term.strftime("%d/%m/%y") %></span></td>
                  <% else %>
                    <td class="text-center"><%= o.term.strftime("%d/%m/%y") %></td>
                  <% end %>
                <% end %>
              <% else %>
                <td class="text-center">-</td>
              <% end %>
              <td class="text-center">
                <%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_opportunity_path(o) ,{:title => "#{t('app.actions.edit')} #{t('app.model.Opportunity')}".html_safe}  %>
              </td>
            </tr>
          <% end %>
          <tr>
			<td colspan="9" class="text-center"><%= link_to"#{t('title.show_all_opportunity')}".html_safe, opportunities_path, :title => "#{t('title.show_all_opportunity')}".html_safe  %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <!-- END OPPORTUNITY -->

    <!-- QUOTATION-->
    <% if @quotations.length > 0 %>
      <hr>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th colspan="9">
              <h2 class="pull-left"><%= '<i class="fa fa-file-text"></i>'.html_safe %> <%= t('various.my') %> <%= t('app.model.Quotation').pluralize %></h2>
              <%= link_to '<i class="fa fa-plus-circle fa-3x action-icon"></i>'.html_safe, new_quotation_path ,{:title => "#{t('app.actions.create')} #{t('app.default.new_male')} #{t('app.model.Quotation')}".html_safe, :class=>"pull-right", :style => 'display: inline-block'} %>

            </th>
          </tr>
          <tr>
            <th class="text-center"><%= t('app.fields.state') %></th>
            <th class="text-center"><%= t('app.model.Account') %></th>
            <th class="text-center"><%= t('app.fields.label') %></th>
            <th class="text-center"><%= t('app.model.Contact') %></th>
            <th class="text-center"><%= t('app.fields.total_excluding_taxes') %></th>
            <th class="text-center"><%= t('app.model.date') %></th>
            <th class="text-center"><%= t('app.actions.Actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @quotations.each do |q| %>
            <tr>
              <td class="text-center">
                <% badge_statut_class = nil
                if q.statut == "Sauvegardé"
                  badge_statut_class = ' badge-important'
                elsif q.statut == "En cours"
                  badge_statut_class = ' badge-warning'
                end %>
                <div class="badge-container">
                <span class="badge<%= badge_statut_class unless badge_statut_class.nil? %>">

				<% if q.statut == "Sauvegardé" %>
					<%= t('app.status.save') %>
				<% elsif q.statut == "En cours" %>
					<%= t('app.status.in_progress') %>
				<% end %>

				</span>
                </div>
              </td>
              <td class="text-center"><% if !q.account.nil? %><%= link_to q.account.company, account_events_path(q.account),  { :title => "#{t('app.model.Event')}".html_safe + " : " + q.account.company, :class => 'ellipse' } %><% else %>-<% end %></td>
              <td class="text-center"><% if !q.label.blank? %><%= link_to q.label,  edit_quotation_path(q),{:title => "#{t('app.actions.edit')} #{t('app.default.define_article_male')} #{t('app.model.Quotation')}".html_safe } %><% else %>-<% end %></td>
              <td class="text-center"><% if !q.contact.nil? %><%= link_to q.contact.full_name, edit_contact_path(q.contact) ,{:title => "#{t('app.actions.edit')} #{t('app.default.define_article_male')} #{t('app.model.Contact')}".html_safe }%><% else %>-<% end %></td>
              <td style="text-align :right;"><% if !q.total_excl_tax.nil? %><%= number_to_currency(q.total_excl_tax, :locale => :fr)  %> <strong> HT </strong></td><% else %>-<% end %></td>
            <td class="text-center"><% if !q.date.nil? %><%=  q.date.strftime("%d/%m/%y") %><% else %>-<% end %></td>
            <td class="text-center">
              <%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_quotation_path(q) ,{:title => "#{t('app.actions.edit')} #{t('app.default.define_article_male')} #{t('app.model.Quotation')}".html_safe }  %>
              <%= link_to '<i class="fa fa-print fa-2x action-icon"></i>'.html_safe, quotation_path(q, :format => "pdf"),{:title => "#{t('app.actions.show')} #{t('app.default.define_article_male')} PDF".html_safe } %>
            </td>
          </tr>
        <% end %>
        <tr>
		  <td colspan="9" class="text-center"><%= link_to"#{t('title.show_all_quotation')}".html_safe, quotations_path, :title => "#{t('title.show_all_quotation')}".html_safe %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <!-- END QUOTATATION-->
</div>
