<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">

  <table class="table table-bordered table-striped">
   <thead> 
    <tr>
      <th class="text-center">Désignation</th>      
      <th class="text-center">Pourcentage d'avancement</th>
      <th class="text-center">Éditer</th>
    </tr>
   </thead>

    <tbody>
    <% @campaign_completed_stages.each do |campaign_completed_stage| %>
      <tr>
        <td class="text-center"><%= campaign_completed_stage.name %></td>        
        <td class="text-center"><%= campaign_completed_stage.completed_percentage%> %</td>        
        <td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_campaign_completed_stage_path(campaign_completed_stage),{:title => "Éditer le niveau d'avancement de la campagne"} %></td>   
      </tr>
    <% end %>
    </tbody>

  </table>

  <br />

  <%= paginate @campaign_completed_stages %> 

</div>