<div id="task_value" class="container-fluid">
  <div class="well">

      <legend>
	Filtres
      </legend>

      <%= form_tag(opportunities_path, method: :get) do %>
	  <div class="row row-fluid">
          
                <div class="">
                        <%= label_tag :statut, "Statut :", :class => "top" %>
                        <%= select_tag "by_statut", options_for_select(Opportunity::STATUTS, params[:by_statut]), { :include_blank => "Tous", :class =>"filter_statut" } %>
                </div>
                
                <%# Le typeahead et la mise à jour des contacts associés sont gérés par nav-search-bar.js %>
                <div class="">
                        <%= label_tag :by_account_company_like, "Compte :", :class => "top" %>
                        <%= text_field_tag "by_account_company_like",
                             params[:by_account_company_like],
                            { :class => "filter_tfield typeahead-account-search",
                              :data => { :provide => 'typeahead'},
                              :autocomplete=>"off" } %>
                </div>
		
		<div class="">
			<%= label_tag :account_origin, "Origine compte :", :class => "top"  %>
			<%= select_tag "account_origin",options_from_collection_for_select( Origin.all, :id, :name, params[:account_origin]), { :include_blank => "Toutes", :class =>"filter_statut" }   %>
		</div>		

		<div class="">
			<%= label_tag :account_tag, "Tag compte :", :class => "top"  %>
			<%= select_tag "account_tag",options_from_collection_for_select( Tag.all, :id, :name, params[:account_tag]), { :include_blank => "Tous", :class =>"filter_statut" }   %>
		</div>
		
		<div class="">
			<%= label_tag :account_activity, "Activité compte :", :class => "top"  %>
			<%= select_tag "account_activity", options_from_collection_for_select( Activity.all, :id, :name, params[:account_activity]), { :include_blank => "Toutes", :class =>"filter_statut" }  %>
		</div>		
		
		<div class="">
			<%= label_tag :by_user_id, "Collaborateur :", :class => "top"  %>
			<%= select_tag "by_user_id", options_from_collection_for_select(User.all_reals, :id, :full_name, params[:by_user_id]), { :prompt => "Tous", :class =>"filter_statut" } %>
		</div>		
		
		<div class="">
		  <%= label_tag :account_zip, "Code Postal compte :", :class => "top" %>
		  <%= text_field_tag 'account_zip', params[:account_zip], class: 'input-mini' %>
		</div>

	  <%= submit_tag "Filtrer", :class =>"btn "%>
      <% end %>
    </div>
  </div>
</div>    


