<div class="container-fluid" style= "background-color: #D8D8D8; margin-top: 0em; ">
  
  <%= form_for(:filter, :url => { :action => 'filter' } , :html => {:method => :get} ) do |f| %>
      
      <div class="span1">
        <h6>Statut : </h6><%= f.select :statut, Opportunity::STATUTS,{:include_blank => "Tous"} , :class =>"filter_statut"%>
      </div>
      
      <div class="span2">
        <h6>Compte : </h6><%= f.text_field :account , :class =>"filter_tfield", :data => { :provide => 'typeahead', :source => @autocomplete_accounts}, :autocomplete=>"off"%>
      </div>
      
      <div class="span2">
        <h6>Contact : </h6><%= f.text_field :contact , :class =>"filter_tfield", :data => { :provide => 'typeahead', :source => @autocomplete_contacts}, :autocomplete=>"off"%>
      </div>
    
      <div class="span2">
        <h6>Date Début : </h6><%= f.text_field :date_begin, :class =>"filter_date"%>
      </div>
      
      <div class="span2">
        <h6>Date Fin : </h6><%= f.text_field :date_end, :class =>"filter_date"%>
      </div>
      
      <div class="span2">
        <h6>Collaborateur : </h6><%= f.collection_select :user, User.order('email ASC').all, :id, :full_name, {:include_blank => "Tous"} , :class =>"filter_coll"%>
      </div>
      
      <div class="span1" style="margin-top: 18px;">
        <%= f.submit "Filtrer", :class =>"btn "%>
      </div>
    
  <% end %>
  
</div>
