<%# Récupération du des fonctions %>
<% content_for(:attachments_js) do %>
    <%= javascript_include_tag "attachments" %>
<% end %>

<% colon = t('app.fields.colon') %>
<%= form_for(@opportunity , :html => { :class => "well "}) do |f| %>
  <div class="row row-fluid">
		<div class="field full"> 
			<div class="span2"><%= f.label(:name, t('app.fields.label') + colon) %></div>
      <div><p><%= f.text_field :name, { :class => 'required' } %></p><span class="req"/></div>
		</div>	
	</div>
  <div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:term, t('app.fields.term') + colon) %></div>
			<div><p><%= f.text_field :term, { :value => (@opportunity.term.strftime('%d/%m/%Y') unless @opportunity.term.blank?) } %></p></div>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:description, t('app.fields.description') + colon) %></div>
			<%= f.text_area :description, :rows => "5", :style => 'width: 50%;' %>
		</div>
	</div>
  <div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= label_tag('account-search', t('app.model.Account') + colon) %></div>
			<div>
				<p>
					<%= text_field_tag(nil, (@opportunity.account.company unless @opportunity.account.nil?), { :placeholder => 'Rechercher', :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id' }) %>
					<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
					<span class="label label-info inline" id="task_notice" style="display: none; margin-left: 2em;">
					  <i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
					</span>
					<%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id' } %>
				</p>
			</div>
		</div>
	</div>
  <div id="nameContacts">
    <%= render :partial => 'contacts' %>
  </div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:user_id, t('app.fields.assigned') + colon) %></div>
			<p>
				<%= f.collection_select :user_id, User.all_reals, :id, :full_name, { :selected => (@opportunity.user.nil?() ? current_user.id : @opportunity.user.id) }, :class => 'assigned_to' %>
				<label for="opportunity_mail" class="checkbox right-field">
          <%= check_box_tag(:mail, :yes, false, { :id => 'opportunity_mail' }) %>
		Envoyer un Mail à ce collaborateur
				</label>
			</p>
	  </div>
  </div>
    <%# Affichage des pièces jointes si il y en a %>
    <% if !@opportunity.opportunity_attachments.blank? %>
        <div class="row row-fluid">
            
                <div class="span2"></div><%= pluralize(@opportunity.opportunity_attachments.length,'pièce-jointe', 'pièces-jointes') %> actuellement :
            
        </div>

	<table>
        <% @opportunity.opportunity_attachments.each do |attach| %>
                <div class="field full">
		<tr>
                    <td><div class="span2"></div></td>
			<td><%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + attach.attach_file_name , attach.attach.url, :target => '_blank' %></td>
			
			<td><%= link_to '<i class="icon-trash"></i>'.html_safe, attachment_path(attach.id, :type => "opportunity"), :confirm => 'Confirmer la suppression ?', :method => :delete, :title => "Supprimer" %></td>
		</tr>
                </div>
        <% end %>
	</table><br/>
    <% end %>

    <%#Affichage du champ d'ajout de pièce jointe %>
    <div class="row row-fluid">
	    <div class="field full">
          <div class="span2"><%= f.label :opportunity_attachments_attach, "Pièce-jointe : ", :class => 'top' %> </div>
          <div id="new_attachments">
            <%= f.file_field('opportunity-attachments_attach', name: "opportunity[opportunity_attachments_attributes][][attach]") %>
          </div>
          <input type="hidden" id="attachment_id" value="1">
	    </div>
    </div>

    <%#Affichage du bouton d'ajout de pièce-jointe %>
    <div class="row row-fluid">
	    <div class="field full">
		    <div class="span2"></div>
		    <input type="image" src="/assets/glyphicons/glyphicons_190_circle_plus.png" class="btn" title="Ajouter une pièce jointe" onClick="addFileField('opportunity'); return false;">
			
	    </div>
    </div>
    
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:statut ,t('app.fields.state') + colon) %></div>
			<p><%= f.select :statut, Opportunity::STATUTS %></p>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:remark, t('app.fields.remark')) %></div>
			<%= f.text_area :remark , :rows => "5", :style => 'width: 50%;' %>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:amount, t('app.fields.estimated_amount') + colon) %></div>
			<p><%= f.text_field(:amount, :value => (@opportunity.amount.blank?() ? '00.00' : @opportunity.amount)) %><span class="bold">&nbsp;€ <%= t('app.money.excl_tax') %></span></p>
		</div>
  </div>
	<div class="row row-fluid">
		<div class="field full">
      <div class="span2"><%= f.label(:profit, t('app.fields.estimated_profit') + colon) %></div>
			<p><%= f.text_field :profit , :value => (@opportunity.profit.blank?() ? '00.00' : @opportunity.profit) %><span class="bold">&nbsp;€ <%= t('app.money.excl_tax') %></span></p>
		</div>
  </div>
	<% if !@opportunity.id.nil? or !@opportunity.updated_by.nil? %>
	<div class="row row-fluid">
		<div class="field full">
			<% if !@opportunity.id.nil? %>
			<p><%= t('app.actions.created_by') %> <strong><%= @opportunity.author.full_name %></strong>, <%= t('app.at') %> <strong><%= @opportunity.created_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
		  <% end %>
		</div>
    <div class="field full">
			<% if !@opportunity.updated_by.nil? %>
			<p><%= t('app.actions.updated_by') %> <strong><%= @opportunity.editor.full_name %></strong>, <%= t('app.at') %> <strong><%= @opportunity.updated_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
			<% end %>
	  </div>
	</div>
  <% end %>
  <hr />
  <div class="row row-fluid">
	<%= if !@opportunity.id.nil? then f.submit 'Modifier cette Opportunité', :class =>"btn btn-primary",:id =>"opportunity_submit_form" else f.submit 'Créer une Opportunité', :class =>"btn btn-primary",:id =>"opportunity_submit_form" end %>
	<%= if !@opportunity.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), opportunity_path(@opportunity), :title => "Supprimer cette Opportunité", :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn trash", :method => :delete end %> 
 
  </div>
<% end %>
