<% colon = t('app.fields.colon') %>
<%= form_for(@opportunity , :html => { :class => "well "}) do |f| %>
  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>
      <ul>
      <% @opportunity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row row-fluid">
		<div class="field full"> 
			<div class="span2"><%= f.label(:name, t('app.fields.label') + colon) %></div>
			<div><p><%= f.text_field :name %></p></div>
		</div>	
	</div>
  <div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:term, t('app.fields.term') + colon) %></div>
			<div><p><%= f.text_field :term, { :value => (@opportunity.term.strftime('%d/%m/%Y') unless @opportunity.term.blank?) } %></p></div>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:description, t('app.fields.description') + colon) %></div>
			<div><p><%= f.text_area :description, :rows => "5" %></p></div>
		</div>
	</div>
  <div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= label_tag('account-search', t('app.model.Account') + colon) %></div>
			<div>
				<p>
					<%= text_field_tag(nil, (@opportunity.account.company unless @opportunity.account.nil?), { :placeholder => 'Rechercher', :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id' }) %>
					<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
					<span class="label label-info inline" id="task_notice" style="display: none; margin-left: 2em;">
					  <i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
					</span>
					<%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id' } %>
				</p>
			</div>
		</div>
	</div>
  <div id="nameContacts">
    <%= render :partial => 'contacts' %>
  </div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:user_id, t('app.fields.assigned') + colon) %></div>
			<p>
				<%= f.collection_select :user_id, @users, :id, :full_name, { :selected => (@opportunity.user.nil?() ? current_user.id : @opportunity.user.id) }, :class => 'assigned_to' %>
				<label for="opportunity_mail" class="checkbox right-field">
          <input type="checkbox" name="mail" id="opportunity_mail" value="yes" /><%= t('app.fields.emailToCollegue') %>
				</label>
			</p>
	  </div>
  </div>
  <% if @opportunity.attach.exists? %>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= content_tag(:p, t('app.fields.present_attach')) %></div>
		  <p><%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + @opportunity.attach_file_name, @opportunity.attach.url, :target => '_blank' %></p>
	  </div>
  </div>
  <% end %>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:attach, (@opportunity.attach.exists?() ? t('app.fields.update_attach') : t('app.fields.attach')) + colon) %></div>
			<%= f.file_field :attach %>
	  </div>
  </div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:statut ,t('app.fields.state') + colon) %></div>
			<p><%= f.select :statut, Opportunity::STATUTS %></p>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:remark, t('app.fields.remark')) %></div>
			<p><%= f.text_area :remark , :rows => "5" %></p>
		</div>
	</div>
	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><%= f.label(:amount, t('app.fields.estimated_amount') + colon) %></div>
			<p><%= f.text_field(:amount, :value => (@opportunity.amount.blank?() ? '00.00' : @opportunity.amount)) %><span class="bold">&nbsp;€ <%= t('app.money.excl_tax') %></span></p>
		</div>
  </div>
	<div class="row row-fluid">
		<div class="field full">
      <div class="span2"><%= f.label(:profit, t('app.fields.estimated_profit') + colon) %></div>
			<p><%= f.text_field :profit , :value => (@opportunity.profit.blank?() ? '00.00' : @opportunity.profit) %><span class="bold">&nbsp;€ <%= t('app.money.excl_tax') %></span></p>
		</div>
  </div>
	<% if !@opportunity.id.nil? or !@opportunity.updated_by.nil? %>
	<div class="row row-fluid">
		<div class="field full">
			<% if !@opportunity.id.nil? %>
			<p><%= t('app.actions.created_by') %> <strong><%= @opportunity.author.full_name %></strong>, <%= t('app.at') %> <strong><%= @opportunity.created_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
		  <% end %>
		</div>
    <div class="field full">
			<% if !@opportunity.updated_by.nil? %>
			<p><%= t('app.actions.updated_by') %> <strong><%= @opportunity.editor.full_name %></strong>, <%= t('app.at') %> <strong><%= @opportunity.updated_at.strftime("%d/%m/%y à %H:%M") %></strong>.</p>
			<% end %>
	  </div>
	</div>
  <% end %>
  <hr />
  <div class="row row-fluid">
	<%= if !@opportunity.id.nil? then f.submit 'Modifier cette Opportunité', :class =>"btn btn-primary",:id =>"opportunity_submit_form" else f.submit 'Créer une Opportunité', :class =>"btn btn-primary",:id =>"opportunity_submit_form" end %>
	<%= if !@opportunity.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), opportunity_path(@opportunity), :title => "Supprimer cette Opportunité", :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete end %> 
  </div>
<% end %>
