<%= form_for(@opportunity , :html => { :class => "well "}) do |f| %>
  <% if @opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:</h2>
      <ul>
      <% @opportunity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field"> 
    <div class="span2"> Libellé : </div>
    <p><%= f.text_field :name, { :class => 'required' } %></p>
  </div>
  <div class="field">
    <div class="span2"> Échéance :  </div>
	<p><%= f.text_field :term %></p>
  </div>  
  <div class="field">
	  <div class="span2">Description : </div>
	  <%= f.text_area :description, :rows => "5", :style=>'width: 30em;'%>
  </div>
  <div class="field">
<div class="span2"> Compte : </div>
    <% company = ""
	   if !@opportunity.account.nil?
	     company = @opportunity.account.company.html_safe
	   end %>
      <p>
        <input value="<%= company %>" id="account-search" type="search" autocomplete="off" />
		<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
		<span class="label label-info inline" id="task_notice" style="display: none; margin-left: 2em;">
          <i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
        </span>
      </p>
      <%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id', :include_blank => true } %>
  </div>
  <div class="field" id="nameContacts">
    <%= render :partial => 'contacts' %>
  </div>
  <div class="field">
    <div class="span2"> Affectée à : </div>
	  <p><%= f.collection_select :user_id, @users, :id, :full_name %>
		<label for="opportunity_mail" class="checkbox right-field">
          <input type="checkbox" name="mail" id="opportunity_mail" value="yes" />Envoyer un Mail à ce collaborateur
        </label>
	  </p>
  </div>
  <% if @opportunity.attach.exists? %> 
	<div class="field">
	  <div class="span2">Pièce jointe actuelle : </div>
	  <%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + @opportunity.attach_file_name, @opportunity.attach.url, :target => '_blank' %>
	</div>
	<div class="field">
	  <div class="span2">Modifier pièce jointe : </div>
	  <%= f.file_field :attach, :style=>'width: 20em;' %>
	</div>
	<% else %>
	<div class="field">
	  <div class="span2">Pièce jointe : </div>
	  <%= f.file_field :attach, :style=>'width: 20em;' %>
	</div>
  <% end %>
  <div class="field">
    <div class="span2"> Statut : </div>
	<%= f.select :statut, Opportunity::STATUTS %>
  </div>
  <div class="field">
    <div class="span2">Remarque : </div>
	<%= f.text_area :remark , :rows => "5", :style=>'width: 30em;'%>
  </div>
  <div class="field">
    <div class="span2"> Montant estimé :  </div>
    <% if @opportunity.amount.nil? %>
      <p><%= f.text_field :amount , :value => "00.00" , :local => :fr%><span class="bold">&nbsp;€ HT</span></p>
    <% else %>
      <p><%= f.text_field :amount , :local => :fr%><span class="bold">&nbsp;€ HT</span></p>
    <% end %>
    
  </div>
  <div class="field">
    <div class="span2"> Marge estimé :  </div>
    <% if @opportunity.profit.nil? %>
      <p><%= f.text_field :profit , :value => "00.00" , :local => :fr %><span class="bold">&nbsp;€ HT</span></p>
    <% else %>
      <p><%= f.text_field :profit , :local => :fr %><span class="bold">&nbsp;€ HT</span></p>
    <% end %>
  </div> 
  <div class="field">
  <% if !@opportunity.id.nil? %>
	  <div class="span9"> Créée par :
	    <%= @opportunity.author.full_name %>, le <%= @opportunity.created_at.strftime("%d/%m/%y à %H:%M") %>.
	  </div>
	  
	  <% if !@opportunity.updated_by.nil? %>
	  <div class="span9 no-padding"> Dernièrement modifiée par :
	    <%= @opportunity.editor.full_name %>, le <%= @opportunity.updated_at.strftime("%d/%m/%y à %H:%M") %>.
	  </div>
	  <% end %>
  <% end %>
  </div>
  <hr />
  <div class="row">
	<%= if !@opportunity.id.nil? then f.submit 'Modifier cette Opportunité', :class =>"btn btn-primary",:id =>"opportunity_submit_form" else f.submit 'Créer une Opportunité', :class =>"btn btn-primary",:id =>"opportunity_submit_form" end %>
	<%= if !@opportunity.id.nil? then link_to image_tag("glyphicons/glyphicons_016_bin.png"), @opportunity, :title => "Supprimer cette Opportunité", :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete end %> 
  </div>
</div>
<% end %>
