<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">Statut</th>
        <th class="text-center">Compte</th>
        <th class="text-center">Libellé</th>
        <th class="text-center">Contact</th>
        <th class="text-center">Estimation</th>
        <th class="text-center">Marge</th>
	<th class="text-center"><%= t('app.actions.created_at_female') %></th>
        <th class="text-center">Échéance</th>
        <th class="text-center">Collaborateur</th>
        <th class="text-center">Actions</th>   
      </tr>
    </thead>
    <tbody>
      <% @opportunities.each do |opportunity| %>
      <tr>  
		<td class="text-center">
          <% if opportunity.statut == "Détectée"%>
          <span class="badge badge-important">
          <% elsif opportunity.statut == "En cours"%>
          <span class="badge badge-warning">
          <% elsif opportunity.statut == "Gagnée"%>
          <span class="badge badge-success">
          <% elsif opportunity.statut == "Perdue"%>
          <span class="badge badge-inverse">
		  <% elsif opportunity.statut == "Abandonnée"%>
          <span class="badge badge-inverse">
		  <% elsif opportunity.statut == "Suspendue"%>
          <span class="badge badge-inverse">
          <% else %>
          -
          <% end %>
		  <%= opportunity.statut %>
		  </span>
        </td>
		<% if !opportunity.account.nil? %>
		<td class="text-center"><%= link_to opportunity.account.company , account_events_url(opportunity.account),{:title => "Afficher les évènements"} %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>         
		<% if !opportunity.name.blank? %>
		<td class="text-center"><%= link_to opportunity.name,  edit_opportunity_path(opportunity),{:title => "Éditer l'opportunité"} %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>         
		<% if !opportunity.contact.nil? %>
		<td class="text-center"><%= link_to opportunity.contact.full_name, edit_contact_path(opportunity.contact) ,{:title => "Éditer le contact"} %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>       
		<% if !opportunity.amount.nil? %>
		<td style="text-align :right;"><%= number_to_currency(opportunity.amount, :locale => :fr)  %> <strong> HT </strong></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>
		<% if !opportunity.profit.nil? %>
		<td style="text-align :right;"><%= number_to_currency(opportunity.profit, :locale => :fr)  %> <strong> HT </strong></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>
              <%# Récupération de la date de création %>
		    <% if !opportunity.created_at.nil? %>
		      <td class="text-center"><%= opportunity.created_at.strftime("%d/%m/%y à %H:%M") %></td>
		    <% else %>
              <td class="text-center">-</td>
                <% end %>
		<% if !opportunity.term.blank? %>
			<% if opportunity.term.to_date == Date.today %>
				<td class="text-center"><span class="label label-info"><%= opportunity.term.strftime("%d/%m/%y") %></span></td>
			<% else %>
				<% if opportunity.term.to_date < Date.today %>
					<td class="text-center"><span class="label label-important"><%= opportunity.term.strftime("%d/%m/%y") %></span></td>
				<% else %>
					<td class="text-center"><%= opportunity.term.strftime("%d/%m/%y") %></td>
				<% end %>
			<% end %>
		<% else %>
			<td class="text-center">-</td>
		<% end %>
		<% if !opportunity.user.nil? %>
		<td class="text-center"><%= opportunity.user.full_name %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>
		<td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_opportunity_path(opportunity),{:title => "Éditer l'opportunité"}  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @opportunities %>

  <div class="page-header pull-right text-right">
    <h4> Montant total estimé : <%= number_to_currency(@total_amount, :locale => :fr) %>  HT</h4><br />
    <h4> Marge totale estimée : <%= number_to_currency(@total_profit, :locale => :fr) %>  HT</h4> 
  </div>
</div>
