<%= render 'filter', :locals => { :filter => @filter }%>

<%= render 'title', :locals => { :title => @title }%>


<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th><center>#</center></th>
        <th><center>Statut</center></th>
        <th><center>Compte</center></th>
        <th><center>Libellé</center></th>
        <th><center>Contact</center></th>
        <th><center>Estimation</center></th>
        <th><center>Marge</center></th>
        <th><center>Échéance</center></th>
        <th><center>Collaborateur</center></th>
        <th><center>Afficher</center></th>
      </tr>
    </thead>
    
    <tbody>
      <% @opportunities.each do |opportunity| %>
      <tr>
		<% if !opportunity.id.nil? %>
			<% then %>
				<td><center><%= opportunity.id %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>       
        
		<td><center>
          <% if opportunity.statut == "Détectée"%>
            <span class="badge badge-important">
          <% elsif opportunity.statut == "En cours"%>
            <span class="badge badge-warning">
          <% elsif opportunity.statut == "Gagnée"%>
            <span class="badge badge-success">
          <% elsif opportunity.statut == "Perdue"%>
            <span class="badge badge-inverse">
          <% else %>
            -
          <% end %>
          <%= opportunity.statut %></span>
        </center></td>

		<% if !opportunity.account.nil? %>
			<% then %>
				<td><center><%= link_to opportunity.account.company , account_events_url(opportunity.account),{:title => "Afficher les évènements"} %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>         
		
		<% if !opportunity.name.blank? %>
			<% then %>
				<td><center><%= link_to opportunity.name, opportunity,{:title => "Afficher l'opportunité"} %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>         
		
		<% if !opportunity.contact.nil? %>
			<% then %>
				<td><center><%= link_to opportunity.contact.surname, opportunity.contact ,{:title => "Afficher le contact"} %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>       
		
		<% if !opportunity.amount.nil? %>
			<% then %>
				<td style="text-align :right;"><%= number_to_currency(opportunity.amount, :locale => :fr)  %> <strong> HT </strong></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>
        
		<% if !opportunity.profit.nil? %>
			<% then %>
				<td style="text-align :right;"><%= number_to_currency(opportunity.profit, :locale => :fr)  %> <strong> HT </strong></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>
	
		<% if !opportunity.term.nil? %>
			<% then %>
				<td><center><%=  opportunity.term.strftime("%d/%m/%y") %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>
		
		<% if !opportunity.user.nil? %>
			<% then %>
				<td><center><%= opportunity.user.full_name %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>		
      
        
		<td><center><%= link_to image_tag("glyphicons/glyphicons_350_visual.png"), opportunity_path(opportunity),{:title => "Afficher l'opportunité", :class =>"btn"}  %></center></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <br />
  
  <%= paginate @opportunities %>
  
  <div class="page-header pull-right" style="text-align: right;">
    <h4> Montant total estimé : <%=number_to_currency(@total_amount, :locale => :fr) %>  HT</h4> <br /> 
    <h4> Marge totale estimée : <%=number_to_currency(@total_profit, :locale => :fr) %>  HT</h4> 
  </div>


</div>
