<%= render 'title', :locals => { :title => @title }%>

<!-- FILTER -->
  <div class="container-fluid">
    <div class="field">
      <label class="checkbox">
        <%= check_box_tag :generate, "yes" %>
        Filtrer les Opportunités
      </label>
    </div>
  </div>
  

<div id="task_value" class="container-fluid" style= "display: none;">
  <%= form_for(:filter, :url => { :action => 'filter' } , :html => {:method => :get} ) do |f| %>
      <div class="row row-fluid">
		<div class="">
			<%= f.label :statut, "Statut :", :class => "top" %>
      <%= f.select :statut, Opportunity::STATUTS,{ :include_blank => "Tous", :selected => @statut_filter } , :class =>"filter_statut"%>
		</div>
    <%# Le typeahead et la recherche automatique des contacts associés sont gérés par nav-search-bar.js %>
    <div class="">
      <%= f.label :filter_priority, "Compte :", :class => "top" %>
      <%= f.text_field :account, :class =>"filter_tfield typeahead-account-search", :data => { :provide => 'typeahead'}, :autocomplete=>"off"%>
    </div>
    <div class="">
      <%= f.label :user_email, "Contact :", :class => "top" %>
      <select id="contact_id" name="filter[contact_id]">
        <option></option>
      </select>
    </div>
		<div class="">
			<%= f.label :user_email, "Date Début :", :class => "top" %>
      <%= f.text_field :date_begin, :value => @date_begin_filter, :class =>"filter_date"%>
		</div>
		<div class="">
			<%= f.label :user_email, "Date Fin :", :class => "top" %>
      <%= f.text_field :date_end, :value => @date_end_filter, :class =>"filter_date"%>
		</div>
		<div class="">
			<%= f.label :user_email, "Collaborateur :", :class => "top" %>
      <%= f.collection_select :user_id, User.all_reals, :id, :full_name, {:include_blank => "Tous", :selected => @user_id_filter } , :class =>"filter_statut"%>
		</div>
		<div>
        <%= f.submit "Filtrer", :class =>"btn "%>
		</div>
	  </div>
   <% end %>
</div>  
<!-- END FILTER -->

<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Statut</th>
        <th class="text-center">Compte</th>
        <th class="text-center">Libellé</th>
        <th class="text-center">Contact</th>
        <th class="text-center">Estimation</th>
        <th class="text-center">Marge</th>
        <th class="text-center">Échéance</th>
        <th class="text-center">Collaborateur</th>
        <th class="text-center">Éditer</th>   
      </tr>
    </thead>
    <tbody>
      <% @opportunities.each do |opportunity| %>
      <tr>
		<% if !opportunity.id.nil? %>
		<td class="text-center"><%= opportunity.id %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>       
		<td class="text-center">
          <% if opportunity.statut == "Détectée"%>
          <span class="badge badge-important">
          <% elsif opportunity.statut == "En cours"%>
          <span class="badge badge-warning">
          <% elsif opportunity.statut == "Gagnée"%>
          <span class="badge badge-success">
          <% elsif opportunity.statut == "Perdue"%>
          <span class="badge badge-inverse">
          <% else %>
          -
          <% end %>
		  <%= opportunity.statut %>
		  </span>
        </td>
		<% if !opportunity.account.nil? %>
		<td class="text-center"><%= link_to opportunity.account.company , account_events_url(opportunity.account),{:title => "Afficher les évènements"} %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>         
		<% if !opportunity.name.blank? %>
		<td class="text-center"><%= link_to opportunity.name,  edit_opportunity_path(opportunity),{:title => "Éditer l'opportunité"} %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>         
		<% if !opportunity.contact.nil? %>
		<td class="text-center"><%= link_to opportunity.contact.full_name, edit_contact_path(opportunity.contact) ,{:title => "Éditer le contact"} %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>       
		<% if !opportunity.amount.nil? %>
		<td style="text-align :right;"><%= number_to_currency(opportunity.amount, :locale => :fr)  %> <strong> HT </strong></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>
		<% if !opportunity.profit.nil? %>
		<td style="text-align :right;"><%= number_to_currency(opportunity.profit, :locale => :fr)  %> <strong> HT </strong></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>
		<% if !opportunity.term.blank? %>
			<% if opportunity.term.to_date == Date.today %>
				<td class="text-center"><span class="label label-info"><%= opportunity.term.strftime("%d/%m/%y") %></span></td>
			<% else %>
				<% if opportunity.term.to_date < Date.today %>
					<td class="text-center"><span class="label label-important"><%= opportunity.term.strftime("%d/%m/%y") %></span></td>
				<% else %>
					<td class="text-center"><%= opportunity.term.strftime("%d/%m/%y") %></td>
				<% end %>
			<% end %>
		<% else %>
			<td class="text-center">-</td>
		<% end %>
		<% if !opportunity.user.nil? %>
		<td class="text-center"><%= opportunity.user.full_name %></td>
		<% else %>
		<td class="text-center">-</td>
		<% end %>
		<td class="text-center"><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_opportunity_path(opportunity),{:title => "Éditer l'opportunité", :class =>"btn"}  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @opportunities %>

  <div class="page-header pull-right text-right">
    <h4> Montant total estimé : <%= number_to_currency(@total_amount, :locale => :fr) %>  HT</h4><br />
    <h4> Marge totale estimée : <%= number_to_currency(@total_profit, :locale => :fr) %>  HT</h4> 
  </div>
</div>
