<% colon = t('app.fields.colon') %>
<%= form_for(@email, :url => {:action => "create" }, :html => {:class => "nifty_form"}) do |f| %>

		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Contact", "Contact" + colon) %></div>
				<p><%= f.text_field :to , :required => 'required'%><span class="req" /></p>
			</div>
		</div>
  

<div class="row row-fluid">
  <div class="field full">
    <div class="span2"><%= f.label('account-search', t('app.model.Account') + t('app.fields.colon')) %></div>
    <% company = ""%>
		<p>
			<%= text_field_tag(nil, company, { :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id', :placeholder => 'Rechercher' }) %>
			<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
		</p>
		<%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id', :required => 'required' } %><span class="req" />
  </div>
</div>

		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Objet", "Objet" + colon) %></div>
				<p><%= f.text_field(:object, {:style => 'width: 50%;' } ) %><span class="req" /></p>
			</div>
		</div>

		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Contenu", "Contenu" + colon) %></div>
				<%= f.text_area :content, :rows => "5", :style => 'width: 50%;', :required => 'required' %><span class="req" />
			</div>
		</div>
  
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Pièce jointe", "Pièce jointe" + colon) %></div>
				<p><%= f.text_field :attach_file_name %></p>
			</div>
		</div>
  
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Date", "Date" + colon) %></div>
				<p><%= f.text_field :send_at,  :required => 'required' %><span class="req" /></p>
			</div>
		</div>

  <%= if !@email.id.nil? then f.submit "Modifier l'email", :class =>"btn btn-primary" end %>

<% end %>

