<%= form_for(@email, :url => {:action => "update" }, :html => {:class => "nifty_form"}) do |f| %>
  
<%#Affichage du champ compte %>
<div class="row row-fluid">
  <div class="field full">
    <div class="span2">
	<%= f.label('account-search', t('app.model.Account') + t('app.fields.colon')) %></div>
    <% company = nil
	if (!@email.contact_id.nil?)
	    contact = Contact.find(@email.contact_id)
	    if (!contact.account_id.nil?)
		    company = Account.find(contact.account_id)
		end
	end %>
	<% if company.nil? %>
		<%= text_field_tag(nil, company, { :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id', :placeholder => 'Rechercher' }) %>
	<% else %>
		<%= text_field_tag(nil, company.company, { :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id', :placeholder => 'Rechercher' }) %>
	<% end %>
		<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
    </div>
</div>

<%#Affichage du champ contact %>
<div class="row row-fluid">
	<div class="field full">
		<div class="span2">
			Contact :
		</div>
		<div class="field">
        	<% if !company.nil? %>
          	<%= collection_select :email, :contact_id, Contact.where(:account_id => company.id).order(:surname), :id, :full_name, {:include_blank => true }, { :id => 'contact_id' } %>
          <%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
        <% else %>
          <%= collection_select :email, :contact_id, Contact.where(:account_id => 0), :id, :full_name, {:include_blank => true}, { :id => 'contact_id' } %>
          <%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
        <% end %>
		</div>
	</div>
</div>

<%#Affichage du champ objet %>
<div class="row row-fluid">
	<div class="field full">
		<div class="span2">
			Objet :
		</div>
		<%= f.text_field :object %><span class="req"/>
	</div>
</div>

<%#Affichage du champ contenu %>
<div class="row row-fluid">
	<div class="field full">
		<div class="span2">
			Contenu :
		</div>
		<%= f.text_area :content, :rows => "5", :style => 'width: 50%;', :required => 'required' %><span class="req" />
	</div>
</div>

<%# Affichage des pièces jointes si il y en a %>
<% if !@email.email_attachments.blank? %>
    <div class="row row-fluid">
        <div class="field full">
            <div class="span2"></div><%= pluralize(@email.email_attachments.length,'pièce-jointe', 'pièces-jointes') %> actuellement :
        </div>
    </div>
    <% @email.email_attachments.each do |attach| %>
        <div class="row row-fluid">
            <div class="field full">
                <div class="span2"></div><%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + attach.attach_file_name , attach.attach.url, :target => '_blank' %> <strong>|</strong>
<%= link_to " Supprimer ", attachment_path(attach.id, :type => "email"), :confirm => 'Confirmer la suppression ?', :method => :delete %>
            </div>
        </div>
    <% end %>

<% end %>

<%#Affichage du champ d'ajout de pièce jointe %>
<div class="row row-fluid">
	<div class="field full">
      <div class="span2"><%= f.label :email_attachments_attach, "Pièce-jointe : ", :class => 'top' %> </div>
      <%= f.file_field('email-attachments_attach', multiple: true, name: "email[email_attachments_attributes][][attach]") %>
	</div>
</div>

<%#Affichage du champ date %>
<div class="row row-fluid">
	
	<div class="span2" style="text-align: right; padding-right: 10px;">
		Date :  
	</div>
		<strong>
		<%# Affichage de la date complète en gras, non modifiable %>
			<%= @email.send_at.strftime("%d/%m/%Y à %H:%M") %>
		</strong>
</div>
<%= f.hidden_field :id %>
<div class="row row-fluid">
<%= if !@email.id.nil? then f.submit "Modifier l'email", :class =>"btn btn-primary" end %>  <%= link_to "Annuler modifications", notifications_url ,{:title => "Retour aux notifications", :class=>"btn btn-danger", :style=>"line-height: 18px"} %>
</div>
<% end %>
