<%= form_for(@email, :url => {:action => "update" }, :html => {:class => "nifty_form"}) do |f| %>
  
<%#Affichage du champ compte %>
<div class="row row-fluid">
  <div class="field full">
    <div class="span2">
	<%= f.label('account-search', t('app.model.Account') + t('app.fields.colon')) %></div>
    <% company = nil
	if !@email.account_id.nil?
		company = Account.find(@email.account_id)
	end %>
	<% if company.nil? %>
		<%= text_field_tag(nil, company, { :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id', :placeholder => 'Rechercher' }) %>
	<% else %>
		<%= text_field_tag(nil, company.company, { :class => 'typeahead-account-search', :type => 'search', :autocomplete => 'off', 'data-field' => 'account_id', :placeholder => 'Rechercher' }) %>
	<% end %>
		<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
		<%= f.text_field :account_id, { :style => 'display: none; visible: none;', :id => 'account_id', :required => 'required' } %><span class="req" />
  </div>
</div>

<%#Affichage du champ contact %>
<div class="row row-fluid">
	<div class="field full">
		<div class="span2">
			Contact :
		</div>
		<div class="field">
        	<% if !company.nil? %>
          	<%= collection_select :email, :contact_id, Contact.where(:account_id => company.id).order(:surname), :id, :full_name, {:include_blank => true }, { :id => 'contact_id' } %>
          <%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
        <% else %>
          <%= collection_select :email, :contact_id, Contact.where(:account_id => 0), :id, :full_name, {:include_blank => true}, { :id => 'contact_id' } %>
          <%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
        <% end %>
		</div>
	</div>
</div>

<%#Affichage du champ objet %>
<div class="row row-fluid">
	<div class="field full">
		<div class="span2">
			Objet :
		</div>
		<%= f.text_field :object %><span class="req"/>
	</div>
</div>

<%#Affichage du champ contenu %>
<div class="row row-fluid">
	<div class="field full">
		<div class="span2">
			Contenu :
		</div>
		<%= f.text_area :content, :rows => "5", :style => 'width: 50%;', :required => 'required' %><span class="req" />
	</div>
</div>

<%# Affichage d'une pièce jointe si il y en a une %>
<% if @email.attach.exists? %>
  <div class="row row-fluid">
		<div class="field full">
			 <div class="span2">Pièce jointe actuelle : </div>
			<%= link_to image_tag('glyphicons/glyphicons_062_attach.png') + ' ' + @email.attach_file_name , @email.attach.url, :target => '_blank' %>
		</div>
  </div>
<% end %>

<%#Affichage du champ pièce jointe %>
<div class="row row-fluid">
	<div class="field full">
      <div class="span2"><%= f.label :attach, "Pièce-jointe : ", :class => 'top' %> </div>
      <%= f.file_field :attach %>
	</div>
</div>

<%#Affichage du champ date %>
<div class="row row-fluid">
	
	<div class="span2" style="text-align: right; padding-right: 10px;">
		Date :  
	</div>
		<strong>
		<%# Affichage de la date complète en gras, non modifiable %>
			<%= @email.send_at.strftime("%d/%m/%Y à %H:%M") %>
		</strong>
</div>
<%= f.hidden_field :id %>
<div class="row row-fluid">
<%= if !@email.id.nil? then f.submit "Modifier l'email", :class =>"btn btn-primary" end %>
</div>
<% end %>
