<% colon = t('app.fields.colon') %>
<%= form_for(@email, :url => {:action => "create" }, :html => {:class => "nifty_form"}) do |f| %>

		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Contact", "Contact" + colon) %></div>
				<p><%= f.text_field :to %></p>
			</div>
		</div>
  

	<div class="row row-fluid">
		<div class="field full">
			<div class="span2"><label for="account-search"><%= t('app.model.Account') + colon %></label></div>
				<p>
					<%= text_field_tag(nil, (@task.account.nil? ? '' : @task.account.company),{:class => 'typeahead-account-search', :type => 'search', :autocomplete => :off, 'data-field' => 'account_id', :placeholder => 'Rechercher', :id => 'account_search_field'}) %>
					<%= image_tag('/assets/icons/loading.gif', :alt => 'Please wait...', :class => 'loading hidden') %>
					<span class="label label-info" id="task_notice"  style="display: none; margin-left: 2em;">
							<i class="icon-warning-sign icon-white"></i> Un événement sera créé sur le compte correspondant
					</span>
				</p>
				<%= f.text_field :account_id, { :style => 'display: none; visible: hidden;', :id => 'account_id' } %>
		</div>
	</div>

  
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Objet", "Objet" + colon) %></div>
				<p><%= f.text_field :object %></p>
			</div>
		</div>

		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Contenu", "Contenu" + colon) %></div>
				<p><%= f.text_area :content %></p>
			</div>
		</div>
  
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Pièce jointe", "Pièce jointe" + colon) %></div>
				<p><%= f.text_field :attach_file_name %></p>
			</div>
		</div>
  
		<div class="row row-fluid">
			<div class="field full">
				<div class="span2"><%= f.label("Date", "Date" + colon) %></div>
				<p><%= f.text_field :send_at %></p>
			</div>
		</div>

  <center><%= f.submit "Modifier" %></center>

<% end %>

