<%= render 'title', :locals => { :title => @title }%>

<div class="container-fluid">

<% if @emails.length >= 1 %>

  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
			<th class="text-center">#</th>	  
			<th class="text-center">Contact</th>
			<th class="text-center">Compte</th>
			<th class="text-center">Objet</th>
			<th class="text-center">Aperçu du contenu</th>
			<th class="text-center">Pièce jointe</th>
			<th class="text-center">Date</th>
			<th class="text-center">Action</th>
    </tr>
    </thead>
<tbody>
        <% @emails.each do |email| %> 

	            <%# Si l'email est valide, la ligne sera verte %>
				<% if email.check %>
					<% attr = ' class="success"'.html_safe %>

				<%# Si le mail n'est valide que par liens entre les tables, la ligne est orange (n'apparait normalement pas) %>
				<% elsif Contact.where(:email => email.to).count == 1 %>
					<% contact = Contact.find_by_email(email.to) %>
					<% if !contact.account_id.blank? %>
						<% attr = ' class="warning"'.html_safe %>

					<%# Dans le cas ou la ligne n'a pas besoin d'être colorée, la classe est vide %>
					<% else %>
						<% attr = ''.html_safe %>
					<% end %>

				<%# Classe vide pour aucune coloration %>
				<% else %>
					<% attr = ''.html_safe %>
				<% end %>

				<tr<%= attr %>>

	            <%# Récupération de l'ID de l'email %>
				<td class="text-center">
				    <% if !email.id.blank? %>
					    <%= email.id %>
				    <% else %>
					    -
				    <% end %>
				</td>

	            <%# Récupération du destinataire de l'email %>
				<td class="text-center">
				
				<%# Si on a un contact_id %>
				<% if !email.contact_id.blank? %>
					<%# Si le contact correspondant au 'contact_id' existe dans la base de données %>
					<% if !(Contact.where(:id => email.contact_id).count == 0) %>			
						<% contact = Contact.find(email.contact_id) %>
						<%# Si le contact trouvé a un email %>
						<% if !contact.email.blank? %>
						    <% puts "email" %>
							<%= link_to contact.email, edit_contact_path(email.contact_id), {:title => "Modifier le contact", :color =>"white"}%><% contact = Contact.find_by_email(email.to) %>
					
						<%# Sinon s'il a un nom %>
						<% elsif !contact.full_name.blank? %>
						    <%= puts contact.full_name %>
							<%= link_to contact.full_name, edit_contact_path(email.contact_id), {:title => "Modifier le contact", :color =>"white"}%>
						<%# Dans le cas ou il n'a rien %>
						<% else %>
							-
						<% end %>
					<% end %>

					

				<%# Si on a pas de contact_id %>
				<% else %>
				    <% if !email.account_id.blank? %>
				        -
					<% elsif Contact.where(:email => email.to).count == 1 %>
						<%= link_to email.to, edit_contact_path(Contact.find_by_email(email.to)), {:title => "Modifier le contact", :color =>"white"} %>
					<% elsif !email.to.blank? %>
						<%= link_to email.to, new_contact_path(:email => email.to), {:title => "Créer le contact", :class => "badge badge-important", :style => 'font-weight: bold'} %>
					<% else %>
						-
					<% end %>
				<% end %>
				</td>
	
	            <%# Récupération du compte du contact %>
				<td class="text-center">

				<%# Si il y a un contact_id %>
				<% if !email.contact_id.blank? %>
					<% contact = Contact.find(email.contact_id) %>
					<% if !contact.account_id.blank? %>
						<% account = Account.find(contact.account_id) %>
						<%= account.company %>
					<% else %>
					    -
					<% end %>
	            
				<%# Si on a quand même un contact qui correspond au à l'adresse du champ "to" %>
				<% elsif Contact.where(:email => email.to).count == 1 %>
						<% contact = Contact.find_by_email(email.to) %>
				
						<%# Si le contact trouvé a un compte, on l'affiche dans un badge orange %>
						<% if !contact.account_id.blank? %>
							<% account = Account.find(contact.account_id) %>
							<%= account.company %>
				
						<%# S'il n'en a pas, on affiche "-" %>
						<% else %>
							-
						<% end %>
                <%# Si on a au moins le compte %>
                <% elsif !email.account_id.blank? %>
                    <% account = Account.find(email.account_id) %>
                    <%= account.company %>
				<%# Si on a rien, on affiche "-" %>

				<% else %>
						 -
				<% end %>
				</td>

	            <%# Récupération du sujet de l'email %>
				<td class="text-center">
				    <% if !email.object.blank? %>

					    <%= email.object %>
				    <% else %>
					    -
				    <% end %>
				</td>

				<%# Récupération du contenu de l'email %>
				<td class="text-center">
				    <% if !email.content.blank? %>
					    <% ellipse = email.content.length > 60 ? '...' : '' %>
					    <%= email.content[0..60] + ellipse %>
				    <% else %>
					    -
				    <% end %>
				    </td>
					
	<%# Récupération des pièces-jointes %>
	<td class="text-center">

		<%# Si il y a une/des pièces jointes, on les comptes %>		
		<% if !email.email_attachments.blank? %>
			<% count = 0 %>
                        <% email.email_attachments.each do |attachment| %>
                        	<% count += 1 %>
                    	<% end %>

			<%# S'il y en a plus d'une, on affiche le nombre (qui est un lien)%>
			<% if count > 1 %>
				<%= link_to [+count], edit_email_path(email.id), {:title => "Voir les pièces jointes"} %>

			<%# Sinon on affiche l'attachment %>			
			<% else %>
				<% email.email_attachments.each do |attachment| %>
					<%= link_to attachment.attach_file_name,  attachment.attach.url, :target => '_blank'%>
				<% end %>
			<% end %>

		<%# Si il n'y a pas d'attachment, on affiche un simple " - " %>		
		<% else %>
			-
		<% end %>
	</td>
		
	            <%# Récupération de la date d'envoi %>
				<td class="text-center">
				    <% if !email.send_at.blank? %>
					    <%= email.send_at.strftime("%d/%m à %H:%M") %>
				    <% else %>
					    -
				    <% end %>
				</td>

				<%# Affichage des boutons d'action %>
				<td class="text-center">
					<div class="btn-group">
					    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						    <%= image_tag('/assets/glyphicons/glyphicons_241_flash.png', :size => '12x12') %>
					    </a>

					    <ul class="dropdown-menu right" style="margin: 2px -140px 0px;">
						    <li><%= link_to "Editer", edit_email_path(email.id) %></li>
						    <li><%= link_to "Supprimer", email, :id => email.id, :confirm => 'Confirmer la suppression ?', :method => :delete %></li>

						    <%# Si l'email est "valide" (complet) alors on propose un bouton "traiter" qui lance la conversion %>
						    <% if email.check %>
							    <li class="divider" style="margin: 2px;"></li>
							    <li><%= link_to "Traiter", {:controller => 'emails', :action => 'convert', :email => email} %></li>
						    <% end %>

					    </ul>
					</div>
				</td>
			</tr>
			<% end %>

	        <%# Affichage du lien vers les autres emails %>
			<% if current_user.emails.length > 5 %>
				<tr>
					<td colspan="9" class="text-center">
						<%= link_to('Afficher tout mes emails', emails_path, :title => 'Mes emails') %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<center><h3>Pas de message à traiter</h3></center>
<% end %>
</div>
