<div class="container-fluid" style="margin-top: 1em;">
  
  <div class="row-fluid">
    
    <% if params.has_key?(:compte_id) %>
     
      <div class="span3" >
      <%= render "shared/infocompte" %>
      </div>   
     
      <div class="span9">
	
    <%  else %>
      
      <div class="span12">
	
    <% end %>

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#evenements" data-toggle="tab">Évènements</a>
      </li>
    <li><a href="#opportunites" data-toggle="tab">Opportunités</a></li>
    <li><a href="#produits" data-toggle="tab">Produits</a></li>
    <li><a href="#documents" data-toggle="tab">Documents</a></li>
    <li><a href="#relations" data-toggle="tab">Relations</a></li>
    <li><a href="#devis" data-toggle="tab">Devis</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="evenements"><%= render  "evenements" unless @compte.nil? %></div>
      <div class="tab-pane" id="opportunites"><%= render "opportunites" %></div>
      <div class="tab-pane" id="produits"><%= render "comptes/produits" %></div>
      <div class="tab-pane" id="documents"><%= render "documents" %></div>
      <div class="tab-pane" id="relations"><%= render "relations" %></div>
      <div class="tab-pane" id="devis"><%= render "devis" %></div>
    </div>

      </div>
  </div>
</div>
  
<div class="modal hide fade" id="compte_produit_modal" style="width: 900px; margin-left: -450px;">
    <%= render "comptes/modal_produits" %>
</div>

