<div class="container-fluid" style="margin-top: 1em;">
  
  <div class="row-fluid">
    
    <% if params.has_key?(:account_id) %>
     
      <div class="span3" >
      <%= render "shared/infoaccount" %>
      </div>   
     
      <div class="span9">
	
    <%  else %>
      
      <div class="span12">
	
    <% end %>

    <ul class="nav nav-tabs">
      <li<%=' class=active' if controller_name.eql? 'events' %>><%= link_to "<i class=\"fa fa-bookmark fa-fw\"></i> #{t('app.model.Event').pluralize}".html_safe, [@account, :events]%></li>
      <li<%=' class=active' if controller_name.eql? 'opportunities'%>><%= link_to "<i class=\"fa fa-briefcase fa-fw\"></i> #{t('app.controllers.Opportunity').pluralize}".html_safe, [@account, :opportunities] %></li>
      <li<%=' class=active' if controller_name.eql? 'tags'%>><%= link_to "<i class=\"fa fa-tags fa-fw\"></i> #{t('app.model.Tags')}".html_safe, [@account, :tags] %></li>
      <li<%=' class=active' if controller_name.eql? 'documents' %>><%= link_to "<i class=\"fa fa-file-text fa-fw\"></i> #{t('app.controllers.Document').pluralize}".html_safe, [@account, :documents]%></li>
      <li<%=' class=active' if controller_name.eql? 'relations' %>><%= link_to "<i class=\"fa fa-exchange fa-fw\"></i> #{t('app.controllers.Relations')}".html_safe, [@account, :relations]%></li>
      <li<%=' class=active' if controller_name.eql? 'quotations' %>><%= link_to "<i class=\"fa fa-eur fa-fw\"></i> #{t('app.model.Quotation')}".html_safe, [@account, :quotations]%></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id=<%= controller_name %>><%= yield %></div>
    </div>

      </div>
  </div>
</div>
  
<div class="modal hide fade" id="account_tag_modal" style="width: 900px; margin-left: -450px;">
    <%= render "accounts/modal_tags" %>
</div>

<% parent_layout "application" %>
