<%= form_for(@account, :html => { :class => "well "}) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this compte from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <form class="well form-inline">
  <div class="field">
	  <div class="span2"> Société : </div> <%= f.text_field :company ,{ :class => 'required'}  %><span class="req" />
  </div>

  <% if @account.persisted? %>
  <div class="field">
    <div class="span2"> Statut : </div> <%= f.select :active, options_for_select([["Actif", true], ["Inactif", false]], selected: @account.active) %>
  </div>
  <% end %>

  <div class="field">
    <div class="span2"> Adresse : </div> <%= f.text_field :adress1 %>
  </div>

  <div class="field">
    <div class="span2"> Adresse (suite) : </div> <%= f.text_field :adress2 %>
  </div>

  <div class="field">
    <div class="span2"> CP : </div> <%= f.text_field :zip %>
  </div>

  <div class="field">
   <div class="span2"> Ville : </div> <%= f.text_field :city %>
  </div>

  <div class="field">
   <div class="span2"> Pays : </div> <%= f.text_field :country %>
  </div>

  <div class="field">
   <div class="span2"> Tel : </div> <%= f.text_field :tel %>
  </div>

  <div class="field">
   <div class="span2"> Fax : </div> <%= f.text_field :fax %>
  </div>

  <div class="field">
   <div class="span2"> E-mail : </div> <%= f.text_field :email %>
  </div>

  <div class="field">
   <div class="span2"> Site web : </div> <%= f.text_field :web %>
  </div>

  <div class="field">
    <div class="span2"> Origine : </div> <%= f.collection_select :origin_id, Origin.order('name ASC').all, :id, :name, :include_blank => true %>
  </div>

  <div class="field">
    <div class="span2"> Activité : </div> <%= f.collection_select :activity_id, Activity.order('name ASC').all, :id, :name, :include_blank => true %>
  </div>

  <div class="field">
    <div class="span2"> Genre : </div> <%= f.select :category, Account::CATEGORIES%>
  </div>

  <div class="field">
    <div class="span2"> Tag(s) associé(s) : </div>
    <%= select_tag :display_account_tag, options_from_collection_for_select(@account.tags.order('name ASC').all, "id", "name"), {:size => 6, :multiple => true} %>
    <a id="account_add_button" class="btn btn-success btn-mini" data-toggle="modal" href="#account_tag_modal" style="margin-bottom: 1em; margin-left: 2em;">Modifier Tag</a>
  </div>

  <div class="modal hide fade" id="account_tag_modal" style="width: 900px; margin-left: -450px;">
    <%= render "modal_tags" %>
  </div>

  <div class="field">
    <div class="span2"><%= f.label :turnover %> :</div> <div class="input-append"><%= f.text_field :turnover %><span class="add-on"><%= t('number.currency.format.unit') %></span></div>
  </div>

  <div class="field">
    <div class="span2"><%= f.label :projected_turnover %> :</div> <div class="input-append"><%= f.text_field :projected_turnover %><span class="add-on"><%= t('number.currency.format.unit') %></span></div>
  </div>

  <div class="field">
    <div class="span2"><%= f.label :registration_number %> :</div> <%= f.text_field :registration_number %>
  </div>

  <div class="field">
    <div class="span2"><%= f.label :vat_number %> :</div> <%= f.text_field :vat_number %>
  </div>

  <div class="field">
    <div class="span2"><%= f.label :business_sector_code %> :</div> <%= f.text_field :business_sector_code %>
  </div>

  <div class="field">
    <div class="span2"><%= f.label :identifier %> :</div> <%= f.text_field :identifier %>
  </div>

  <div class="field">
    <div class="span2"> Code comptable : </div> <%= f.text_field :accounting_code %>
  </div>

  <div class="field">
    <div class="span2"> Collaborateur : </div> <%= f.collection_select :user_id, @users, :id, :full_name, :include_blank => true %>
  </div>

  <div class="field">
    <div class="span2">Notes : </div> <%=f.text_area :notes , :display_with => :simple_format, :rows => "5", :style => 'width: 50%;' %>
  </div>

  <br />

	<div class="field">
    <% if !@account.id.nil? %>
		<div class="span9"> Créé par : <%= @account.author.full_name %>, le </strong><%= @account.created_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />

		<% if !@account.modified_by.nil? %>
			<div class="span9"> Dernièrement modifié par : <%= @account.editor.full_name %>, le <%= @account.updated_at.strftime("%d/%m/%y à %H:%M") %>. </div> <br />

		<% else %>
		<% end %>

	<% end %>
	</div>

	<hr />

  <div class="row">
    <%= if !@account.id.nil? then f.button 'Modifier le compte', :type => :submit, :class =>"btn btn-primary",:id =>"account_validate_form" else f.button 'Créer un compte', :type => :submit, :class =>"btn btn-primary",:id =>"account_validate_form" end%>
  <% if current_user.has_role?(:admin) or current_user.has_role?(:super_user) %>
      <%= if !@account.id.nil? then  link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, @account,:title => "Supprimer le compte", :confirm => 'Attention : La suppression du compte entraine la suppression de tous les éléments liés à ce compte (contacts, évènements, devis, documents...) ! Confirmez-vous la suppression ?', :class =>"pull-right btn", :method => :delete end %>
  <% end %>

  </div>

</form>
<% end %>


