<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span8">
           <h3>Liste des Tags</h3>
         </div>
         <div class="pull-right">
         </div>
       </div>
     </div>

         
</div>


<div class="container-fluid">
          <div>
          <%= form_tag({:controller => "accounts", :action => "add_tag", :account_id => @account.id}, :method => "post") do %>
            <% @tags = Tag.order('name ASC').all %>
            <%= select_tag :tag_id, options_from_collection_for_select(@tags, "id", "name") %>
            <%= submit_tag("Affecter") %>
          <% end %>
          </div>
          
	<% if @account.tags.blank? %>
		<h4> Aucun tag n'est rattaché à ce compte </h4>
	<% else %>
        


<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Supp.</th>
  </tr>
  </thead>
  <tbody>
<% @tags = @account.tags.order('name').page(params[:page]) %>

<% @tags.each do |tag| %>
  <tr>
    <td style="width: 15em;"><%= link_to tag.name, tag %></td>
    <td><%= truncate(tag.description, :length => 600, :separator => ' ') %></td>
    <td><%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), :controller => "accounts", :action => "delete_tag", :account_id => @account.id, :tag_id => tag.id %></td>
<% end %>
  </tbody>
</table>

  <br />
  
  <%= paginate @tags %>
  
  
<% end %>
</div>
