<div class="container-fluid" style="margin-top: 1em;">
   

     <div class="well">
       <div class="row-fluid">
         <div class="span8">
           <h3>Tags de <%=@account.company%></h3>
         </div>
         </div>
       </div>
     </div>

         


<div class="container-fluid">
       <div class="row-fluid">
         <div class="span9">
	  <%
	       @tags = @account.tags.order('name').page(params[:page])
	       @tags_select_tmp = Tag.order('name ASC').all
	       @tags_select = @tags_select_tmp.reject { |e| @tags.include? e }
	  %>
          <%= form_tag({:controller => "accounts", :action => "add_tag", :account_id => @account.id}, :method => "post") do %>
            
            <%= select_tag :tag_id, options_from_collection_for_select(@tags_select, "id", "name") %>
            <%= submit_tag("Affecter") %>
          <% end %>
          </div>
		</div>
          
	<% if @account.tags.blank? %>
		<h4> Aucun Tag n'est rattaché à ce compte </h4>
	<% else %>
        


<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th><center>Nom</center></th>
    <th><center>Description</center></th>
    <th><center>Supprimer</center></th>
  </tr>
  </thead>
  <tbody>


<% @tags.each do |tag| %>
  <tr>
    <td style="width: 15em;"><center><%= tag.name %></center></td>
    <td><%= truncate(tag.description, :length => 500, :separator => ' ') %></td>
    <td><center><%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), :controller => "accounts", :action => "delete_tag", :account_id => @account.id, :tag_id => tag.id %></center></td>
	<% end %>
  </tbody>
</table>

  <br />
  
  <%= paginate @tags %>
  
  
<% end %>
</div>
