<%= render 'title', :locals => { :title => @title }%>

<!-- FILTER -->

  <div class="container-fluid">
    <div class="field">
      <label class="checkbox">
        <%= check_box_tag :generate, "yes" %>
        Filtrer les Comptes
      </label>
    </div>
  </div>

<div id="task_value" class="container-fluid" style= "display: none;">
  <%= form_for(:filter, :url => { :action => 'filter' } , :html => {:method => :get} ) do |f| %>
      <div class="row row-fluid">
		<div class="">
			<%= f.label :statut, "Société :", :class => "top" %>
			<%= f.text_field :company , :class =>"filter_tfield", :data => { :provide => 'typeahead', :source => @autocomplete_accounts}, :autocomplete=>"off"%>
		</div>
		<div class="">
			<%= f.label :filter_priority, "Contact :", :class => "top" %>
			<%= f.text_field :contact , :class =>"filter_tfield", :data => { :provide => 'typeahead', :source => @autocomplete_contacts}, :autocomplete=>"off"%>
        </select>
		</div>
		<div class="">
			<%= f.label :user_email, "téléphone :", :class => "top" %>
			<%= f.text_field :tel, :class =>"filter_tfield"%>
		</div>
		<div>
        <%= f.submit "Filtrer", :class =>"btn "%>
		</div>
	  </div>
   <% end %>
</div>  

<!-- END FILTER -->


<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
	  <th class="text-center">#</th>
      <th class="text-center">Soci&eacute;t&eacute;</th>
      <th class="text-center">Adresse</th>	  
      <th class="text-center">Genre</th>
      <th class="text-center">Téléphone</th>
	  <th class="text-center">Site Web</th>
      <th class="text-center">Éditer</th>        
    </tr>
    </thead>
	<tbody>
  <% @accounts.each do |account| %>
    <tr>
		<% if !account.id.blank? %>
			<% then %>
					<td><center><%= account.id %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.company.nil? %>
			<% then %>
				<td><center><%= link_to account.company, account_events_url(account),{:title => "Afficher les évenements"} %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.full_adress.blank? %>
			<% then %>
				<td><center><%= account.full_adress %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>
      
		<% if !account.category.nil? %>
			<% then %>
				<td><center><%= account.category %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.tel.blank? %>
			<% then %>
				<td><center><%= account.tel %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.web.blank? then %>
			<%
			url = account.web
				if !url[/http:\/\//].nil?
					url = url[7..url.length]
				elsif !url[/https:\/\//].nil?
					url = url[8..url.length]
				end
			%>
				<td><%= link_to url, account.web, :target => "_blank" %></td>
		<% else %>
				<td class="text-center">-</td>
		<% end %>
		<td><center><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_account_path(account) ,{:title => "Éditer le compte", :class =>"btn"}  %></center></td>
  </tr>
  <% end %>
  </tbody>
  </table>
  <%= paginate @accounts %>
</div>
