<%= render 'filter', :locals => { :filter => @filter }%>
<%= render 'title', :locals => { :title => @title }%>
<div class="container-fluid" style="margin-top: 1em;">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
	  <th><center>#</center></th>
      <th><center>Soci&eacute;t&eacute;</center></th>
      <th><center>Adresse</center></th>	  
      <th><center>Genre</center></th>
      <th><center>Téléphone</center></th>
	  <th><center>Site Web</center></th>
      <th><center>Éditer</center></th>        
    </tr>
    </thead>
	<tbody>
  <% @accounts.each do |account| %>
    <tr>
		<% if !account.id.blank? %>
			<% then %>
					<td><center><%= account.id %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.company.nil? %>
			<% then %>
				<td><center><%= link_to account.company, account_events_url(account),{:title => "Afficher les évenements"} %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.full_adress.blank? %>
			<% then %>
				<td><center><%= account.full_adress %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>
      
		<% if !account.category.nil? %>
			<% then %>
				<td><center><%= account.category %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.tel.blank? %>
			<% then %>
				<td><center><%= account.tel %></center></td>
			<% else %>
				<td><center>-</center></td>
		<% end %>

		<% if !account.web.blank? then %>
			<%
			url = account.web
				if !url[/http:\/\//].nil?
					url = url[7..url.length]
				elsif !url[/https:\/\//].nil?
					url = url[8..url.length]
				end
			%>
				<td><%= link_to url, account.web, :target => "_blank" %></td>
		<% else %>
				<td class="text-center">-</td>
		<% end %>
		<td><center><%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_account_path(account) ,{:title => "Éditer le compte", :class =>"btn"}  %></center></td>
  </tr>
  <% end %>
  </tbody>
  </table>
  <%= paginate @accounts %>
</div>