<%= render 'title', :locals => { :title => @title }%>

<!-- FILTER -->

<div id="task_value" class="container-fluid">
  <div class="well">
      <%= form_tag(accounts_path, method: :get) do %>
	      <div class="row row-fluid">

	      <%= render 'filter' %>

	  <%= submit_tag "Filtrer", :class =>"btn "%>
      <% end %>
      </div>
  </div>
</div>


<!-- END FILTER -->


<div class="container-fluid">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
	<th class="text-center">Soci&eacute;t&eacute;</th>
	<th class="text-center">Adresse</th>
	<th class="text-center">Genre</th>
	<th class="text-center">Téléphone</th>
	<th class="text-center">Site Web</th>
	<th class="text-center">Actions</th>
    </tr>
    </thead>
	<tbody>
  <% @accounts.each do |account| %>
    <tr>

		<% if !account.company.nil? %>
			<% then %>
				<td class="text-center"><%= link_to account.company, account_events_url(account),{:title => "Afficher les évenements"} %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>

		<% if !account.full_adress.blank? %>
			<% then %>
				<td class="text-center"><%= account.full_adress %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>

		<% if !account.account_category.nil? %>
			<% then %>
				<td class="text-center"><%= account.account_category.name %></td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>

		<% if !account.tel.blank? %>
			<% then %>
				<td class="text-center">
				      <% if @setting.clicktocall %>
					<%= link_to account.tel.html_safe, "tel:#{account.tel}" ,{:title => "Click-to-call", :class =>"action-tel"}%>
				      <% else %>
					<%= account.tel %>
				      <% end %>
				</td>
			<% else %>
				<td class="text-center">-</td>
		<% end %>

		<% if !account.web.blank? then %>
			<%
			url = account.web
				if !url[/http:\/\//].nil?
					url = url[7..url.length]
				elsif !url[/https:\/\//].nil?
					url = url[8..url.length]
				end
			%>
				<td class="text-center"><%= link_to url, account.web, :target => "_blank" %></td>
		<% else %>
				<td class="text-center">-</td>
		<% end %>
		<td class="text-center"><%= link_to '<i class="fa fa-edit fa-2x action-icon"></i>'.html_safe, edit_account_path(account) ,{:title => "Éditer le compte" } %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
  <%= paginate @accounts %>
</div>
