<div class="container-fluid">
   
   <div class="well" style="margin-top: 1em;">
      <div class="row-fluid">
        <div class="span9">
          <!--<h1>Compte n°<%= @account.id %></h1>-->
		  <h1 class="show_title" >Compte : <%= @account.company %></h1>
         </div>
          <%= link_to image_tag("glyphicons/glyphicons_210_left_arrow.png"), :back ,{:title => "Retour", :class =>"pull-right btn"} %>
		  <%= link_to image_tag("glyphicons/glyphicons_151_edit.png"), edit_account_path(@account),{:title => "Éditer", :class =>"pull-right btn"} %> 
      </div>
   </div>

</div>

<div class="container-fluid" style="margin-top: 1em;"">

<table class="table table-bordered table-striped table-hover">
    <thead>
		<tr>
	
		<td colspan="2">
			<center><h2>Détails</h2></center>
		</td>

		</tr>
		    </thead>
<tbody>		

	<% if !@account.company.nil? %>
		<tr>
		<td class="span3">
			<h3>Société</h3>
		</td>
		<td>
			<%= @account.company  %>
		</td>
		</tr>
	<% end %>

		
	<% if !@account.full_adress.blank? %>
		<tr>
		<td class="span3">
			<h3>Adresse</h3>
		</td>
		<td>
			<%= @account.full_adress  %>
		</td>
		</tr>
	<% end %>
		


	<% if !@account.country.blank? %>
		<tr>
		<td class="span3">
			<h3>Pays</h3>
		</td>
		<td>
			<%= @account.country  %>
		</td>
		</tr>	
	<% end %>
			
		

	<% if !@account.tel.blank? %>
		<tr>
		<td class="span3">
			<h3>Téléphone</h3>
		</td>
		<td>
			<%= @account.tel  %>
		</td>
		</tr>
	<% end %>
		

		
	<% if !@account.fax.blank? %>
		<tr>
		<td class="span3">
			<h3>Fax</h3>
		</td>
		<td>
			<%= @account.fax  %>
		</td>
		</tr>
	<% end %>
		

	<% if !@account.email.blank? %>
		<tr>
		<td class="span3">
			<h3>Adresse e-mail</h3>
		</td>
		<td>
			<%= mail_to(@account.email)  %>
		</td>
		</tr>	
	<% end %>
	
		

	<% if !@account.web.blank? %>
		<tr>
		<td class="span3">
			<h3>Site Web</h3>
		</td>
		<td>
			<%= link_to @account.web, @account.web, :target => "_blank" %>
		</td>
		</tr>
	<% end %>
		


	<% if !@account.category.blank? %>
		<tr>
		<td class="span3">
			<h3>Genre</h3>
		</td>
		<td>
			<%= @account.category %>
		</td>
		</tr>
	<% end %>



	<% if !@account.origin.nil? %>
		<tr>
		<td class="span3">
			<h3>Origine</h3>
		</td>
		<td>
			<%= @account.origin.name %>
		</td>
		</tr>
	<% end %>
		


	<% if !@account.user.nil?%>
		<tr>
	<% if current_user.email == @account.user.email %>
		<% then %>
		<td class="span3">
			<h3>Collaborateur lié</h3>
		</td>
		<td>
			moi-même
		</td>
		<% else %>
		<td class="span3">
			<h3>Collaborateur lié</h3>
		</td>
		<td>
			<%= @account.user.full_name %> - <%= mail_to(@account.user.email) %>
		</td>
	<% end %>
		</tr>
	<% end %>


	<% if  !@account.accounting_code.blank? %>
		<tr>
		<td class="span3">
			<h3>Code comptable</h3>
		</td>
		<td>
			<%= @account.accounting_code %>
		</td>
		</tr>
	<% end %>

		
</tbody>
</table>	
		
		
	<% if !@account.notes.blank? %>
	<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
		<td colspan="2">
		<center><h2>Notes</h2></center>
		</td>
		</tr>
		</thead>
			<tbody>
		<tr>
		<td>
		<!-- <div style="background-color: #fff; padding: 1px 15px;"> <%= simple_format(@account.notes , {}, :sanitize => false)%> </div> -->
		<%= simple_format(@account.notes , {}, :sanitize => false)%>
		</td>
		</tr>
	</tbody>
	</table>
	<% end %>			
		
<!-- CONTACT INFO -->
	<% if !@account.contacts.nil? %>
	<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<td colspan="6">
		        <center><h2>Contacts</h2></center>
		    </td>
		</tr>
	</thead>		
			<tbody>
		<tr>
			<td>
		        <center><h4>Nom</h4></center>
		    </td>
			<td>
		        <center><h4>Téléphone</h4></center>
		    </td>
			<td>
		        <center><h4>Mobile</h4></center>
		    </td>
			<td>
		        <center><h4>E-mail</h4></center>
		    </td>
			<td>
		        <center><h4>Fonction</h4></center>
		    </td>
		</tr>
		<% @account.contacts.each do |contact| %>
		<tr>

			<% if !contact.full_name.blank? %>
				<% then %>
					<td>
						<center><%= link_to contact.full_name ,  edit_contact_path(contact), {:title => "Éditer le contact"}  %></center>
					</td>
				<% else %>
					<td>
						<center>-</center>
					</td>
			<% end %>
			
			<% if !contact.tel.blank? %>
				<% then %>
					<td>
						<center><%= contact.tel%></center>
					</td>
				<% else %>
					<td>
						<center>-</center>
					</td>
			<% end %>
			

			<% if !contact.mobile.blank? %>
				<% then %>
					<td>
						<center><%= contact.mobile %></center>
					</td>
				<% else %>
					<td>
						<center>-</center>
					</td>
			<% end %>

			<% if !contact.email.blank? %>
				<% then %>
					<td>
						<center><%= mail_to(contact.email) %></center>
					</td>
				<% else %>
					<td>
						<center>-</center>
					</td>
			<% end %>
			
			<% if !contact.job.blank? %>
				<% then %>
					<td>
						<center><%= contact.job %></center>
					</td>
				<% else %>
					<td>
						<center>-</center>
					</td>
			<% end %>			

		</tr>
		<% end %>
	</tbody>
	</table>
	<% end %>	
<!--CONTACT INFO -->		
		
	<!-- OTHER INFO -->
		<table class="table table-bordered table-striped table-hover">
		<thead>
		<tr>
		<td colspan="2">
		<center><h2>Informations complémentaires</h2></center>
		</td>
		</tr>
		</thead>
		<tbody>
		<tr>
		<td class="span3"><h3>Créé par</h3></td>
		
		<% if current_user.email == @account.author.email %>
			<% then %>
			<td>moi-même, le <%= @account.created_at.strftime("%d/%m/%y à %H:%M") %></td>
			<% else %>
			<td class="span3"><%= @account.author.full_name %>, le <%= @account.created_at.strftime("%d/%m/%y à %H:%M") %></td>
		<% end %>
		</tr>

				<% if !@account.modified_by.nil? %>
		<tr>
			<% if current_user.email == @account.editor.email %>
				<% then %>
					<td class="span3"><h3><abbr title="Dernière modification">Modifié par</abbr></h3></td>
					<td>moi-même, le <%= @account.created_at.strftime("%d/%m/%y à %H:%M") %></td>
				<% else %>
					<td class="span3"><h3><abbr title="Dernière modification">Modifié par</abbr></h3></td>
					<td><%= @account.editor.full_name %>, le <%= @account.updated_at.strftime("%d/%m/%y à %H:%M") %></td>
			<% end %>
		</tr>
		<% end %>
		
<!-- END OTHER INFO -->
	
		
		
</tbody>
</table>

<hr/>	     
  <div class="row">
      <%= link_to image_tag("glyphicons/glyphicons_016_bin.png"), @account, :title => "Supprimer la tâche" , :confirm => 'Confirmer la suppression ?', :class =>"pull-right btn", :method => :delete %>    
  </div>	

